{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Instagram","description":"Gets Instagram profiles, posts, and reels"}],"paths":{"/v2/instagram/post/comments":{"get":{"tags":["Instagram"],"summary":"Comments","description":"Get comments from an Instagram post or reel","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the post or reel to get comments from","schema":{"type":"string"},"example":"https://www.instagram.com/reel/DOq6eV6iIgD"},{"name":"cursor","in":"query","required":false,"description":"The cursor to get more comments. Get 'cursor' from previous response.","schema":{"type":"string"},"example":"eyJjYWNoZWRfY29tbWVud..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":33929114,"comments":[{"id":"18051843701642870","text":"\"...but who wants to know people who don't love animals anyway?\". ❤️","created_at":"2025-09-16T17:03:04.000Z","user":{"is_verified":false,"id":"46773599357","pk":"46773599357","is_unpublished":null,"profile_pic_url":"https://scontent-dfw5-1.cdninstagram.com/v/t51.2885-19/542013919_18051324464559358_4060586438619554592_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmMyIn0&_nc_ht=scontent-dfw5-1.cdninstagram.com&_nc_cat=110&_nc_oc=Q6cZ2QEVOAPWq7DXE6cVfhoMQb0GTMvPo_vizELP9TUgQylvA5jBW1WSonDzvjeTQpAGJ3w&_nc_ohc=b__bzrMG6kYQ7kNvwGXM67R&_nc_gid=oDBffhoPbGLAq2tbCGpGKg&edm=AKp6CbIBAAAA&ccb=7-5&oh=00_AflThVwZ86n6DiACA5-zJCNFQZWBwHfaG6AXZclgea57BA&oe=695A3139&_nc_sid=d62176","username":"catherina_thijs","fbid_v2":"17841446780736699"}}],"cursor":"eyJjYWNoZWRfY29tbWVudHNfY3Vy...."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}