{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook","description":"Get public Facebook profiles and posts"}],"paths":{"/v1/facebook/post/transcript":{"get":{"tags":["Facebook"],"summary":"Transcript","description":"Get the transcript of a Facebook post. Can be a post or reel. You can only get a transcript if the video is under 2 minutes.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook post URL","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":49999939403,"transcript":"We're fishing\nbite x2\nBest bait\non this pole\nsomething else\nThere's a chance\ncan get a\nmythic pistol\nYou have to\nall game\nstill won't\nNuh uh\nliterally\nthe spawn\non it\n1 in 1000\nlike that\nWell watch\nright here\nGonna do it\nstream\nto finding\npistol\nto still lose with it\nThat was very\nvery much\nhoney\nthank you very much"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}