{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Threads","description":"Get Threads posts"}],"paths":{"/v1/threads/search/users":{"get":{"tags":["Threads"],"summary":"Search Users","description":"Search for users by username","parameters":[{"name":"query","in":"query","required":true,"description":"Username to search for","schema":{"type":"string"},"example":"shams"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"users":[{"username":"shams","pk":"5951152863","is_active_on_text_post_app":true,"full_name":"Shams Charania","profile_pic_url":"https://instagram.flas1-2.fna.fbcdn.net/v/t51.2885-19/482795192_3376548399146227_6340123271493467395_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=instagram.flas1-2.fna.fbcdn.net&_nc_cat=1&_nc_oc=Q6cZ2QGGqXP9vnbg6p9G1kF4lrIwvuvWx0OeJ6C8nPcAyo-_4m8XC-91nKJBOJb8u0utyuiAJMdjpjH1-dv5DBfEeQFp&_nc_ohc=SCH32yXVc04Q7kNvwEaKg6u&_nc_gid=7vwZl0t6h0jZxQ23lXCMVw&edm=AHhEZX8BAAAA&ccb=7-5&oh=00_AfEIzDlsXrO-ShRXs19ZmpyYb_9IbJC9dWAUyvar-NvZ_A&oe=681B5320&_nc_sid=e8efdc","is_verified":true,"has_onboarded_to_text_post_app":true,"id":"5951152863"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}