{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Bluesky","description":"Get Bluesky posts and profile info"}],"paths":{"/bluesky/profile":{"get":{"tags":["Bluesky"],"summary":"Profile","description":"Get Bluesky profile info","parameters":[{"name":"handle","in":"query","required":true,"description":"Bluesky handle","schema":{"type":"string"},"example":"espn.com"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"did":"did:plc:x7d6j54pm22ufehkes6jo4jf","handle":"espn.com","displayName":"ESPN","avatar":"https://cdn.bsky.app/img/avatar/plain/did:plc:x7d6j54pm22ufehkes6jo4jf/bafkreie4oxawqqsfzvk47ysr3unsnmviedzpylxmwxnpa534to2bzas4ie@jpeg","associated":{"lists":0,"feedgens":0,"starterPacks":0,"labeler":false},"labels":[],"createdAt":"2024-11-25T21:49:49.345Z","verification":{"verifications":[{"issuer":"did:plc:z72i7hdynmk6r22z27h6tvur","uri":"at://did:plc:z72i7hdynmk6r22z27h6tvur/app.bsky.graph.verification/3lndppjqgb72f","isValid":true,"createdAt":"2025-04-21T10:44:20.398Z"}],"verifiedStatus":"valid","trustedVerifierStatus":"none"},"description":"Serving sports fans. Anytime. Anywhere.","indexedAt":"2024-12-19T20:49:48.843Z","followersCount":198477,"followsCount":32,"postsCount":659}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}