{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/channel/shorts":{"get":{"tags":["YouTube"],"summary":"Channel Shorts","description":"Get the shorts from a channel. If you need more details about the short like description, publish date, etc, you'll need to use the 'Video/Short Details' endpoint.","parameters":[{"name":"handle","in":"query","required":false,"description":"Can pass channelId or handle","schema":{"type":"string"},"example":"starterstory"},{"name":"channelId","in":"query","required":false,"description":"Can pass channelId or handle","schema":{"type":"string"},"example":"UC-9-kyTW8ZkZNDHQJ6FgpwQ"},{"name":"sort","in":"query","required":false,"description":"Sort by newest or popular","schema":{"type":"string","enum":["newest","popular"]},"example":"newest"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":9998708,"videos":[],"channels":[],"playlists":[],"shorts":[{"type":"short","id":"Rdr8357wIRA","url":"https://www.youtube.com/watch?v=Rdr8357wIRA","title":"My app failed, then I changed one thing, and made $80K","viewCountText":"8,035","viewCountInt":8035,"description":"Praneeth quit his $250K/year job to build an app that failed. Then, he changed one thing and made $80K","commentCountText":"12","commentCountInt":12,"likeCountInt":253,"likeCountText":"253"}],"shelves":[],"lives":[],"continuationToken":"4qmFsgK9DBIYVUNoaHc2RGxLS1....."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}