{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook Ad Library","description":"Scrapes the Facebook (Meta) Ad Library"}],"paths":{"/v1/facebook/adLibrary/company/ads":{"get":{"tags":["Facebook Ad Library"],"summary":"Company Ads","description":"Get all the ads a company has running. If params become too large, make this a POST request and pass the params in the body.","parameters":[{"name":"pageId","in":"query","required":false,"description":"The companies ad library page id. You can get this with my Search For Companies Endpoint. Can either use this or companyName","schema":{"type":"string"},"example":"367152833370567"},{"name":"companyName","in":"query","required":false,"description":"The name of the company. Can either use this or pageId","schema":{"type":"string"},"example":"Lululemon"},{"name":"country","in":"query","required":false,"description":"This can only be one country. It has to be the 2 letter code for the country. It defaults to ALL.","schema":{"type":"string"},"example":"ALL"},{"name":"status","in":"query","required":false,"description":"Status of the ad. Defaults to ACTIVE.","schema":{"type":"string","enum":["ALL","ACTIVE","INACTIVE"]},"example":"ACTIVE"},{"name":"media_type","in":"query","required":false,"description":"Media type of the ad. Defaults to ALL. Meme refers to ads with image and text. Not sure why they call it meme.","schema":{"type":"string","enum":["ALL","IMAGE","VIDEO","MEME","IMAGE_AND_MEME","NONE"]},"example":"ALL"},{"name":"language","in":"query","required":false,"description":"Language to filter ads on. Needs to be 2 letter language code, ie EN, ES, FR, etc","schema":{"type":"string"},"example":"EN"},{"name":"sort_by","in":"query","required":false,"description":"Sort by impressions (high to low), or Most Recent (relevancy_monthly_grouped). Defaults to impressions.","schema":{"type":"string","enum":["total_impressions","relevancy_monthly_grouped"]},"example":"total_impressions"},{"name":"start_date","in":"query","required":false,"description":"Start date to search for. Format: YYYY-MM-DD","schema":{"type":"string"},"example":"2025-01-01"},{"name":"end_date","in":"query","required":false,"description":"End date to search for. Format: YYYY-MM-DD","schema":{"type":"string"},"example":"2025-12-31"},{"name":"cursor","in":"query","required":false,"description":"Cursor to paginate through results","schema":{"type":"string"},"example":"AQHRBUAxNmFlxBVMFL6uTb1ICFsV65O4SqmPbcVZJhiveBpPS1hFHAmL6yCJcF760cXP"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"results":[{"ad_archive_id":"1212560900568826","end_date":1750230000,"is_aaa_eligible":false,"is_active":true,"page_id":"15087023444","page_name":"Nike","political_countries":[],"reach_estimate":null,"snapshot":{"body":{"text":"Que el frío no te detenga. Explora la colección de invierno con estilo y actitud Nike. 🧥"},"branded_content":null,"brazil_tax_id":null,"byline":null,"caption":"fb.com","cards":[],"cta_text":"Learn more","cta_type":"LEARN_MORE","country_iso_code":null,"current_page_name":"Nike","disclaimer_label":null,"display_format":"VIDEO","event":null,"images":[],"is_reshared":false,"link_description":null,"link_url":"https://fb.com/canvas_doc/569658969305127","page_categories":["Ropa deportiva"],"page_entity_type":"PERSON_PROFILE","page_id":"15087023444","page_is_deleted":false,"page_is_profile_page":false,"page_like_count":37497718,"page_name":"Nike","page_profile_picture_url":"https://scontent-ord5-1.xx.fbcdn.net/v/t39.35426-6/508742493_1906025190144374_200543536673957484_n.jpg?stp=dst-jpg_s60x60_tt6&_nc_cat=108&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=GUPolKbhQA4Q7kNvwH8Woql&_nc_oc=AdnsaYY9-9p8kkFm594f86VsMEc2Wias8yMQ69ZC2VOv642bjUgMRJNtfihFM4vr62o&_nc_zt=14&_nc_ht=scontent-ord5-1.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfO73iYbuEFgc4yfmi6pUnjLAd0I1W5ac9hmHZqjq2KP3g&oe=685A4C47","page_profile_uri":"https://facebook.com/nike","root_reshared_post":null,"title":"Look de invierno activado","videos":[{"video_hd_url":"https://video-ord5-2.xx.fbcdn.net/v/t42.1790-2/508345466_4710910465802253_4502560017294477681_n.?_nc_cat=111&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=_z9ndrNSqU4Q7kNvwErNTOY&_nc_oc=AdlSb3GVLWTjl3iI6uvIsrEya2ZR-1ex8t8yXOr3e9u13u3xboXylCxrkWzfLsvDQcU&_nc_zt=28&_nc_ht=video-ord5-2.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfNNOrS6GBT-R_RV15FpphRv-mUwyGoqJClQpP-LCOcqfQ&oe=685A6586","video_preview_image_url":"https://scontent-ord5-3.xx.fbcdn.net/v/t39.35426-6/508472131_2706791729511119_7655112167724018421_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=-GGzon31Wl4Q7kNvwHpWdG2&_nc_oc=AdnRHcWzvX05mBu9KrhDjKgOuCYLKjNg_hm8eKY2dNaFg-4tpYznNPJvbLl7CAnB-2A&_nc_zt=14&_nc_ht=scontent-ord5-3.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfMijP4k74e949uFas1PkfzzwiYWH_G49J4W-EYJa31VEQ&oe=685A3DDC","video_sd_url":"https://video-ord5-3.xx.fbcdn.net/v/t42.1790-2/503830433_1272051757688626_4613408767025280545_n.mp4?_nc_cat=106&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=zKD6ziOmKVgQ7kNvwFGCx5N&_nc_oc=AdkdTw235NDuAczGAvCTLl5TnQ8rUcWjy1QBEj8CC4Id8hVQPMexxPtU3froQOYk1OE&_nc_zt=28&_nc_ht=video-ord5-3.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfNqJDVyyTMYnf7xs5te87vB3A0v3IGy41tdxT1ZvrAAlQ&oe=685A4FC3","watermarked_video_hd_url":"","watermarked_video_sd_url":""}],"additional_info":null,"ec_certificates":[],"extra_images":[],"extra_links":["https://www.nike.com.pe/productos/ropa/casacas-y-chalecos_conjunto_pantalones_poleras?utm_source=facebook&utm_medium=paid&utm_campaign=junio_invierno_transacciones&utm_content=intereses2_invierno_collection2"],"extra_texts":[],"extra_videos":[{"video_hd_handle":"https://video-ord5-3.xx.fbcdn.net/v/t42.1790-2/508262243_4710910432468923_4352661581573318069_n.?_nc_cat=107&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=bQXAtOCS-PMQ7kNvwEbVbC_&_nc_oc=AdnZ87pJ-oeIb5L7fizjaxNmRp0qkvq2SP_ADcnPFzMPca1L8gvUkpmF_c5vrAYmetw&_nc_zt=28&_nc_ht=video-ord5-3.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfM8Q_xyap9vnoEn5T7FqI9yfO1ySPPKyJVGXPmaim5tCw&oe=685A58CD","video_sd_handle":"https://video-ord5-3.xx.fbcdn.net/v/t42.1790-2/503830433_1272051757688626_4613408767025280545_n.mp4?_nc_cat=106&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=zKD6ziOmKVgQ7kNvwFGCx5N&_nc_oc=AdkdTw235NDuAczGAvCTLl5TnQ8rUcWjy1QBEj8CC4Id8hVQPMexxPtU3froQOYk1OE&_nc_zt=28&_nc_ht=video-ord5-3.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfNqJDVyyTMYnf7xs5te87vB3A0v3IGy41tdxT1ZvrAAlQ&oe=685A4FC3","watermarked_video_hd_url":null,"watermarked_video_sd_url":null}]},"total_active_time":null,"spend":null,"start_date":1750143600,"publisher_platform":["FACEBOOK"],"url":"https://www.facebook.com/ads/library?id=1212560900568826","start_date_string":"2025-06-17T07:00:00.000Z","end_date_string":"2025-06-18T07:00:00.000Z"}],"cursor":"AQHR2LpCDWOZyAGp-ZKr8rUsapAXh8rWjYuNxVvuU7L0kte18hxkxnaXM3e5jEZNgdcU"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}