{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"LinkedIn","description":"Scrape LinkedIn"}],"paths":{"/v1/linkedin/company/posts":{"get":{"tags":["LinkedIn"],"summary":"Company Posts","description":"Get a LinkedIn company posts. Can only get 7 pages total (LinkedIn limitation)","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn company page to get","schema":{"type":"string"},"example":"https://linkedin.com/company/shopify"},{"name":"page","in":"query","required":false,"description":"The page number to get","schema":{"type":"number"},"example":"1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":49999951019,"posts":[{"url":"https://www.linkedin.com/posts/shopify_merchants-can-now-use-sidekick-voice-mode-activity-7429579034096726016-uX1e","id":"7429579034096726016","datePublished":"2026-02-17T17:34:36.617Z","text":"Merchants can now use Sidekick voice mode in the Shopify mobile app.\n\nOne of the first to try it out: Jimmy Donaldson, aka MrBeast.\n\nVoice mode makes it even easier to tackle tasks and get business insights on the go. It’s like having an AI-powered Shopify expert right in your pocket."}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}