{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Truth Social","description":"As of 8/27/2025, Truth Social is only letting you view the public profile/posts of prominent users (like Trump and Vance), but requiring auth for everyone else. So sadly most other accounts will not work :("}],"paths":{"/v1/truthsocial/user/posts":{"get":{"tags":["Truth Social"],"summary":"User Posts","description":"As of 8/27/2025, Truth Social is only letting you view the public profile/posts of prominent users (like Trump and Vance), but requiring auth for everyone else. So sadly most other accounts will not work :(","parameters":[{"name":"handle","in":"query","required":false,"description":"Truth Social username","schema":{"type":"string"},"example":"realDonaldTrump"},{"name":"user_id","in":"query","required":false,"description":"Truth Social user id. Use this for faster response times. Trumps is 107780257626128497. It is the 'id' field in the profile endpoint.","schema":{"type":"string"},"example":"107780257626128497"},{"name":"next_max_id","in":"query","required":false,"description":"Used to paginate to next page","schema":{"type":"string"},"example":"107780257626128497"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"114712957163880045","text":"","created_at":"2025-06-20T00:53:36.183Z","language":null,"url":"https://truthsocial.com/@realDonaldTrump/114712957163880045","replies_count":58,"reblogs_count":165,"favourites_count":630,"upvotes_count":630,"downvotes_count":0,"media_attachments":[{"id":"114712956416948688","type":"video","url":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/media_attachments/files/114/712/956/416/948/688/original/3f067916e3c0c704.mp4","preview_url":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/media_attachments/thumbnails/114/712/956/416/948/688/original/6e823189e7100622.jpg","external_video_id":"v6surln","remote_url":null,"preview_remote_url":null,"text_url":null,"meta":{"colors":{"accent":"#e4e1ec","background":"#1d1c22","foreground":"#e4e1ec"},"original":{"bitrate":1682510,"duration":138.176,"frame_rate":"25/1","height":720,"width":1280},"small":{"aspect":1.7783333333333333,"height":600,"size":"1067x600","width":1067}},"description":null,"blurhash":"UE9%rEt9%ObH_4RibIRjtQWBjbjaNFoft7WB","processing":"complete"}]}],"next_max_id":"114711182786951532"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}