{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Reddit","description":"Scrape Reddit posts and comments"}],"paths":{"/v1/reddit/search":{"get":{"tags":["Reddit"],"summary":"Search","description":"Search Reddit for posts","parameters":[{"name":"query","in":"query","required":true,"description":"Search query","schema":{"type":"string"}},{"name":"sort","in":"query","required":false,"description":"Sort by","schema":{"type":"string","enum":["relevance","new","top","comment_count"]},"example":"relevance"},{"name":"timeframe","in":"query","required":false,"description":"Timeframe","schema":{"type":"string","enum":["all","day","week","month","year"]},"example":"all"},{"name":"after","in":"query","required":false,"description":"Used to paginate to next page","schema":{"type":"string"},"example":"t3_1i8z28z"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"w63dgy","author":"Morgentau7","author_fullname":"t2_2hy2xjit","subreddit":"MadeMeSmile","title":"Player realizes that he nearly stole the dogs job","downs":0,"name":"t3_w63dgy","upvote_ratio":0.97,"ups":220403,"total_awards_received":0,"score":220403,"created":1658580900,"num_comments":1246,"url":"https://www.reddit.com/r/MadeMeSmile/comments/w63dgy/player_realizes_that_he_nearly_stole_the_dogs_job/","subreddit_subscribers":11605207,"is_video":true,"created_utc":1658580900}],"after":"t3_1izmcgx"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}