{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"LinkedIn","description":"Scrape LinkedIn"}],"paths":{"/v1/linkedin/profile":{"get":{"tags":["LinkedIn"],"summary":"Person's Profile","description":"Get a person's public profile (including recent posts) *Note this is for a persons public profile. This only returns what's publicly available, ie what you see in an incognito browser. So unfortunately LinkedIn doesn't return work history or job title publicly anymore :(","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn profile to get","schema":{"type":"string"},"example":"https://www.linkedin.com/in/parrsam/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"name":"Sam Parr","image":"https://media.licdn.com/dms/image/v2/C4E03AQH3Vz1qV_rNVQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1633389534107?e=2147483647&v=beta&t=8x4PIfTIYFOvpI1QRCDyAhNprZv0NY9kAp4EOdvUxLQ","location":"Westport, Connecticut, United States","followers":64803,"connections":"","about":"I founded The Hustle, a business news media company with $12 when I was around 25 years…","recentPosts":[{"title":"Super excited to watch the success of a company built by a Gauntlet AI grad: One missed contract renewal can cost your company $100k, $250k or more.…","activityType":"Posted by Austen Allred","link":"https://www.linkedin.com/posts/austenallred_super-excited-to-watch-the-success-of-a-company-activity-7333305862695919617-zTPI","image":"https://static.licdn.com/aero-v1/sc/h/53n89ecoxpr1qrki1do3alazb"}],"experience":[{"@type":"Organization","name":"Hampton","url":"https://www.linkedin.com/company/myhampton","location":"Austin, Texas Metropolitan Area","member":{"@type":"OrganizationRole","description":"******* ** * ****** ****** ********** ********* *** *************, ******** *** ****. <**><**>**'** ** * *** ****, *** ***...* *****.<**><**>*****://***.***********.***/"}}],"articles":[{"headline":"RANT: How to PROPERLY analyze risk","author":"Sam Parr","datePublished":"2017-09-17T13:08:55.000+00:00","image":"https://media.licdn.com/dms/image/v2/C5612AQG9YbLJodxr8g/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1520096757452?e=2147483647&v=beta&t=USPma8tkR65yot8_Ye0zDfH2llLpTrZdZGHtbzmPjQ0","articleBody":"I've been talking to a few people who want to leave...."}],"activity":[{"title":"Othership is this cool suana place in NYC. The founder is hosting a bunch of Hampton members for a special session + a talk on how he built the…","activityType":"Shared by Sam Parr","link":"https://www.linkedin.com/posts/parrsam_exclusive-othership-session-qa-with-founder-activity-7328134812047704064-4NUL","image":"https://media.licdn.com/dms/image/sync/v2/D4D27AQGJaeiyu-gbrA/articleshare-shrink_1280_800/B4DZbLDrHUHsAU-/0/1747163460743?e=2147483647&v=beta&t=rZtGF2kjhFfLy-TZil0d_bakH4UfHnK-dcxEsrZSl5s"}],"education":[{"@type":"EducationalOrganization","name":"Belmont University","url":"https://www.linkedin.com/school/belmont-university/","member":{"@type":"OrganizationRole","startDate":2008,"endDate":2012}}],"publications":[{"name":"How my partner and I created a unique company in tough times","url":"http://online.wsj.com/article/SB10001424127887324694904578602013087282582.html&urlhash=SvYD"}],"projects":[{"name":"Hustle Con 2015","url":"https://www.linkedin.com/in/elizabethyin","dateRange":"2015","description":"","contributors":[{"name":"Elizabeth Yin","link":"https://www.linkedin.com/in/elizabethyin","image":"https://media.licdn.com/dms/image/v2/C5603AQFFdhmfyyiZig/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1581292451105?e=2147483647&v=beta&t=IwghMTQZZjJzIGbN6e1IYfWVBDAkgLP_kSJJPOkzQDg"}]}],"recommendations":[{"name":"Jackie M.","link":"https://www.linkedin.com/in/jackiemooney","image":"https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2","text":"“I got to know Sam over 2 years of working at The Hustle. We grew from a company of 4 to 15 in that time and there was never a dull moment- anyone who knows Sam knows that he adds tons of energy to the workplace. This guy figures out what he wants to accomplish and makes it happen. He remains wildly driven and goal-oriented while constantly focused on both his personal and professional growth.”"}],"similarProfiles":[{"link":"https://ca.linkedin.com/in/stevemcody","name":"Steve Cody","image":"https://media.licdn.com/dms/image/v2/D5603AQEl17hna0u1ew/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1673387873184?e=2147483647&v=beta&t=pN-Y2CS1AQ8AOKbTo_2_B0AXjof4nGLKBdhNZTfFYJA"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}