{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Threads","description":"Get Threads posts"}],"paths":{"/v1/threads/user/posts":{"get":{"tags":["Threads"],"summary":"Posts","description":"Get Threads posts by user. Sadly, Threads only allows you to see the last 20-30ish posts of the user :(","parameters":[{"name":"handle","in":"query","required":true,"description":"Threads username","schema":{"type":"string"},"example":"trendspider"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"3656367813102434565_63055343223","pk":"3656367813102434565","caption":{"text":"Spoiler alert: We're testing a way for you to hide spoilers in your Threads posts.","pk":"17978979272714446","has_translation":null},"code":"DK-BydcJHkF","like_count":96434,"taken_at":1750093031,"user":{"friendship_status":null,"pk":"63055343223","profile_pic_url":"https://scontent-hou1-1.cdninstagram.com/v/t51.2885-19/452737457_1313286386312102_744138929735022550_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-hou1-1.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QFGyGWANff-XHjZgOOWs_xNC29qmUTVstyb7y0tS-ajYvJSDJTf5fJ3qHVk4igARGY&_nc_ohc=4jx-dLM0V7UQ7kNvwEKpQFP&_nc_gid=butCRrRE5aFQP4QL-mwt9A&edm=AA3DLpEBAAAA&ccb=7-5&oh=00_AfMVigSXFw6UnanNMOzkIu2vA31TUJ_4uOlpGTH6q3dqTw&oe=685A71CE&_nc_sid=d92198","username":"zuck","id":"63055343223","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":true,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true},"url":"https://www.threads.com/@zuck/post/DK-BydcJHkF"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}