{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Twitter","description":"Get Twitter profiles, tweets, followers and more"}],"paths":{"/v1/twitter/tweet":{"get":{"tags":["Twitter"],"summary":"Tweet Details","description":"Get detailed information about a specific tweet including engagement","parameters":[{"name":"url","in":"query","required":true,"description":"Tweet URL","schema":{"type":"string"}},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"rest_id":"1935730646267158797","views":{"count":"27539","state":"EnabledWithCount"},"source":"<a href=\"https://mobile.twitter.com\" rel=\"nofollow\">Twitter Web App</a>","legacy":{"bookmark_count":95,"bookmarked":false,"created_at":"Thu Jun 19 16:05:24 +0000 2025","conversation_id_str":"1935730646267158797","display_text_range":[0],"entities":{"hashtags":[],"media":[{"display_url":"pic.x.com/YywdjQZde8","expanded_url":"https://x.com/Austen/status/1935730646267158797/photo/1","id_str":"1935730260303069184","indices":[149],"media_key":"3_1935730260303069184","media_url_https":"https://pbs.twimg.com/media/Gt0YanJWwAA6B80.jpg","type":"photo","url":"https://t.co/YywdjQZde8","ext_media_availability":{"status":"Available"},"allow_download_status":{"allow_download":true},"media_results":{"result":{"media_key":"3_1935730260303069184"}}}],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[]},"extended_entities":{"media":[{"display_url":"pic.x.com/YywdjQZde8","expanded_url":"https://x.com/Austen/status/1935730646267158797/photo/1","id_str":"1935730260303069184","indices":[149],"media_key":"3_1935730260303069184","media_url_https":"https://pbs.twimg.com/media/Gt0YanJWwAA6B80.jpg","type":"photo","url":"https://t.co/YywdjQZde8","ext_media_availability":{"status":"Available"},"allow_download_status":{"allow_download":true},"media_results":{"result":{"media_key":"3_1935730260303069184"}}}]},"favorite_count":80,"favorited":false,"full_text":"This was created by a Gauntlet AI grad based on a whole lot of experimentation.\n\nOne of the most important things an AI dev can begin to understand. https://t.co/YywdjQZde8","is_quote_status":false,"lang":"en","possibly_sensitive":false,"possibly_sensitive_editable":true,"quote_count":3,"reply_count":6,"retweet_count":5,"retweeted":false,"user_id_str":"221838349","id_str":"1935730646267158797"}}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}