{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Threads","description":"Get Threads posts"}],"paths":{"/v1/threads/profile":{"get":{"tags":["Threads"],"summary":"Profile","description":"Get Threads profile info","parameters":[{"name":"handle","in":"query","required":true,"description":"Threads username","schema":{"type":"string"},"example":"trendspider"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"pk":"63496592589","text_post_app_is_private":false,"has_onboarded_to_text_post_app":true,"friendship_status":null,"profile_pic_url":"https://scontent-atl3-2.cdninstagram.com/v/t51.2885-19/483433564_655589117415062_7541542786235693538_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-atl3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHDtD3999Ou4pcMMH7DERwg7b_8MUH39VGHj-ZYaqdB2I3m-ESqs1jnoXQnYBB1LuxmAKVJiGexqr1KcbyKld_3&_nc_ohc=jnD03vDTtYoQ7kNvwH8q9Xl&_nc_gid=El4dvFdafrjTWXuQgkba9Q&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfGGVFQMzxW19jgaoPNQhfTiZt4Hrkmgq1cnt5iWpEGqxA&oe=67FFAFC8&_nc_sid=10d13b","username":"sportsillustrated","text_post_app_remove_mention_entrypoint":null,"show_text_post_app_replies_tab":true,"text_app_custom_feeds":null,"gating":null,"follower_count":551296,"profile_context_facepile_users":null,"hd_profile_pic_versions":[{"height":320,"url":"https://scontent-atl3-2.cdninstagram.com/v/t51.2885-19/483433564_655589117415062_7541542786235693538_n.jpg?stp=dst-jpg_s320x320_tt6&_nc_ht=scontent-atl3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHDtD3999Ou4pcMMH7DERwg7b_8MUH39VGHj-ZYaqdB2I3m-ESqs1jnoXQnYBB1LuxmAKVJiGexqr1KcbyKld_3&_nc_ohc=jnD03vDTtYoQ7kNvwH8q9Xl&_nc_gid=El4dvFdafrjTWXuQgkba9Q&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfFikDi79lRI5uOb6TB0xYEkQwPWwZ1haHqpW4B-uDFVMw&oe=67FFAFC8&_nc_sid=10d13b","width":320}],"is_verified":true,"biography":"Sports, sports and more sports.","text_app_biography":{"text_fragments":{"fragments":[{"fragment_type":"plaintext","link_fragment":null,"mention_fragment":null,"plaintext":"Sports, sports and more sports.","tag_fragment":null,"linkified_web_url":null}]}},"full_name":"Sports Illustrated","bio_links":[{"url":"https://lnk.bio/sportsillustrated","is_verified":false,"link_id":"17882982429146262"}],"transparency_label":null,"is_threads_only_user":false,"show_text_post_app_badge":true,"id":"63496592589"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}