{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Instagram","description":"Gets Instagram profiles, posts, and reels"}],"paths":{"/v1/instagram/user/highlights":{"get":{"tags":["Instagram"],"summary":"Story Highlights","description":"Get story highlights from an Instagram user","parameters":[{"name":"user_id","in":"query","required":false,"description":"Instagram user id. Use for faster response times.","schema":{"type":"string"},"example":"2700692569"},{"name":"handle","in":"query","required":false,"description":"Instagram handle. Use user_id for faster response times.","schema":{"type":"string"},"example":"jane"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"highlights":[{"__typename":"GraphHighlightReel","id":"18067016518767507","cover_media":{"thumbnail_src":"https://scontent-atl3-1.cdninstagram.com/v/t51.2885-15/479737232_1405856350793820_7928432152706230890_n.jpg?stp=c0.248.640.640a_dst-jpg_e15_tt6&_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_cat=100&_nc_oc=Q6cZ2QFp33CnPIjTITbJL483a_ZGgbaCZ_M2CLjXKDaTtNtjnH0vMIJHdZhYlMp8pitL7H0&_nc_ohc=yQlHN7CDZ7IQ7kNvwFL7xsz&_nc_gid=_FojUPY_PyEb8t9oWJExMQ&edm=AGW0Xe4BAAAA&ccb=7-5&oh=00_AfL3lEQ_ujUci_Xg8fnjYX3nityUOfroonJnwKyr9yKWdg&oe=682184F5&_nc_sid=94fea1"},"cover_media_cropped_thumbnail":{"url":"https://scontent-atl3-1.cdninstagram.com/v/t51.2885-15/479737232_1405856350793820_7928432152706230890_n.jpg?stp=c0.202.640.640a_dst-jpg_e15_s150x150_tt6&_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_cat=100&_nc_oc=Q6cZ2QFp33CnPIjTITbJL483a_ZGgbaCZ_M2CLjXKDaTtNtjnH0vMIJHdZhYlMp8pitL7H0&_nc_ohc=yQlHN7CDZ7IQ7kNvwFL7xsz&_nc_gid=_FojUPY_PyEb8t9oWJExMQ&edm=AGW0Xe4BAAAA&ccb=7-5&oh=00_AfL4zidNtWdVh-3T2E2qOiLS4ks_Z9UbmTSFbCX3SFmbBg&oe=682184F5&_nc_sid=94fea1"},"owner":{"__typename":"GraphUser","id":"21393171","profile_pic_url":"https://scontent-atl3-2.cdninstagram.com/v/t51.2885-19/482782944_496357423346018_5818268903424754264_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-atl3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QFp33CnPIjTITbJL483a_ZGgbaCZ_M2CLjXKDaTtNtjnH0vMIJHdZhYlMp8pitL7H0&_nc_ohc=mi86alqirjwQ7kNvwHuN1wX&_nc_gid=_FojUPY_PyEb8t9oWJExMQ&edm=AGW0Xe4BAAAA&ccb=7-5&oh=00_AfLoz8BQ5BXQz1Wm0goIWDxkdw5Z1aNbJGXk8ak6YZ8pzQ&oe=68218068&_nc_sid=94fea1","username":"jane"},"title":"GRWM chats"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}