{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok","description":"Scrape TikTok profiles, videos, and more"}],"paths":{"/v1/tiktok/hashtags/popular":{"get":{"tags":["TikTok"],"summary":"Get popular hashtags","description":"Get popular hashtags from TikTok. Filter by time period, country, and show newly trending hashtags.","parameters":[{"name":"period","in":"query","required":false,"description":"Time period in days (7, 30, or 120)","schema":{"type":"string","enum":[7,30,120]},"example":7},{"name":"page","in":"query","required":false,"description":"Page number","schema":{"type":"number"},"example":1},{"name":"countryCode","in":"query","required":false,"description":"Country code to get popular hashtags from","schema":{"type":"string","enum":["AU","BR","CA","EG","FR","DE","ID","IL","IT","JP","MY","PH","RU","SA","SG","KR","ES","TW","TH","TR","AE","GB","US","VN"]},"example":"US"},{"name":"newOnBoard","in":"query","required":false,"description":"Show only newly trending hashtags","schema":{"type":"boolean"}},{"name":"industry","in":"query","required":false,"description":"Industry to get popular hashtags from.","schema":{"type":"string","enum":["apparel-and-accessories","baby-kids-and-maternity","beauty-and-personal-care","business-services","education","financial-services","food-and-beverage","games","health","home-improvement","household-products","life-services","news-and-entertainment","pets","sports-and-outdoor","tech-and-electronics","travel","vehicle-and-transportation"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":100,"list":[{"hashtag_id":"1601724235290629","hashtag_name":"2026","country_info":{"id":"US","value":"United States","label":"US"},"is_promoted":false,"trend":[{"time":1767225600,"value":0.28}],"creators":[{"nick_name":"66","avatar_url":"https://p16-sign-sg.tiktokcdn.com/tos-alisg-avt-0068/7d641185c35d67d35de1a7a4f40b4199~tplv-tiktokx-cropcenter:100:100.png?dr=14579&refresh_token=408c3c44&x-expires=1768082400&x-signature=h9plkIGtBdSgZ8YIQZQ5yLUsSAM%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=317596d8&idc=my2"}],"publish_cnt":1554523,"video_views":3251352710,"rank":1,"rank_diff":0,"rank_diff_type":2}],"pagination":{"page":1,"size":20,"total":100,"has_more":true}}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}