{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Reddit","description":"Scrape Reddit posts and comments"}],"paths":{"/v1/reddit/subreddit/details":{"get":{"tags":["Reddit"],"summary":"Subreddit Details","description":"Get details about a subreddit. Pass a subreddit name or URL to the subreddit.","parameters":[{"name":"subreddit","in":"query","required":false,"description":"Subreddit name. MUST be case sensitive. So 'AskReddit' not 'askreddit'.","schema":{"type":"string"},"example":"AskReddit"},{"name":"url","in":"query","required":false,"description":"Subreddit URL","schema":{"type":"string"},"example":"https://www.reddit.com/r/AbsoluteUnits/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":33950256,"subreddit_id":"t5_a7wuv","display_name":"AbsoluteUnits","weekly_active_users":1428398,"weekly_contributions":8923,"rules":"#ABSOLUTE UNITS\n\n---\n\n    Be in awe at the size of these lads\n\n---\n\n###[Check out our deep, well-reflected definitions of an absolute unit.](https://www.reddit.com/r/AbsoluteUnits/wiki/index)  ","description":"Absolute Unit : an Animal or Public Figure, who is larger than we should normally expect.","header_img":null,"icon_img":"https://styles.redditmedia.com/t5_a7wuv/styles/communityIcon_t3cspt08bl681.png?width=128&frame=1&auto=webp&s=6f7e59ccf1724bd6c8b3e0d2840c9b21297102c3","subscribers":1923642,"advertiser_category":"","created_at":"2018-01-05T10:35:24.000Z","submit_text":""}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}