{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Twitter","description":"Get Twitter profiles, tweets, followers and more"}],"paths":{"/v1/twitter/community":{"get":{"tags":["Twitter"],"summary":"Community","description":"Get the details of a Twitter(X) Community","parameters":[{"name":"url","in":"query","required":true,"description":"Community URL","schema":{"type":"string"},"example":"https://x.com/i/communities/1926186499399139650"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"__typename":"Community","is_member":false,"name":"The First Thousand","role":"NonMember","rest_id":"1926186499399139650","actions":{"join_action_result":{"__typename":"CommunityJoinActionUnavailable"},"id":"Q29tbXVuaXR5QWN0aW9uczoxOTI2MTg2NDk5Mzk5MTM5NjUw"},"description":"This community is for creators and builders who are growing to their first 1,000 followers. Give insights, build your brand, and grow a loyal audience.","creator_results":{"result":{"__typename":"User","id":"VXNlcjoxOTIxMzY4NDU0NDQ5MjAxMTUy","is_blue_verified":true,"core":{"screen_name":"CanaCarson"},"verification":{"verified":false}},"id":"VXNlclJlc3VsdHM6MTkyMTM2ODQ1NDQ0OTIwMTE1Mg=="},"join_policy":"Open","created_at":1748073622931,"rules":[{"rest_id":"1926189963793609186","description":"This isn’t the space to drop ChatGPT engineered empty platitudes","name":"No Empty Platitudes","id":"Q29tbXVuaXR5UnVsZToxOTI2MTg5OTYzNzkzNjA5MTg2"}],"members_facepile_results":[{"result":{"__typename":"User","avatar":{"image_url":"https://pbs.twimg.com/profile_images/1944871269775601664/Ho7tiGd2_normal.jpg"},"id":"VXNlcjoxOTIxMzY4NDU0NDQ5MjAxMTUy"},"id":"VXNlclJlc3VsdHM6MTkyMTM2ODQ1NDQ0OTIwMTE1Mg=="}],"member_count":1896,"id":"Q29tbXVuaXR5OjE5MjYxODY0OTkzOTkxMzk2NTA="}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}