{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok","description":"Scrape TikTok profiles, videos, and more"}],"paths":{"/v1/tiktok/videos/popular":{"get":{"tags":["TikTok"],"summary":"Get popular videos","description":"Get popular videos from TikTok. Filter by time period, country, and sort by likes, views (hot), comments, or reposts.","parameters":[{"name":"period","in":"query","required":false,"description":"Time period in days (7 or 30)","schema":{"type":"string","enum":[7,30]},"example":7},{"name":"page","in":"query","required":false,"description":"Page number","schema":{"type":"number"},"example":1},{"name":"orderBy","in":"query","required":false,"description":"Sort videos by likes, views (hot), comments, or reposts","schema":{"type":"string","enum":["like","hot","comment","repost"]},"example":"hot"},{"name":"countryCode","in":"query","required":false,"description":"Country code to get popular videos from","schema":{"type":"string","enum":["AU","BR","CA","EG","FR","DE","ID","IL","IT","JP","MY","PH","RU","SA","SG","KR","ES","TW","TH","TR","AE","GB","US","VN"]},"example":"US"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":100,"pagination":{"has_more":true,"limit":10,"page":1,"total_count":500},"videos":[{"country_code":"US","cover":"https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068c799-us/oMJB6DZfc4hpFDAsIAUTRkiDgEhES6EexxO5Ir~tplv-noop.image?dr=18692&refresh_token=c97b5692&x-expires=1767932391&x-signature=wtv4DQu%2Fm3XYQ62Zaogu4NbjK7Q%3D&t=9276707c&ps=14f1eb3e&shp=9e36835a&shcp=83ba07fd&idc=my","duration":28,"id":"7581969577765014797","item_id":"7581969577765014797","item_url":"https://www.tiktok.com/@mnm_pipi/video/7581969577765014797","region":"United States","title":"we can't believe we are the top artist of 2025 on @TikTok globally 🥹🖤 thank you EYEKONS for your endless support, dance covers, KATSEYE core videos, and more!! WE LOVE YOU"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}