{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook","description":"Get public Facebook profiles and posts"}],"paths":{"/v1/facebook/profile/posts":{"get":{"tags":["Facebook"],"summary":"Profile Posts","description":"Get public Facebook profile posts. This only returns the posts you would see from an incognito browser session. You can pass a url or a pageId. pageId is faster. pageId is the id of the profile page. Only returns 3 posts at a time.","parameters":[{"name":"url","in":"query","required":false,"description":"Facebook profile URL","schema":{"type":"string"},"example":"https://www.facebook.com/pacemorby"},{"name":"pageId","in":"query","required":false,"description":"Facebook profile page id","schema":{"type":"string"},"example":"100063669491743"},{"name":"cursor","in":"query","required":false,"description":"To paginate through the posts","schema":{"type":"string"},"example":"Cg8Ob3JnYW5pY19jdXJzb3IJA..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"1204545088344463","text":"I've had such a blast doing the No One Left Behind Challenge this year! Join me this Friday Dec 20 @ 5PM MST to learn about next month's challenge! https://subto.sjv.io/3Jk9Py","url":"https://www.facebook.com/reel/486651220706068/","permalink":"https://www.facebook.com/reel/486651220706068/","author":{"__typename":"User","name":"Pace Morby","short_name":"Pace Morby","id":"100063669491743"},"videoDetails":{"sdUrl":"https://video-atl3-2.xx.fbcdn.net/o1/v/t2/f2/m69/AQM-5pP3onM9DT-mhIF1lsU_5QIoHD3ezSh_534fSvquBk1J89JZc5j6cQzDP7ksAp5LQGEiJSVYnPWJVYmbgj42.mp4?strext=1&_nc_cat=111&_nc_sid=8bf8fe&_nc_ht=video-atl3-2.xx.fbcdn.net&_nc_ohc=myLadhBf0ekQ7kNvgH7M8Js&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzNlLjM2MC5zdmVfc2QiLCJ4cHZfYXNzZXRfaWQiOjExMjIwMjE0NDI4NDEyMTYsInZpX3VzZWNhc2VfaWQiOjEwMTIwLCJkdXJhdGlvbl9zIjo0MSwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&_nc_zt=28&oh=00_AYEC_emahkqbCvG8fdT8745B6NgR005IOXFslY3cbX8vVQ&oe=67DBF193","hdUrl":"https://video-atl3-1.xx.fbcdn.net/o1/v/t2/f2/m69/AQPpb__shxY1O25oSbb2cYJJZdDS1uvPXNvL_wuUl3A5X4oczA14gCptufMdZIQ44Fa1nPHR7BJne11vQR0-kjxg.mp4?strext=1&_nc_cat=110&_nc_sid=5e9851&_nc_ht=video-atl3-1.xx.fbcdn.net&_nc_ohc=A8zHzpvkW7gQ7kNvgH7rC10&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzNlLjcxOC5kYXNoX2gyNjQtYmFzaWMtZ2VuMl83MjBwIiwieHB2X2Fzc2V0X2lkIjoxMTIyMDIxNDQyODQxMjE2LCJ2aV91c2VjYXNlX2lkIjoxMDEyMCwiZHVyYXRpb25fcyI6NDEsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&ccb=17-1&vs=55aa7ea7f63fa16a&_nc_vs=HBksFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HQ0RxRHh4LTh0cUt3UFlEQUw2b0RSdTQ0dXQyYm1kakFBQUYVAALIAQAVAhg6cGFzc3Rocm91Z2hfZXZlcnN0b3JlL0dKbUREeHpUY0l2OUotMERBRGd5RVFhbXo2OWZickZxQUFBRhUCAsgBACgAGAAbAogHdXNlX29pbAExEnByb2dyZXNzaXZlX3JlY2lwZQExFQAAJoCqv5ifnv4DFQIoA0MzZSwXQETe2RaHKwIYGWRhc2hfaDI2NC1iYXNpYy1nZW4yXzcyMHARAHUCAA&_nc_zt=28&oh=00_AYHZ0-S4uD1baiPZOqxXl42i74UuWxjyYp-k5Dr7yuQs8w&oe=67DBE6E0","thumbnailUrl":"https://scontent-atl3-1.xx.fbcdn.net/v/t15.5256-10/470601406_1890766051448666_5960639905933280594_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=110&ccb=1-7&_nc_sid=be8305&_nc_ohc=J2akzbIcN6YQ7kNvgG1IA8_&_nc_oc=AdjagDgUUwSzsa_e8vqInwXyyB57thjMdZ0w4daZ0kLaM1g4xZsv56Q-2REAPzOzDdesjbOxpKtxdUYKNQetO-u3&_nc_zt=23&_nc_ht=scontent-atl3-1.xx&_nc_gid=1q0R8aSRmKitPpFFDxvSfQ&oh=00_AYGj7VpqDzBwgIcAEKdSnqMq2IuwKqbNtTrpNKE6y5EsCQ&oe=67DBEC4D"},"reactionCount":133,"commentCount":12,"videoViewCount":null,"publishTime":1734553170,"topComments":[{"id":"Y29tbWVudDoxMjA0NTQ1MDg4MzQ0NDYzXzEzMDU4NDQ3ODM3NjA1ODk=","text":"How can I sign up?","publishTime":1734569761,"author":{"id":"pfbid02uDNsa8qhySfhQJ83VUcVD5mmVShgxNrtepNZ2TwCsg22xMN3NhdNBQbxPjj2dyr9l","name":"BeezMo Jenkins","gender":"MALE","url":null}}]}],"cursor":"Cg8Ob3JnYW5pY19jdXJzb3IJAAABxEFRSFI4N0N6eHZvYWlsRnJ3TlFMQTU4NUtmTzdSR2hQUzJpa25iTHlaMS1zbG1pTjZtTWFtN0JrNjB3UXVyUFFDOUJabC1JbjYwV2lhQmdqdTYzOXZTaHlMTGhIcGZXV21jRjVtZzBNY3dtSGlkLUNObnVFang4Ym1vYjVxSEZYYXBOZlVwSlVXVWpZbHF5X2xYODNGZzdNNmlIeUVCX1Yxb19ZLTEtanczRGJidm9XZDgxYlk0TmlaXzAtTm11T3dQZC1rY2FyVm44eERCYldjLTBEMXpxU1NCNG4wMjl1SHdaSmY2NjdURHJKUUxPcDRzZXFTZ3gzQk5JbTN5djRVNWQzMnFMMGp4Z3EtY1FWSFZMOWdKbUROQmR3TGx4c1dkWFpicnJlbUpsRVhqU0dodHNBS0tPcWZ2Q0U3QjFHbVhwbVluV3phMmdEMnBnVTZQTG5wMXhXMVAtQWQ2TVBCMXlMZGJlMUJGaHVYSWNpZEJnYUlwUXctSWgxZzhIVlBWZWhjbXJMTEVCVi1SSzRMQUJFZVcxcGR3Mm1YbzBiUjdWV1QyaDY0NmpYT1dHeDduSFZGWHdnM3pvZHpvNXEyTGxUDwlhZF9jdXJzb3IODw9nbG9iYWxfcG9zaXRpb24CAA8Gb2Zmc2V0AgAPEGxhc3RfYWRfcG9zaXRpb24C/wE="}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}