{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook","description":"Get public Facebook profiles and posts"}],"paths":{"/v1/facebook/profile/reels":{"get":{"tags":["Facebook"],"summary":"Profile Reels","description":"Get a public Facebook page's reels. Returns 10 reels at a time. Need 'next_page_id' and 'cursor' to paginate.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook page URL","schema":{"type":"string"},"example":"https://www.facebook.com/pacemorby"},{"name":"next_page_id","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"YXBwX2NvbGxlY3Rpb2......"},{"name":"cursor","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"AQHSFZtzkBauSDHgy8y......"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":3393,"reels":[{"id":"UzpfSTEwMDA2NDAyNzI0Mjg0OTpWSzoxMTE0MjM1OTIwNjY0NDA4","post_id":"1203161005161463","creation_time":"2025-09-13T20:51:28.000Z","url":"https://www.facebook.com/reel/1114235920664408","view_count":900,"feedback_id":"ZmVlZGJhY2s6MTIwMzE2MTAwNTE2MTQ2Mw==","description":"#globetheatreregina #GrandOpeningGlobeTheatre #yqrfood","video_id":"1114235920664408","thumbnail":"https://scontent.fsjc1-3.fna.fbcdn.net/v/t15.5256-10/548161090_781902490913426_4425148471361535737_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=104&ccb=1-7&_nc_sid=b5ba86&_nc_ohc=OSOOGTqjWBUQ7kNvwEELU_j&_nc_oc=AdlV3gLGZQ7yP7WZ71P40YFpkKZzQKTsoOwpia78XWC-552nlv0PaCzqp4JEN_eM8nw&_nc_zt=23&_nc_ht=scontent.fsjc1-3.fna&_nc_gid=RAC9UOMHIFPQvFPA49SzFw&oh=00_Afmww8iYxDtSamLiv7CnMMk5qN54iKlWRh3KGaQ9raX8sg&oe=6958CB0A","play_time_in_ms":22035,"video_url":"https://video.fsjc1-3.fna.fbcdn.net/o1/v/t2/f2/m366/AQOiS3S8KcKF2LNoPO0zOfAI3fDrZ4uUOgoNDGn6c7r8ABcujOm_egeBIp1UGt2C3T7bjmweRUAe6zZv183Qj3dpOTyUglIVsXGSEDb37A.mp4?_nc_cat=110&_nc_oc=AdlNlblWiTsxDyG87HyqrOExbMhSN5lMWCw0IbpBOlJvrHUyYOW84jgZapFBnh9ErN8&_nc_sid=8bf8fe&_nc_ht=video.fsjc1-3.fna.fbcdn.net&_nc_ohc=o6c-GAEZqSAQ7kNvwEDTAM6&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzMuMzYwLnN2ZV9zZCIsInhwdl9hc3NldF9pZCI6MTE3MDg1MjU4ODIxOTYzMywiYXNzZXRfYWdlX2RheXMiOjEwNywidmlfdXNlY2FzZV9pZCI6MTAxMjAsImR1cmF0aW9uX3MiOjIyLCJ1cmxnZW5fc291cmNlIjoid3d3In0%3D&ccb=17-1&_nc_gid=RAC9UOMHIFPQvFPA49SzFw&_nc_zt=28&oh=00_AfnqnDcmg0X9m2W775vmpbH2-IrJvzz6gKDg-nHx1bUNwA&oe=6958DB58&bitrate=379965&tag=sve_sd","music":{"id":"1491450028648565","track_title":"The Copper Kettle Restaurant · Original audio"},"author":{"id":"100064027242849","name":"The Copper Kettle Restaurant","is_verified":false,"url":"https://www.facebook.com/copperkettleyqr","image":"https://scontent.fsjc1-3.fna.fbcdn.net/v/t39.30808-1/298528699_436705561807015_4191178501684731329_n.jpg?stp=cp0_dst-jpg_s40x40_tt6&_nc_cat=101&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=GrqhlAtcX98Q7kNvwFcfQYJ&_nc_oc=AdkVhSbfC7VUfqrXTTBHm1mAzqonpy9gE0aRcOV9-ddVxPsL4Nm-fnzbu7pTwhxuCuQ&_nc_zt=24&_nc_ht=scontent.fsjc1-3.fna&_nc_gid=RAC9UOMHIFPQvFPA49SzFw&oh=00_Aflr4kBQgljqP3wqJypUlzhoGQVCx4OyyBZW28kx1UDabw&oe=6958E99C"}}],"cursor":"AQHSiBn76EsmuU....","next_page_id":"YXBwX2NvbGxlY...."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}