{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok Shop","description":"Everything about TikTok Shop"}],"paths":{"/v1/tiktok/shop/search":{"get":{"tags":["TikTok Shop"],"summary":"Shop Search","description":"Scrape TikTok Shop Products from a search!","parameters":[{"name":"query","in":"query","required":true,"description":"Term you want to search for","schema":{"type":"string"},"example":"shoes"},{"name":"page","in":"query","required":false,"description":"Page number to retrieve","schema":{"type":"number"},"example":"1"},{"name":"region","in":"query","required":false,"description":"Region to search shop products in.","schema":{"type":"string","enum":["US","GB","DE","FR","IT","ID","MY","MX","PH","SG","ES","TH","VN","BR","JP","IE"]},"example":"US"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"query":"shoes","total_products":100,"products":[{"product_id":"1730213444857467838","title":"Crocs Adult Classic Clogs","image":{"height":1200,"width":1200,"uri":"tos-useast5-i-omjb5zjo8w-tx/b16ea2605a0d4708af7cbc3a1dd03624","url_list":["https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-tx/b16ea2605a0d4708af7cbc3a1dd03624~tplv-fhlh96nyum-crop-webp:1200:1200.webp?dr=12190&from=2378011839&idc=useast5&ps=933b5bde&shcp=a6e80448&shp=8dbd94bf&t=555f072d"]},"product_price_info":{"sku_id":"1730213454432146366","symbol_position":1,"show_currency_space":false,"currency_show_mode":1,"currency_name":"USD","currency_symbol":"$","sale_price_decimal":"49.99","sale_price_format":"49.99","single_product_price_format":"49.99","single_product_price_decimal":"49.99","sale_price_integer_part_format":"49","sale_price_decimal_part_format":"99","decimal_point_symbol":".","promotion_deduction_details":{}},"rate_info":{"score":4.8,"review_count":"2493"},"sold_info":{"sold_count":24737},"seller_info":{"seller_id":"7495832567110863806","shop_name":"Crocs","shop_logo":{"height":300,"width":300,"uri":"tos-useast5-i-omjb5zjo8w-tx/0e1e83bcdab948b9aa9e6474e87a8a80","url_list":["https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-tx/0e1e83bcdab948b9aa9e6474e87a8a80~tplv-fhlh96nyum-resize-png:300:300.png?dr=12184&from=2422056039&idc=useast5&ps=933b5bde&shcp=d9d491bf&shp=905da467&t=555f072d"]}},"seo_url":{"updated_at":"1754122673333","canonical_url":"https://www.tiktok.com/shop/pdp/classic-clogs-by-crocs-lightweight-slip-on-shoes-with-ventilation/1730213444857467838","slug":"classic-clogs-by-crocs-lightweight-slip-on-shoes-with-ventilation","type":2,"version":2}}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}