{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/video":{"get":{"tags":["YouTube"],"summary":"Video/Short Details","description":"Get complete information about a video or short including the transcript! There is a 'transcript' field and a 'transcript_only_text' field.","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video or short URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=Y2Ah_DFr8cw"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":33851527,"id":"Y2Ah_DFr8cw","thumbnail":"https://img.youtube.com/vi/Y2Ah_DFr8cw/maxresdefault.jpg","url":"https://www.youtube.com/watch?v=Y2Ah_DFr8cw","publishDate":"2019-02-22T03:19:54-08:00","type":"video","title":"Inside the NBA: Chuck Trolls Jussie Smollett \"Do not commit crimes with checks, use cash!\"","description":null,"descriptionLinks":[],"commentCountText":"358","commentCountInt":358,"likeCountText":"4043","likeCountInt":4043,"viewCountText":"372,864","viewCountInt":372864,"publishDateText":"Feb 22, 2019","collaborators":[],"channel":{"id":"UCWH3hing1Qb4LnkRfQdxsxQ","url":"https://www.youtube.com/@afroballer8906","handle":"afroballer8906","title":"Afroballer"},"chapters":[],"watchNextVideos":[{"id":"lzDTK5kEdkM","title":"Charles Barkley and Shaq FUNNIEST MOMENTS","thumbnail":"https://i.ytimg.com/vi/lzDTK5kEdkM/hqdefault.jpg?sqp=-oaymwEmCKgBEF5IWvKriqkDGQgBFQAAiEIYAdgBAeIBCggYEAIYBjgBQAE=&rs=AOn4CLAq_osvQnsGV3A7uz4L1CPTaLqppg","channel":{"title":"SkyHooked","url":"https://www.youtube.com/@SkyHooked","handle":"SkyHooked","id":"UCrX8GD5f_O-Cu5Y2vQuSSvw"},"publishedTimeText":"11 months ago","publishedTime":"2025-02-16T19:25:39.493Z","publishDateText":"11 months ago","publishDate":"2025-02-16T19:25:39.493Z","viewCountText":"1.8M views","viewCountInt":1800000,"lengthText":"18:01","lengthInSeconds":1081,"videoUrl":"https://www.youtube.com/watch?v=lzDTK5kEdkM"}],"keywords":[],"genre":"People & Blogs","durationMs":348000,"durationFormatted":"00:05:48","captionTracks":[{"baseUrl":"https://www.youtube.com/api/timedtext?v=Y2Ah_DFr8cw&ei=s5Bqab0gu8yS5w_pvOLIDw&caps=asr&opi=112496729&xoaf=5&xowf=1&hl=en&ip=0.0.0.0&ipbits=0&expire=1768616739&sparams=ip,ipbits,expire,v,ei,caps,opi,xoaf&signature=306A57ADE14FECC84B0DB13190761BCCC922AC9B.5C321C4FE7086F7AF851CA8463326E1869EE5255&key=yt8&kind=asr&lang=en","name":{"simpleText":"English (auto-generated)"},"vssId":"a.en","languageCode":"en","kind":"asr","isTranslatable":true,"trackName":""}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}