{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok","description":"Scrape TikTok profiles, videos, and more"}],"paths":{"/v1/tiktok/creators/popular":{"get":{"tags":["TikTok"],"summary":"Get popular creators","description":"Get popular creators from TikTok. Filter by follower count, creator country, audience country, and sort by engagement, follower count, or average views.","parameters":[{"name":"page","in":"query","required":false,"description":"Page number","schema":{"type":"number"},"example":1},{"name":"sortBy","in":"query","required":false,"description":"Sort creators by engagement, follower count, or average views","schema":{"type":"string","enum":["engagement","follower","avg_views"]},"example":"engagement"},{"name":"followerCount","in":"query","required":false,"description":"Filter by follower count range","schema":{"type":"string","enum":["10K-100K","100K-1M","1M-10M","10M+"]},"example":"10K-100K"},{"name":"creatorCountry","in":"query","required":false,"description":"Country code of the creator","schema":{"type":"string","enum":["AU","BR","CA","EG","FR","DE","ID","IL","IT","JP","MY","PH","RU","SA","SG","KR","ES","TW","TH","TR","AE","GB","US","VN"]},"example":"US"},{"name":"audienceCountry","in":"query","required":false,"description":"Country code of the audience/follower","schema":{"type":"string","enum":["AU","BR","CA","EG","FR","DE","ID","IL","IT","JP","MY","PH","RU","SA","SG","KR","ES","TW","TH","TR","AE","GB","US","VN"]},"example":"US"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":100,"creators":[{"tcm_id":"7377026041014927376","user_id":"6620098253516439554","nick_name":"SANIEV","avatar_url":"https://p16-sign-sg.tiktokcdn.com/tos-alisg-avt-0068/e2699c87b4fe37f8fc4d65a7dc453786~tplv-tiktokx-cropcenter:100:100.png?dr=14579&refresh_token=db296f9e&x-expires=1768082400&x-signature=JL5qjD7FOX%2FF4ML6XbWBeose9Zc%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=317596d8&idc=my","country_code":"US","follower_cnt":431339,"liked_cnt":129772610,"tt_link":"https://www.tiktok.com/@sanievv_","tcm_link":"https://creatormarketplace.tiktok.com/ad#/author/7377026041014927376","items":[{"item_id":"7395965676629888274","cover_url":"https://p16-sign-sg.tiktokcdn.com/tos-alisg-p-0037/9f078a63ecd74061b52172692e1f5600_1722007460~tplv-noop.image?dr=18692&refresh_token=d96f1adb&x-expires=1767931908&x-signature=QxvUl2ljXqt1iR6wt8FVfohlkAg%3D&t=9276707c&ps=14f1eb3e&shp=9e36835a&shcp=317596d8&idc=my","tt_link":"https://www.tiktok.com/@author/video/7395965676629888274","vv":2062831,"liked_cnt":229970,"create_time":1722007452}]}],"pagination":{"page":1,"size":20,"total":10,"has_more":false}}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}