{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook","description":"Get public Facebook profiles and posts"}],"paths":{"/v1/facebook/profile/photos":{"get":{"tags":["Facebook"],"summary":"Profile Photos","description":"Get a public Facebook page's photos. Need 'next_page_id' and 'cursor' to paginate.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook page URL","schema":{"type":"string"},"example":"https://www.facebook.com/Spurs"},{"name":"next_page_id","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"YXBwX2NvbGxlY3Rpb2......"},{"name":"cursor","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"AQHSRM68MZ-AJKGSgRb0......"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":1000,"photos":[{"id":"YXBwX2l0ZW06MTAwMDQ0NjM0NDUwMjA4OjIzMDUyNzI3MzI6NTo6MTQyODEwNjQwMjAyMDQ5NQ==","photo_id":"1428106402020495","accessibility_caption":"May be an image of basketball and text","immersive_photo_encodings":[],"viewer_image":{"uri":"https://scontent-sea5-1.xx.fbcdn.net/v/t51.82787-15/622604539_18555344569004556_8789920462640292891_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=YhJA3Uo9mQwQ7kNvwF-U78r&_nc_oc=Adm4IWUCvbO4XHlgboz-L3jH_eVz1YgGx2VzBA43PLBLHQabFu5ZQY1pPHbHaDxTVXE&_nc_zt=23&_nc_ht=scontent-sea5-1.xx&_nc_gid=PY1yocAkrH2nITkFquluVw&oh=00_Afp4G33teGwLcRX96N3ulxHe9t0JgFHgnqW7JC-uGyHbtw&oe=69808C5B","height":1800,"width":1440},"photo_cix_screen":null,"thumbnail":"https://scontent-sea5-1.xx.fbcdn.net/v/t51.82787-15/622604539_18555344569004556_8789920462640292891_n.jpg?stp=c0.119.1440.1440a_dst-jpg_s206x206_tt6&_nc_cat=105&ccb=1-7&_nc_sid=714c7a&_nc_ohc=YhJA3Uo9mQwQ7kNvwF-U78r&_nc_oc=Adm4IWUCvbO4XHlgboz-L3jH_eVz1YgGx2VzBA43PLBLHQabFu5ZQY1pPHbHaDxTVXE&_nc_zt=23&_nc_ht=scontent-sea5-1.xx&_nc_gid=PY1yocAkrH2nITkFquluVw&oh=00_AfrRI7jPhILPra-iRKDUh-R3lQV3fbc1507ZhmDlZU0b6Q&oe=69808C5B","url":"https://www.facebook.com/photo.php?fbid=1428106402020495&set=pb.100044634450208.-2207520000&type=3"}],"cursor":"AQHSRM68MZ-AJKGSgRb0....","next_page_id":"YXBwX2NvbGxlY3Rpb24...."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}