{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/community-post":{"get":{"tags":["YouTube"],"summary":"Community Post Details","description":"Get the details of a community post","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the YouTube community post to get","schema":{"type":"string"},"example":"https://www.youtube.com/post/Ugkxvj2KoApYAXoqLWnKVr6zZe5JjeHrQeP8"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":9922899,"id":"Ugkxvj2KoApYAXoqLWnKVr6zZe5JjeHrQeP8","channel":{"id":"UChhw6DlKKTQ9mYSpTfXUYqA","title":"Starter Story","url":"https://www.youtube.com/@starterstory","handle":"starterstory"},"content":"How to build something meaningful\n\n1. sit down\n2. set a timer for 2 hours\n3. work\n4. do that over and over and over\n\nNOTHING meaningful was built in a day, a week, or even a month\n\nyou should launch quickly, but the work can't end there\n\nsuccessful products have YEARS of craft behind them\n\nstart building yours today: http://starterstory.com/bsm","images":["https://yt3.ggpht.com/uer4ij-RqnTqudtdT5VZNvEjzVXA3PGLHwNpjMfraB7mfbX_Bm0-fSpaFXkfw3EA4uZ7BY8YPa1gU08=s640-c-fcrop64=1,20000000dfffffff-rw-nd-v1"],"likeCount":759,"publishedTimeText":"5 days ago","publishedTime":"2025-11-07T18:49:57.492Z","video":null}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}