{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/shorts/trending":{"get":{"tags":["YouTube"],"summary":"Trending Shorts","description":"Get about 48 trending shorts. Continue hitting this to get more shorts (get new ones with each call)","responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"shorts":[{"id":"ou0nl5ET0HA","thumbnail":"https://img.youtube.com/vi/ou0nl5ET0HA/maxresdefault.jpg","url":"https://www.youtube.com/watch?v=ou0nl5ET0HA","title":"That hooper who says their just shoes","description":null,"commentCountText":"168","commentCountInt":168,"likeCountText":"151957","likeCountInt":151957,"viewCountText":"13,798,774","viewCountInt":13798774,"publishDateText":"Aug 7, 2025","publishDate":"2025-08-07T13:00:22-07:00","channel":{"id":"UC3iObCgKLKr9xquQw7fCang","url":"https://www.youtube.com/@dameuniverse","handle":"dameuniverse","title":"Dame Universe"},"chapters":[],"keywords":["Kobe"],"durationMs":19000,"durationFormatted":"00:00:19"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}