{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Google Ad Library","description":"Scrape the Google Ad Transparency Library. *This only gets the public ads. Some ads you need to log in for and sadly we can't get those. Also, since there are so many variations, the return types might not all be 100% the same. Email me for suggestions. Also this endpoint is pretty new, if you find any errors or irregularities, please email me: support@scrapecreators.com"}],"paths":{"/v1/google/ad":{"get":{"tags":["Google Ad Library"],"summary":"Ad Details","description":"Get the details for an ad. I'm using an OCR to get the text from the ad, so it might not be 100% accurate. If you find any errors or irregularities, please email me: support@scrapecreators.com","parameters":[{"name":"url","in":"query","required":true,"description":"The url of the ad","schema":{"type":"string"},"example":"https://adstransparency.google.com/advertiser/AR01614014350098432001/creative/CR10449491775734153217"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"advertiserId":"AR01614014350098432001","creativeId":"CR07443539616616939521","firstShown":null,"lastShown":"2025-06-18T18:09:00.000Z","format":"text","overallImpressions":{"min":null,"max":null},"creativeRegions":[{"regionCode":"US","regionName":"United States"}],"regionStats":[{"regionCode":"US","regionName":"United States","firstShown":null,"lastShown":"2025-06-18T05:00:00.000Z","impressions":{},"platformImpressions":[]}],"variations":[{"destinationUrl":"shop.lululemon.com/gifts-for-all","headline":"lululemonⓇ Official Site - Best Birthday Gifts","description":"Find The Perfect Gifts At lululemon . We Have You Covered . Shop Online For Your Gifts . Birthday Gifts For Everyone ...","allText":"Sponsored Ω lululemon shop.lululemon.com/gifts-for-all lululemonⓇ Official Site - Best Birthday Gifts Find The Perfect Gifts At lululemon . We Have You Covered . Shop Online For Your Gifts . Birthday Gifts For Everyone ...","imageUrl":"https://tpc.googlesyndication.com/archive/simgad/2201045439314643090"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}