{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Amazon Shop","description":"Scrape Amazon Shop pages"}],"paths":{"/v1/amazon/shop":{"get":{"tags":["Amazon Shop"],"summary":"Amazon Shop page","description":"Get products and other details from a creator's Amazon Shop page","parameters":[{"name":"url","in":"query","required":true,"description":"URL to Amazon Shop page","schema":{"type":"string"},"example":"https://www.amazon.com/shop/sydneydelrey"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"avatar":"https://m.media-amazon.com/images/I/A1rW00V-tHL._CR0%2C0%2C2560%2C2560_._US500_SCLZZZZZZZ_.jpg","name":"sydney del rey","description":"sharing all of my favorite Amazon finds ᥫ᭡ click the icons below to follow me on socials! all photo & video content is also shoppable x","socials":["https://vm.tiktok.com/ZTFrowSpg/"],"lists":[{"title":"fall transition fits","itemCount":72,"image":"https://m.media-amazon.com/images/G/01/Influencer/full_bleed_pin_2x.png","url":"https://www.amazon.com/shop/sydneydelrey/list/3QCPC18WETJFQ"}],"trendingPicks":[{"url":"https://www.amazon.com/shop/sydneydelrey/getProductDetails/B0DDJFFCB5?showRelatedPost=true","image":"https://m.media-amazon.com/images/I/41xvQcQoEnL._AC_.jpg","price":9.99,"discount":29}],"curations":[{"title":"Fall fashion 🍂","postCount":93,"image":"https://m.media-amazon.com/images/S/shoppable-media-external-prod-iad-us-east-1/039230ec-2e77-4287-beca-ecba4b03ca46/8cdde-e153-4e81-b404-a1ebd6c65._SX225_SCLZZZZZZZ_.jpeg","url":"https://www.amazon.com/shop/sydneydelrey/curation/c7bb2f3d-07a2-42f5-85f8-02adbb937961"}],"pageToken":"amzn1.ideas.1S28M0V6I8FUU_0_2025-09-03T01:17:37.837Z"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}