{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Komi","description":"Scrape Komi pages"}],"paths":{"/v1/komi":{"get":{"tags":["Komi"],"summary":"Komi page","description":"Komi page","parameters":[{"name":"url","in":"query","required":true,"description":"URL to Komi page","schema":{"type":"string"},"example":"https://kimkardashian.komi.io/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"id":"64d82830-59aa-4488-bfb0-93426971d139","username":"kimkardashian","avatar":"https://komi-production-assets.s3.amazonaws.com/photos/4Nd69ODJHs61_iNYPlqos.jpg","bio":"","firstName":"Kim","lastName":"Kardashian","displayName":"Kim Kardashian","displayNameImage":null,"instagram":"https://www.instagram.com/kimkardashian/","tiktok":"https://www.tiktok.com/@kimkardashian","youtube":"https://www.youtube.com/@KUWTK","twitter":"https://twitter.com/KimKardashian","facebook":"https://www.facebook.com/KimKardashian","snapchat":"https://www.snapchat.com/add/kimkardashian?locale=en-GB","website":null,"links":[{"id":"6d7086df-ede4-4f8a-85e5-0fa410e60bc2","url":"https://skims.social/shop-skims","order":0,"title":"Visit SKIMS","visible":true,"moduleId":"e6ce39d2-e3df-4040-a5cc-ce016cacbc34","thumbnail":"https://komi-production-assets.s3-accelerate.amazonaws.com/photos/x_LQCBYzoWiel0-yrAnrF.jpg","versionId":"944094bf-f124-4b13-866a-3498c492736d","type":"LINK"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}