{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook","description":"Get public Facebook profiles and posts"}],"paths":{"/v1/facebook/profile":{"get":{"tags":["Facebook"],"summary":"Profile","description":"Get public Facebook profile information","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook profile URL","schema":{"type":"string"},"example":"https://www.facebook.com/mantraindianfolsom"},{"name":"get_business_hours","in":"query","required":false,"description":"Get the business's hours","schema":{"type":"string"},"example":"true"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":8999083,"adLibrary":{"adStatus":"This Page is currently running ads.","pageId":"104359362513119"},"creationDate":"November 25, 2022","businessHours":[{"monday":{"open":null,"close":null,"intervals":[],"fullText":"CLOSED"}}],"id":"100088017857524","name":"Mantraindian","url":"https://www.facebook.com/mantraindianfolsom","gender":"UNKNOWN","coverPhoto":{"focus":{"x":0.5,"y":0},"photo":{"id":"204402652503662","image":{"uri":"https://scontent.fist7-1.fna.fbcdn.net/v/t39.30808-6/477575273_596577106619546_7712360987777031655_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=hroqQOZECdYQ7kNvwHW0J5L&_nc_oc=Adk2HkBhLO3HlnqMEN512H6bOO8kWLs9n2qaiqPc4ZLz5-wi2uBfzqlepnfKhx2hhhM&_nc_zt=23&_nc_ht=scontent.fist7-1.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_AflZ2sbTeyQC-owdG-cOBdq99WVZuYH0HKLsj13NJ_UOPw&oe=6934FD62","width":960,"height":365},"viewer_image":{"height":780,"width":2050},"blurred_image":{"uri":"https://scontent.fist7-1.fna.fbcdn.net/v/t39.30808-6/477575273_596577106619546_7712360987777031655_n.jpg?stp=dst-jpg_fb50_s320x320_tt6&_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=hroqQOZECdYQ7kNvwHW0J5L&_nc_oc=Adk2HkBhLO3HlnqMEN512H6bOO8kWLs9n2qaiqPc4ZLz5-wi2uBfzqlepnfKhx2hhhM&_nc_zt=23&_nc_ht=scontent.fist7-1.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_Afn0vRutoAnfxCkPeQ0UNfSocrQwMLU8RATTjTchjbR90g&oe=6934FD62","width":320,"height":122},"url":"https://www.facebook.com/photo/?fbid=204402652503662&set=a.113593838251211"}},"isBusinessPageActive":false,"profilePhoto":{"url":"https://www.facebook.com/photo/?fbid=152234581053803&set=a.107432348867360","viewer_image":{"height":2000,"width":2000},"id":"152234581053803"},"profilePicLarge":"https://scontent.fist20-2.fna.fbcdn.net/v/t39.30808-1/331711173_3408886226056104_241444658713195527_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=110&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=eQc1mF5YvQ8Q7kNvwFj3Nmh&_nc_oc=AdlpRt4MVt6MwM7loElnrHIChk-vaLz0fxxzMR70TNaQBST-bDibHAZNHPFldgXd1go&_nc_zt=24&_nc_ht=scontent.fist20-2.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_AflOlRBe-OV2xNqafE-cb2i0qvJfJ1yB21EebLXS_LKbQw&oe=693512A2","profilePicMedium":"https://scontent.fist20-2.fna.fbcdn.net/v/t39.30808-1/331711173_3408886226056104_241444658713195527_n.jpg?stp=dst-jpg_s148x148_tt6&_nc_cat=110&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=eQc1mF5YvQ8Q7kNvwFj3Nmh&_nc_oc=AdlpRt4MVt6MwM7loElnrHIChk-vaLz0fxxzMR70TNaQBST-bDibHAZNHPFldgXd1go&_nc_zt=24&_nc_ht=scontent.fist20-2.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_Afl-VZWFU-_9jnKbqC0-2y--wYgnEAyFxIrSDSRl98Azkg&oe=693512A2","profilePicSmall":"https://scontent.fist20-2.fna.fbcdn.net/v/t39.30808-1/331711173_3408886226056104_241444658713195527_n.jpg?stp=dst-jpg_s100x100_tt6&_nc_cat=110&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=eQc1mF5YvQ8Q7kNvwFj3Nmh&_nc_oc=AdlpRt4MVt6MwM7loElnrHIChk-vaLz0fxxzMR70TNaQBST-bDibHAZNHPFldgXd1go&_nc_zt=24&_nc_ht=scontent.fist20-2.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_AflavCQJIlrYTApZzkUMv1dDuld8v9j1ApqTtJkQrF32kQ&oe=693512A2","pageIntro":"Indian Vegan & Vegetarian Restaurant","category":"Restaurant","address":"1870 Prairie City Rd, Suite 500, Folsom, CA, United States, California","email":"contact@mantraindian.com","links":[],"phone":"+1 916-999-1749","website":"https://www.mantraindian.com/","services":"Delivery · Takeaway · Dine in…","priceRange":"$$","rating":"Not yet rated (1 review)","ratingCount":null,"likeCount":3224,"followerCount":3200}}}}}}},"/v1/facebook/profile/reels":{"get":{"tags":["Facebook"],"summary":"Profile Reels","description":"Get a public Facebook page's reels. Returns 10 reels at a time. Need 'next_page_id' and 'cursor' to paginate.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook page URL","schema":{"type":"string"},"example":"https://www.facebook.com/pacemorby"},{"name":"next_page_id","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"YXBwX2NvbGxlY3Rpb2......"},{"name":"cursor","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"AQHSFZtzkBauSDHgy8y......"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":3393,"reels":[{"id":"UzpfSTEwMDA2NDAyNzI0Mjg0OTpWSzoxMTE0MjM1OTIwNjY0NDA4","post_id":"1203161005161463","creation_time":"2025-09-13T20:51:28.000Z","url":"https://www.facebook.com/reel/1114235920664408","view_count":900,"feedback_id":"ZmVlZGJhY2s6MTIwMzE2MTAwNTE2MTQ2Mw==","description":"#globetheatreregina #GrandOpeningGlobeTheatre #yqrfood","video_id":"1114235920664408","thumbnail":"https://scontent.fsjc1-3.fna.fbcdn.net/v/t15.5256-10/548161090_781902490913426_4425148471361535737_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=104&ccb=1-7&_nc_sid=b5ba86&_nc_ohc=OSOOGTqjWBUQ7kNvwEELU_j&_nc_oc=AdlV3gLGZQ7yP7WZ71P40YFpkKZzQKTsoOwpia78XWC-552nlv0PaCzqp4JEN_eM8nw&_nc_zt=23&_nc_ht=scontent.fsjc1-3.fna&_nc_gid=RAC9UOMHIFPQvFPA49SzFw&oh=00_Afmww8iYxDtSamLiv7CnMMk5qN54iKlWRh3KGaQ9raX8sg&oe=6958CB0A","play_time_in_ms":22035,"video_url":"https://video.fsjc1-3.fna.fbcdn.net/o1/v/t2/f2/m366/AQOiS3S8KcKF2LNoPO0zOfAI3fDrZ4uUOgoNDGn6c7r8ABcujOm_egeBIp1UGt2C3T7bjmweRUAe6zZv183Qj3dpOTyUglIVsXGSEDb37A.mp4?_nc_cat=110&_nc_oc=AdlNlblWiTsxDyG87HyqrOExbMhSN5lMWCw0IbpBOlJvrHUyYOW84jgZapFBnh9ErN8&_nc_sid=8bf8fe&_nc_ht=video.fsjc1-3.fna.fbcdn.net&_nc_ohc=o6c-GAEZqSAQ7kNvwEDTAM6&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzMuMzYwLnN2ZV9zZCIsInhwdl9hc3NldF9pZCI6MTE3MDg1MjU4ODIxOTYzMywiYXNzZXRfYWdlX2RheXMiOjEwNywidmlfdXNlY2FzZV9pZCI6MTAxMjAsImR1cmF0aW9uX3MiOjIyLCJ1cmxnZW5fc291cmNlIjoid3d3In0%3D&ccb=17-1&_nc_gid=RAC9UOMHIFPQvFPA49SzFw&_nc_zt=28&oh=00_AfnqnDcmg0X9m2W775vmpbH2-IrJvzz6gKDg-nHx1bUNwA&oe=6958DB58&bitrate=379965&tag=sve_sd","music":{"id":"1491450028648565","track_title":"The Copper Kettle Restaurant · Original audio"},"author":{"id":"100064027242849","name":"The Copper Kettle Restaurant","is_verified":false,"url":"https://www.facebook.com/copperkettleyqr","image":"https://scontent.fsjc1-3.fna.fbcdn.net/v/t39.30808-1/298528699_436705561807015_4191178501684731329_n.jpg?stp=cp0_dst-jpg_s40x40_tt6&_nc_cat=101&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=GrqhlAtcX98Q7kNvwFcfQYJ&_nc_oc=AdkVhSbfC7VUfqrXTTBHm1mAzqonpy9gE0aRcOV9-ddVxPsL4Nm-fnzbu7pTwhxuCuQ&_nc_zt=24&_nc_ht=scontent.fsjc1-3.fna&_nc_gid=RAC9UOMHIFPQvFPA49SzFw&oh=00_Aflr4kBQgljqP3wqJypUlzhoGQVCx4OyyBZW28kx1UDabw&oe=6958E99C"}}],"cursor":"AQHSiBn76EsmuU....","next_page_id":"YXBwX2NvbGxlY...."}}}}}}},"/v1/facebook/profile/photos":{"get":{"tags":["Facebook"],"summary":"Profile Photos","description":"Get a public Facebook page's photos. Need 'next_page_id' and 'cursor' to paginate.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook page URL","schema":{"type":"string"},"example":"https://www.facebook.com/Spurs"},{"name":"next_page_id","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"YXBwX2NvbGxlY3Rpb2......"},{"name":"cursor","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"AQHSRM68MZ-AJKGSgRb0......"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":1000,"photos":[{"id":"YXBwX2l0ZW06MTAwMDQ0NjM0NDUwMjA4OjIzMDUyNzI3MzI6NTo6MTQyODEwNjQwMjAyMDQ5NQ==","photo_id":"1428106402020495","accessibility_caption":"May be an image of basketball and text","immersive_photo_encodings":[],"viewer_image":{"uri":"https://scontent-sea5-1.xx.fbcdn.net/v/t51.82787-15/622604539_18555344569004556_8789920462640292891_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=YhJA3Uo9mQwQ7kNvwF-U78r&_nc_oc=Adm4IWUCvbO4XHlgboz-L3jH_eVz1YgGx2VzBA43PLBLHQabFu5ZQY1pPHbHaDxTVXE&_nc_zt=23&_nc_ht=scontent-sea5-1.xx&_nc_gid=PY1yocAkrH2nITkFquluVw&oh=00_Afp4G33teGwLcRX96N3ulxHe9t0JgFHgnqW7JC-uGyHbtw&oe=69808C5B","height":1800,"width":1440},"photo_cix_screen":null,"thumbnail":"https://scontent-sea5-1.xx.fbcdn.net/v/t51.82787-15/622604539_18555344569004556_8789920462640292891_n.jpg?stp=c0.119.1440.1440a_dst-jpg_s206x206_tt6&_nc_cat=105&ccb=1-7&_nc_sid=714c7a&_nc_ohc=YhJA3Uo9mQwQ7kNvwF-U78r&_nc_oc=Adm4IWUCvbO4XHlgboz-L3jH_eVz1YgGx2VzBA43PLBLHQabFu5ZQY1pPHbHaDxTVXE&_nc_zt=23&_nc_ht=scontent-sea5-1.xx&_nc_gid=PY1yocAkrH2nITkFquluVw&oh=00_AfrRI7jPhILPra-iRKDUh-R3lQV3fbc1507ZhmDlZU0b6Q&oe=69808C5B","url":"https://www.facebook.com/photo.php?fbid=1428106402020495&set=pb.100044634450208.-2207520000&type=3"}],"cursor":"AQHSRM68MZ-AJKGSgRb0....","next_page_id":"YXBwX2NvbGxlY3Rpb24...."}}}}}}},"/v1/facebook/profile/posts":{"get":{"tags":["Facebook"],"summary":"Profile Posts","description":"Get public Facebook profile posts. This only returns the posts you would see from an incognito browser session. You can pass a url or a pageId. pageId is faster. pageId is the id of the profile page. Only returns 3 posts at a time.","parameters":[{"name":"url","in":"query","required":false,"description":"Facebook profile URL","schema":{"type":"string"},"example":"https://www.facebook.com/pacemorby"},{"name":"pageId","in":"query","required":false,"description":"Facebook profile page id","schema":{"type":"string"},"example":"100063669491743"},{"name":"cursor","in":"query","required":false,"description":"To paginate through the posts","schema":{"type":"string"},"example":"Cg8Ob3JnYW5pY19jdXJzb3IJA..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"1204545088344463","text":"I've had such a blast doing the No One Left Behind Challenge this year! Join me this Friday Dec 20 @ 5PM MST to learn about next month's challenge! https://subto.sjv.io/3Jk9Py","url":"https://www.facebook.com/reel/486651220706068/","permalink":"https://www.facebook.com/reel/486651220706068/","author":{"__typename":"User","name":"Pace Morby","short_name":"Pace Morby","id":"100063669491743"},"videoDetails":{"sdUrl":"https://video-atl3-2.xx.fbcdn.net/o1/v/t2/f2/m69/AQM-5pP3onM9DT-mhIF1lsU_5QIoHD3ezSh_534fSvquBk1J89JZc5j6cQzDP7ksAp5LQGEiJSVYnPWJVYmbgj42.mp4?strext=1&_nc_cat=111&_nc_sid=8bf8fe&_nc_ht=video-atl3-2.xx.fbcdn.net&_nc_ohc=myLadhBf0ekQ7kNvgH7M8Js&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzNlLjM2MC5zdmVfc2QiLCJ4cHZfYXNzZXRfaWQiOjExMjIwMjE0NDI4NDEyMTYsInZpX3VzZWNhc2VfaWQiOjEwMTIwLCJkdXJhdGlvbl9zIjo0MSwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&_nc_zt=28&oh=00_AYEC_emahkqbCvG8fdT8745B6NgR005IOXFslY3cbX8vVQ&oe=67DBF193","hdUrl":"https://video-atl3-1.xx.fbcdn.net/o1/v/t2/f2/m69/AQPpb__shxY1O25oSbb2cYJJZdDS1uvPXNvL_wuUl3A5X4oczA14gCptufMdZIQ44Fa1nPHR7BJne11vQR0-kjxg.mp4?strext=1&_nc_cat=110&_nc_sid=5e9851&_nc_ht=video-atl3-1.xx.fbcdn.net&_nc_ohc=A8zHzpvkW7gQ7kNvgH7rC10&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzNlLjcxOC5kYXNoX2gyNjQtYmFzaWMtZ2VuMl83MjBwIiwieHB2X2Fzc2V0X2lkIjoxMTIyMDIxNDQyODQxMjE2LCJ2aV91c2VjYXNlX2lkIjoxMDEyMCwiZHVyYXRpb25fcyI6NDEsInVybGdlbl9zb3VyY2UiOiJ3d3cifQ%3D%3D&ccb=17-1&vs=55aa7ea7f63fa16a&_nc_vs=HBksFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HQ0RxRHh4LTh0cUt3UFlEQUw2b0RSdTQ0dXQyYm1kakFBQUYVAALIAQAVAhg6cGFzc3Rocm91Z2hfZXZlcnN0b3JlL0dKbUREeHpUY0l2OUotMERBRGd5RVFhbXo2OWZickZxQUFBRhUCAsgBACgAGAAbAogHdXNlX29pbAExEnByb2dyZXNzaXZlX3JlY2lwZQExFQAAJoCqv5ifnv4DFQIoA0MzZSwXQETe2RaHKwIYGWRhc2hfaDI2NC1iYXNpYy1nZW4yXzcyMHARAHUCAA&_nc_zt=28&oh=00_AYHZ0-S4uD1baiPZOqxXl42i74UuWxjyYp-k5Dr7yuQs8w&oe=67DBE6E0","thumbnailUrl":"https://scontent-atl3-1.xx.fbcdn.net/v/t15.5256-10/470601406_1890766051448666_5960639905933280594_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=110&ccb=1-7&_nc_sid=be8305&_nc_ohc=J2akzbIcN6YQ7kNvgG1IA8_&_nc_oc=AdjagDgUUwSzsa_e8vqInwXyyB57thjMdZ0w4daZ0kLaM1g4xZsv56Q-2REAPzOzDdesjbOxpKtxdUYKNQetO-u3&_nc_zt=23&_nc_ht=scontent-atl3-1.xx&_nc_gid=1q0R8aSRmKitPpFFDxvSfQ&oh=00_AYGj7VpqDzBwgIcAEKdSnqMq2IuwKqbNtTrpNKE6y5EsCQ&oe=67DBEC4D"},"reactionCount":133,"commentCount":12,"videoViewCount":null,"publishTime":1734553170,"topComments":[{"id":"Y29tbWVudDoxMjA0NTQ1MDg4MzQ0NDYzXzEzMDU4NDQ3ODM3NjA1ODk=","text":"How can I sign up?","publishTime":1734569761,"author":{"id":"pfbid02uDNsa8qhySfhQJ83VUcVD5mmVShgxNrtepNZ2TwCsg22xMN3NhdNBQbxPjj2dyr9l","name":"BeezMo Jenkins","gender":"MALE","url":null}}]}],"cursor":"Cg8Ob3JnYW5pY19jdXJzb3IJAAABxEFRSFI4N0N6eHZvYWlsRnJ3TlFMQTU4NUtmTzdSR2hQUzJpa25iTHlaMS1zbG1pTjZtTWFtN0JrNjB3UXVyUFFDOUJabC1JbjYwV2lhQmdqdTYzOXZTaHlMTGhIcGZXV21jRjVtZzBNY3dtSGlkLUNObnVFang4Ym1vYjVxSEZYYXBOZlVwSlVXVWpZbHF5X2xYODNGZzdNNmlIeUVCX1Yxb19ZLTEtanczRGJidm9XZDgxYlk0TmlaXzAtTm11T3dQZC1rY2FyVm44eERCYldjLTBEMXpxU1NCNG4wMjl1SHdaSmY2NjdURHJKUUxPcDRzZXFTZ3gzQk5JbTN5djRVNWQzMnFMMGp4Z3EtY1FWSFZMOWdKbUROQmR3TGx4c1dkWFpicnJlbUpsRVhqU0dodHNBS0tPcWZ2Q0U3QjFHbVhwbVluV3phMmdEMnBnVTZQTG5wMXhXMVAtQWQ2TVBCMXlMZGJlMUJGaHVYSWNpZEJnYUlwUXctSWgxZzhIVlBWZWhjbXJMTEVCVi1SSzRMQUJFZVcxcGR3Mm1YbzBiUjdWV1QyaDY0NmpYT1dHeDduSFZGWHdnM3pvZHpvNXEyTGxUDwlhZF9jdXJzb3IODw9nbG9iYWxfcG9zaXRpb24CAA8Gb2Zmc2V0AgAPEGxhc3RfYWRfcG9zaXRpb24C/wE="}}}}}}},"/v1/facebook/group/posts":{"get":{"tags":["Facebook"],"summary":"Facebook Group Posts","description":"Get a public Facebook groups posts. Only can get 3 posts at a time :( (Facebook API limit)","parameters":[{"name":"url","in":"query","required":false,"description":"The URL of the group","schema":{"type":"string"},"example":"https://www.facebook.com/groups/1270525996445602/"},{"name":"group_id","in":"query","required":false,"description":"The ID of the group","schema":{"type":"string"},"example":"742354120555345"},{"name":"sort_by","in":"query","required":false,"description":"How to sort the posts","schema":{"type":"string","enum":["TOP_POSTS","RECENT_ACTIVITY","CHRONOLOGICAL","CHRONOLOGICAL_LISTINGS"]},"example":"TOP_POSTS"},{"name":"cursor","in":"query","required":false,"description":"The cursor to paginate to the next page","schema":{"type":"string"},"example":"AQHRBjJCelNvdGRjH8s2j-6..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"1286289372828481","text":null,"url":"https://www.facebook.com/groups/742354120555345/permalink/1286289372828481/","permalink":"https://www.facebook.com/sofiyati.942655/videos/996458202287759/?idorvanity=742354120555345","author":{"__typename":"User","name":"Sofiyati","short_name":"Sofiyati","id":"61552766652796"},"reactionCount":198,"commentCount":100,"videoViewCount":null,"publishTime":1748639389,"videoDetails":{"sdUrl":"https://video-sea1-1.xx.fbcdn.net/o1/v/t2/f2/m69/AQO0_B24bEmILx4bmOfr_cQA5BgXwF9DMHJYAkUfQJAmuMGLV9PAc9-TrNen27lHJjr45pVm0ufFCcTJBCeFIr_s.mp4?strext=1&_nc_cat=111&_nc_sid=8bf8fe&_nc_ht=video-sea1-1.xx.fbcdn.net&_nc_ohc=paW12HBCn0EQ7kNvwFwJnXg&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzNlLjY0MC5zdmVfc2QiLCJ4cHZfYXNzZXRfaWQiOjEwNjkzNDUwMjg0MTg4MjYsInZpX3VzZWNhc2VfaWQiOjEwMTIxLCJkdXJhdGlvbl9zIjoxNSwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&_nc_zt=28&oh=00_AfJNS34mvDAkIbtvP8o2nMuYrJ66ZeyCB1zQRlsD8sajow&oe=684150C7","hdUrl":"https://video-sea1-1.xx.fbcdn.net/o1/v/t2/f2/m69/AQM3UoTI5n6N2jVgKeUXSMPnqwAEQFHNGM9dejk3EV-MyBXNUcHlWtvYgUU2cD672EkWw5UAYZ3jJLXQiFdOvQh7.mp4?strext=1&_nc_cat=102&_nc_sid=5e9851&_nc_ht=video-sea1-1.xx.fbcdn.net&_nc_ohc=kSrgWXZVr9IQ7kNvwE16oSK&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzNlLjEyODAuZGFzaF9oMjY0LWJhc2ljLWdlbjJfNzIwcCIsInhwdl9hc3NldF9pZCI6MTA2OTM0NTAyODQxODgyNiwidmlfdXNlY2FzZV9pZCI6MTAxMjEsImR1cmF0aW9uX3MiOjE1LCJ1cmxnZW5fc291cmNlIjoid3d3In0%3D&ccb=17-1&vs=67dd4c5fe90b11c5&_nc_vs=HBksFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HRUlZOHgwUVZ4azVjSHdIQUNGeU9XTzlQTzlXYm1kakFBQUYVAALIARIAFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HQ1V3OFIySHNmZWZhbUVFQUNZbmdLUlBMSzU4YnJGcUFBQUYVAgLIARIAKAAYABsCiAd1c2Vfb2lsATEScHJvZ3Jlc3NpdmVfcmVjaXBlATEVAAAmlLT9qImk5gMVAigDQzNlLBdALkQYk3S8ahgZZGFzaF9oMjY0LWJhc2ljLWdlbjJfNzIwcBEAdQJlkp4BAA&_nc_zt=28&oh=00_AfJKQedBwUVhnjLuJgGuJ7E1TXLk0vib17T3YkAmJUPb8w&oe=68414B6C","thumbnailUrl":"https://scontent-sea1-1.xx.fbcdn.net/v/t15.5256-10/502130835_1399930867890626_4491393707187246303_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=100&ccb=1-7&_nc_sid=50ce42&_nc_ohc=l5JdWBSutswQ7kNvwFHAOSM&_nc_oc=Adm5GttPwjsWvVb_d8d7buJHGnqW6FNHHuRyi2n0UmFWsS7KDF2bg4bo_0uXYI8Uxh0&_nc_zt=23&_nc_ht=scontent-sea1-1.xx&_nc_gid=BIqW4GLH6GWa7rMa2JiKFA&oh=00_AfKO58NMsMKO_OXEVSw8A1BNbt0xSVognLfCBKxypc5etw&oe=684150FC"},"topComments":[{"id":"Y29tbWVudDoxMjg2Mjg5MzcyODI4NDgxXzEyODY1MTY1MjYxMzkwOTk=","text":"I can find thousands of videos with the same exact trend. And we all know what I’m referring to 🤭","publishTime":1748666375,"author":{"id":"pfbid0haqAQZCvs4cTVyfGwxCGPidvLYRNhFiboXkCH45LmPLAF1oQ7kJxaVig19KT8nZvl","name":"Trent Slushy","gender":"MALE","url":null}}]}],"cursor":"AQHRBjJCelNvdGRjH8s2j-...."}}}}}}},"/v1/facebook/post":{"get":{"tags":["Facebook"],"summary":"Post","description":"Get a public Facebook post or reel by url.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the post to get","schema":{"type":"string"},"example":"https://www.facebook.com/reel/1535656380759655"},{"name":"get_comments","in":"query","required":false,"description":"Whether you want to get the first several comments of the post","schema":{"type":"boolean"},"example":"false"},{"name":"get_transcript","in":"query","required":false,"description":"Whether you want to get the transcript of the post","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":48026,"post_id":"25118307061088489","like_count":2095,"comment_count":48,"share_count":133,"view_count":133000,"description":"Air Fryer Chocolate Cake \n\n100% f*cks, super simple and comes out gooey in the middle. 🍆 \n\n👨‍🍳 Ingredients:\n✅ 1 large banana – 100 g (3.5 oz)\n✅ 80 g vanilla YoPro yogurt (2.8 oz / ⅓ cup)\n✅ 15 g Cadbury Bournville cocoa (0.5 oz / 1 tbsp)\n✅ 80 ml egg whites (2.7 fl oz / ⅓ cup)\n✅ 50 g oat flour (1.75 oz / ½ cup)\n✅ 1 tsp vanilla extract (5 ml)\n✅ ½ tsp baking powder (2.5 g)\n👉 Optional: 1 square dark chocolate (10 g / 0.35 oz, ~55 cals)\n\n🔥 Method:\n 1. Mix banana, egg whites, yogurt, cocoa and vanilla until smooth\n 2. Stir in oat flour and baking powder\n 3. Pour into a ramekin or muffin tin\n 4. Add chocolate square to the centre if using\n 5. Air fry at 160°C / 320°F for 20 minutes\n\n📊 Macros (whole recipe):\nWithout choc: 378 cals | 27 g protein | 61.9 g carbs | 6 g fat\nWith choc: 433 cals | 27 g protein | 61.9 g carbs | 11.5 g fat\n\n📊 Macros (per serve — 2 serves):\nWithout choc: 189 cals | 13.5g protein | 31 g carbs | 3 g fat\nWith choc: 217 cals | 13.5 g protein | 31 g carbs | 5.8 g fat\n\nI also added low-calorie Peters ice cream and a small drizzle of Biscoff, but it honestly doesn’t need it. Tastes great on its own!\n\nIf you would like to make changes to this recipe yourself please do, but I like this EXACTLY the way it is. 🤝🫡","creation_time":"2025-09-18T06:30:18.000Z","feedback_id":"ZmVlZGJhY2s6MjUxMDIxMDY3OTkzNzUxODI=","url":"https://www.facebook.com/reel/1535656380759655","image_url":null,"video":{"id":"1535656380759655","sd_url":"https://video-fml1-1.xx.fbcdn.net/o1/v/t2/f2/m69/AQPmP0-_mHv5cFqZShaBXjVeIgFmk-_1-6fll0qvoiw3O_StvDRD1FPZafKE0Mri9p94smEKiXpdPjrMnIk2qesQ.mp4?strext=1&_nc_cat=106&_nc_sid=8bf8fe&_nc_ht=video-fml1-1.xx.fbcdn.net&_nc_ohc=l9xG1fq_DpcQ7kNvwHsNBKh&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzMuMzYwLnByb2dyZXNzaXZlX2gyNjQtYmFzaWMtZ2VuMl8zNjBwIiwieHB2X2Fzc2V0X2lkIjo4MTEzOTQ4MTQ3NDY5NjAsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjoyMywidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&_nc_gid=pXV0rbdIO2qXvelwzem88A&_nc_zt=28&oh=00_AfYY-br7Wa1JiPzs7_0vVr6SEV6zDf7qREmd6IV2xBGYMA&oe=68D239F0&bitrate=313736&tag=progressive_h264-basic-gen2_360p","hd_url":"https://video-fml1-1.xx.fbcdn.net/o1/v/t2/f2/m69/AQPvY-B_jtS_HwdB--AaOLTiMpw_euZ4QZoJbbh4iBl-faYyL6mYoumXJPqDF8qAnvZk8_SN5QOUds3tDfP0Bfa0.mp4?strext=1&_nc_cat=109&_nc_sid=8bf8fe&_nc_ht=video-fml1-1.xx.fbcdn.net&_nc_ohc=Z4s5wsMtW5wQ7kNvwFE0mwo&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzMuNzIwLnByb2dyZXNzaXZlX2gyNjQtYmFzaWMtZ2VuMl83MjBwIiwieHB2X2Fzc2V0X2lkIjo4MTEzOTQ4MTQ3NDY5NjAsInZpX3VzZWNhc2VfaWQiOjEwMDk5LCJkdXJhdGlvbl9zIjoyMywidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&_nc_gid=pXV0rbdIO2qXvelwzem88A&_nc_zt=28&oh=00_AfZJDoPCKtq3WW2VumFViHPpmIkGGqG34j9MWd9FmGrCVg&oe=68D25899&bitrate=1088662&tag=progressive_h264-basic-gen2_720p","height":1920,"width":1080,"length_in_second":23.36,"thumbnail":"https://scontent-fml1-1.xx.fbcdn.net/v/t51.82787-10/549761436_18521992156021539_7633323777597918486_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=103&ccb=1-7&_nc_sid=282d23&_nc_ohc=1LkTvLqxMhAQ7kNvwF2uUb7&_nc_oc=AdlKRAdNOj6ZDiga-3Zfj5bcwvfc68Lc39nsYJQ0hSPWGsRtUZJZ_sPCk25DrZJ2N98&_nc_zt=23&_nc_ht=scontent-fml1-1.xx&_nc_gid=pXV0rbdIO2qXvelwzem88A&oh=00_AfZy5UXtBdlEMJc6E6uLLiTvR15d344Nn4PO-wNA0cldQQ&oe=68D25528","captions_url":"https://scontent-fml1-1.xx.fbcdn.net/v/t39.2093-6/548496336_1535656704092956_4849526113470105591_n.srt?_nc_cat=105&ccb=1-7&_nc_sid=c211c2&_nc_ohc=IiEVsW2fSK0Q7kNvwEeCqpW&_nc_oc=AdmC4PNaIEGYuNZo_Qk6Qha6U8-ynQip-CKdvOrtQBRqTCrO8nOb6C5kABxPkLO4Vdc&_nc_zt=14&_nc_ht=scontent-fml1-1.xx&_nc_gid=pXV0rbdIO2qXvelwzem88A&oh=00_AfaJjBR2lJhhXTUO5hl0FWPGIlLxjVfuGMmTKUWSEtf6xA&oe=68D23D9F"},"author":{"id":"100000076236457","name":"Matt West","is_verified":true,"url":"https://www.facebook.com/matt.west.184","image":"https://scontent-fml1-1.xx.fbcdn.net/v/t39.30808-1/485744182_9938984382780671_4072259528431711152_n.jpg?stp=cp0_dst-jpg_s40x40_tt6&_nc_cat=1&ccb=1-7&_nc_sid=1d2534&_nc_ohc=zu8xeHB9r5gQ7kNvwGWw84m&_nc_oc=AdkZ2Ef1ReB34aXLnnIpd4KHQ95nC0wAYS1GptVwcltvxMBjKXEU_D-mebY8WPwkhGI&_nc_zt=24&_nc_ht=scontent-fml1-1.xx&_nc_gid=pXV0rbdIO2qXvelwzem88A&oh=00_AfbFDYlovggVMiDAQp2_r7Ou-o0RG4T0VPbLMxVTfPlW7g&oe=68D250E6"},"music":{"id":"1506592770696336","type":"CUSTOM_AUDIO","track_title":"Matt West · Original audio","music_album_art":"https://scontent-fml1-1.xx.fbcdn.net/v/t39.30808-1/485744182_9938984382780671_4072259528431711152_n.jpg?stp=cp0_dst-jpg_s64x64_tt6&_nc_cat=1&ccb=1-7&_nc_sid=1d2534&_nc_ohc=zu8xeHB9r5gQ7kNvwGWw84m&_nc_oc=AdkZ2Ef1ReB34aXLnnIpd4KHQ95nC0wAYS1GptVwcltvxMBjKXEU_D-mebY8WPwkhGI&_nc_zt=24&_nc_ht=scontent-fml1-1.xx&_nc_gid=pXV0rbdIO2qXvelwzem88A&oh=00_AfZEGmsJmX51XXJTwXi90sPYazNybtjik0KhIFczr3jqIg&oe=68D250E6"}}}}}}}},"/v1/facebook/post/transcript":{"get":{"tags":["Facebook"],"summary":"Transcript","description":"Get the transcript of a Facebook post. Can be a post or reel. You can only get a transcript if the video is under 2 minutes.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook post URL","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":49999939403,"transcript":"We're fishing\nbite x2\nBest bait\non this pole\nsomething else\nThere's a chance\ncan get a\nmythic pistol\nYou have to\nall game\nstill won't\nNuh uh\nliterally\nthe spawn\non it\n1 in 1000\nlike that\nWell watch\nright here\nGonna do it\nstream\nto finding\npistol\nto still lose with it\nThat was very\nvery much\nhoney\nthank you very much"}}}}}}},"/v1/facebook/post/comments":{"get":{"tags":["Facebook"],"summary":"Comments","description":"Get the comments of a Facebook post (or reel)","parameters":[{"name":"url","in":"query","required":false,"description":"Facebook post URL (or reel URL)","schema":{"type":"string"},"example":"https://www.facebook.com/reel/753347914167361"},{"name":"feedback_id","in":"query","required":false,"description":"Using feedback_id (instead of url) will *really* speed up the request. You can get the feedback_id when you make a request to /v1/facebook/post.","schema":{"type":"string"},"example":"ZmVlZGJhY2s6MTQ0NzY1NjMyMzM4Mzg0OA=="},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more comments. Get 'cursor' from previous response.","schema":{"type":"string"},"example":"MToxNzU3MTA2NzYyOgF1P1VkxpkA9Ds4..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"comments":[{"id":"Y29tbWVudDoxMjA2OTAzNjAxNDgzOTYwXzc4NzQ2NjY0NzI2NTk4Mw==","text":"How are you not 300lbs?","created_at":"2025-09-01T00:38:58.000Z","reply_count":16,"reaction_count":76,"author":{"id":"pfbid0Ay28K5Lc7QpQLD8wZEHrq4ertocvWcZApjZjDoRqfkYQSzSxaPBS7qFt53v95rERl","name":"George Bergerac","gender":"MALE","profile_picture":"https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-1/505842751_10236156984095460_2868572328330516064_n.jpg?stp=cp0_dst-jpg_p64x64_tt6&_nc_cat=111&ccb=1-7&_nc_sid=e99d92&_nc_ohc=g-I4H6KKM6MQ7kNvwFuygDF&_nc_oc=AdnwxxAwIfIChiaCwfglGjg0KQPGmQ1OGj63ApE0s61cGAfuYk3N_GRergiUg3NRJdE&_nc_zt=24&_nc_ht=scontent-iad3-2.xx&_nc_gid=bSL3vZeoZ5ZB38ahoYqBtg&oh=00_AfZaDkoSLpJpbQieLDeGB_yykXQsr1Nv8hM_VfkUA1BcdA&oe=68C11D0D","short_name":"George"}}],"cursor":"MToxNzU3MTA2NzYyOg....","has_next_page":true}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}