{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Linkme","description":"Get Linkme profile info"}],"paths":{"/v1/linkme":{"get":{"tags":["Linkme"],"summary":"Profile","description":"Get Linkme profile info by URL","parameters":[{"name":"url","in":"query","required":true,"description":"Linkme profile URL","schema":{"type":"string"},"example":"https://link.me/danucd"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":1000,"profile":{"id":"1bf3efbf94cc4f55d3650ddc61094ac3","firstName":"Dana","lastName":"","username":"danucd","verifiedAccount":0,"bio":"ALL MY LINKS👇","isAmbassador":1,"friendStatus":0,"profileVisitCount":"15.9k","isDefaultProfilePicture":false,"profileImage":"user-profile/1169288/tmp-2541-1763300314455.png","profileImageWebp":"webp-images/user-profile/1169288/tmp-2541-1763300314455.webp","isPrivate":0,"referralLink":"https://meglobalapp.page.link/TFZgPYaJGeqm3mXt5","deeplink":"https://meglobalapp.page.link/14GsZs1EQ2KMqxjH7","logo":"","logoMetaData":"","QRCode":"qrCode/v2/danucd","webTheme":"","linkmeCustomIcon":"style/icons/v5.1/LinkMe-1.png","cover":"","createdAt":"2024-11-01 12:37:51","updatedAt":"2025-11-16 13:43:17","stripeStatus":{"tipsEnabled":0,"stripeAccountId":"","stripeEnabled":false},"killer":0,"hideBottomButtons":0,"customMailForm":0,"hideAddToContacts":0,"subscriptionFeature":"","showForm":false,"subscriptionType":0,"displayNameOption":"user_name","trackingPixels":[],"isMuteEnable":0,"totalLinks":7,"chatID":"LinkMe-1169288","infoLinks":[{"title":"Email","linkId":1,"isCustom":false,"links":[{"webLinkId":1450947,"linkImage":"","linkValue":"dana.danucd@gmail.com","faceValue":"dana.danucdgmail.com","isCustom":false,"isAdult":false}]}],"businessInfo":null,"webLinks":[{"title":"Apple-music","linkId":9,"isCustom":false,"links":[{"webLinkId":1450958,"linkImage":"style/icons/v5.0/Apple-Music-1.png","linkValue":"https://music.apple.com/ng/artist/danucd/1562315189","faceValue":"1562315189","baseUrl":"https://music.apple.com/profile/","isCustom":false,"isAdult":false}]}],"customisedTheme":{"verifiedIcon":"blue","backgroundColor":"","backgroundImage":"","mainTextColor":"","level1TextColor":"","level2TextColor":"","featuredLinkTitles":null,"bioBackground":"","profilePicture":"","customFont":""},"totalFollowers":null,"sectionSettings":{"shouts":{"enabled":true,"position":null}},"sectionVisibility":[{"section":"bio","order":1,"enabled":1}]}}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}