{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Google Ad Library","description":"Scrape the Google Ad Transparency Library. *This only gets the public ads. Some ads you need to log in for and sadly we can't get those. Also, since there are so many variations, the return types might not all be 100% the same. Email me for suggestions. Also this endpoint is pretty new, if you find any errors or irregularities, please email me: support@scrapecreators.com"}],"paths":{"/v1/google/company/ads":{"get":{"tags":["Google Ad Library"],"summary":"Company Ads","description":"Get the ads for a company. *This only gets the public ads. Some ads you need to log in for and sadly we can't get those. Starting November 10th 2025, you will need to add get_ad_details=true to get the ad details (and will cost 25 credits). If you don't add that, only the advertiserId and creativeId from each ad will be returned (and will continue to cost just 1 credit)","parameters":[{"name":"domain","in":"query","required":false,"description":"The domain of the company","schema":{"type":"string"},"example":"lululemon.com"},{"name":"advertiser_id","in":"query","required":false,"description":"The advertiser id of the company","schema":{"type":"string"},"example":"AR01614014350098432001"},{"name":"topic","in":"query","required":false,"description":"The topic to search for. If you search for 'political', you will also need to pass a 'region', like 'US' or 'AU'","schema":{"type":"string","enum":["all","political"]},"example":"all"},{"name":"region","in":"query","required":false,"description":"The region to search for. Defaults to anywhere","schema":{"type":"string"},"example":"US"},{"name":"start_date","in":"query","required":false,"description":"Start date to search for. Format: YYYY-MM-DD","schema":{"type":"string"},"example":"2025-08-01"},{"name":"end_date","in":"query","required":false,"description":"End date to search for. Format: YYYY-MM-DD","schema":{"type":"string"},"example":"2025-08-11"},{"name":"get_ad_details","in":"query","required":false,"description":"Set to true to get the ad details. Will cost 25 credits.","schema":{"type":"string"},"example":"false"},{"name":"cursor","in":"query","required":false,"description":"Cursor to paginate through results","schema":{"type":"string"},"example":"CgoAP7znOo9RPjf%2FEhD5utgx8m75NrTTbU0AAAAAGgn8%2BJyW%2BJQK40A%3D"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":9926561,"ads":[{"advertiserId":"AR09628680369637163009","creativeId":"CR15036700036807262209","format":"text","adUrl":"https://adstransparency.google.com/advertiser/AR09628680369637163009/creative/CR15036700036807262209","advertiserName":"Foreplay Ventures Inc","domain":"foreplay.co","imageUrl":null,"firstShown":"2024-08-02T12:33:35.000Z","lastShown":"2025-11-10T19:31:13.000Z"}],"cursor":"CgoAP7zm82Y5sMRjEhBwPifBwIMxRttsqvUAAAAAGgn8%2BIdd%2BDICr8g%3D"}}}}}}},"/v1/google/ad":{"get":{"tags":["Google Ad Library"],"summary":"Ad Details","description":"Get the details for an ad. I'm using an OCR to get the text from the ad, so it might not be 100% accurate. If you find any errors or irregularities, please email me: support@scrapecreators.com","parameters":[{"name":"url","in":"query","required":true,"description":"The url of the ad","schema":{"type":"string"},"example":"https://adstransparency.google.com/advertiser/AR01614014350098432001/creative/CR10449491775734153217"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"advertiserId":"AR01614014350098432001","creativeId":"CR07443539616616939521","firstShown":null,"lastShown":"2025-06-18T18:09:00.000Z","format":"text","overallImpressions":{"min":null,"max":null},"creativeRegions":[{"regionCode":"US","regionName":"United States"}],"regionStats":[{"regionCode":"US","regionName":"United States","firstShown":null,"lastShown":"2025-06-18T05:00:00.000Z","impressions":{},"platformImpressions":[]}],"variations":[{"destinationUrl":"shop.lululemon.com/gifts-for-all","headline":"lululemonⓇ Official Site - Best Birthday Gifts","description":"Find The Perfect Gifts At lululemon . We Have You Covered . Shop Online For Your Gifts . Birthday Gifts For Everyone ...","allText":"Sponsored Ω lululemon shop.lululemon.com/gifts-for-all lululemonⓇ Official Site - Best Birthday Gifts Find The Perfect Gifts At lululemon . We Have You Covered . Shop Online For Your Gifts . Birthday Gifts For Everyone ...","imageUrl":"https://tpc.googlesyndication.com/archive/simgad/2201045439314643090"}]}}}}}}},"/v1/google/adLibrary/advertisers/search":{"get":{"tags":["Google Ad Library"],"summary":"Advertiser Search","description":"Search the Google Ad Transparency Library for advertisers to get their advertiser id","parameters":[{"name":"query","in":"query","required":true,"description":"The query to search for","schema":{"type":"string"},"example":"nike"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":9994695,"advertisers":[{"name":"Nike Lee","advertiser_id":"AR18100938063227125761","region":"US"}],"websites":[{"domain":"nike.ae"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}