{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Reddit","description":"Scrape Reddit posts and comments"}],"paths":{"/v1/reddit/subreddit/details":{"get":{"tags":["Reddit"],"summary":"Subreddit Details","description":"Get details about a subreddit. Pass a subreddit name or URL to the subreddit.","parameters":[{"name":"subreddit","in":"query","required":false,"description":"Subreddit name. MUST be case sensitive. So 'AskReddit' not 'askreddit'.","schema":{"type":"string"},"example":"AskReddit"},{"name":"url","in":"query","required":false,"description":"Subreddit URL","schema":{"type":"string"},"example":"https://www.reddit.com/r/AbsoluteUnits/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":33950256,"subreddit_id":"t5_a7wuv","display_name":"AbsoluteUnits","weekly_active_users":1428398,"weekly_contributions":8923,"rules":"#ABSOLUTE UNITS\n\n---\n\n    Be in awe at the size of these lads\n\n---\n\n###[Check out our deep, well-reflected definitions of an absolute unit.](https://www.reddit.com/r/AbsoluteUnits/wiki/index)  ","description":"Absolute Unit : an Animal or Public Figure, who is larger than we should normally expect.","header_img":null,"icon_img":"https://styles.redditmedia.com/t5_a7wuv/styles/communityIcon_t3cspt08bl681.png?width=128&frame=1&auto=webp&s=6f7e59ccf1724bd6c8b3e0d2840c9b21297102c3","subscribers":1923642,"advertiser_category":"","created_at":"2018-01-05T10:35:24.000Z","submit_text":""}}}}}}},"/v1/reddit/subreddit":{"get":{"tags":["Reddit"],"summary":"Subreddit Posts","description":"Get recent posts from a subreddit with engagement metrics","parameters":[{"name":"subreddit","in":"query","required":true,"description":"Subreddit name","schema":{"type":"string"}},{"name":"timeframe","in":"query","required":false,"description":"Timeframe to get posts from","schema":{"type":"string","enum":["all","day","week","month","year"]}},{"name":"sort","in":"query","required":false,"description":"Sort order","schema":{"type":"string","enum":["best","hot","new","top","rising"]}},{"name":"after","in":"query","required":false,"description":"After to get more posts. Get 'after' from previous response.","schema":{"type":"string"},"example":"t3_1234567890"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"posts":[{"id":"1lfbo7u","author":"Vetro_Nodulare2","author_fullname":"t2_16syu27ar1","subreddit":"AskReddit","title":"What is a thing you love that lots of people hate?","downs":0,"name":"t3_1lfbo7u","upvote_ratio":0.9,"ups":45,"total_awards_received":0,"score":45,"created":1750341959,"num_comments":349,"url":"https://www.reddit.com/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/","subreddit_subscribers":56146328,"is_video":false,"created_utc":1750341959}],"after":"t3_1lfogps"}}}}}}},"/v1/reddit/subreddit/search":{"get":{"tags":["Reddit"],"summary":"Subreddit Search","description":"Search within a subreddit for posts, comments, or media matching a query","parameters":[{"name":"subreddit","in":"query","required":true,"description":"Subreddit name (e.g. 'Fitness', not 'r/Fitness' or a full URL)","schema":{"type":"string"}},{"name":"query","in":"query","required":false,"description":"Search query to find matching content","schema":{"type":"string"},"example":"push ups"},{"name":"sort","in":"query","required":false,"description":"Sort order. For posts/media: relevance, hot, top, new, comments. For comments: relevance, top, new","schema":{"type":"string","enum":["relevance","hot","top","new","comments"]}},{"name":"timeframe","in":"query","required":false,"description":"Timeframe to filter results","schema":{"type":"string","enum":["all","year","month","week","day","hour"]}},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more results. Get 'cursor' from previous response.","schema":{"type":"string"},"example":"eyJjYW5kaWRhdGVzX3JldHVybmVkIjoi..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"posts":[{"id":"t3_8gmjrb","post_id":"t3_8gmjrb","title":"Is doing 50-100 pushups a day doing anything?","url":"https://www.reddit.com/r/Fitness/comments/8gmjrb/is_doing_50100_pushups_a_day_doing_anything/","permalink":"/r/Fitness/comments/8gmjrb/is_doing_50100_pushups_a_day_doing_anything/","nsfw":false,"spoiler":false,"is_crosspost":false,"subreddit":{"id":"t5_2qhx4","name":"Fitness","nsfw":false,"quarantined":false,"icon":"https://b.thumbs.redditmedia.com/Ted4KOMuRbaCYlDS55cTqjpVVZ2ENHKtYFbBFjI1i2o.png","banner":null,"description":"A place for the pursuit of physical fitness goals.\n\nPlease see the r/Fitness Wiki and FAQ at https://thefitness.wiki for help with common questions.","weekly_visitors":898726,"weekly_contributions":1827},"votes":1414,"num_comments":582,"created_at":"2018-05-03T01:09:17.620000+0000","created_at_iso":"2018-05-03T01:09:17.620Z","thumbnail":null,"thumbnail_blurred":false,"position":0,"relative_position":0}],"comments":[{"id":"t1_nxf7p27","post_id":"t3_1q2p898","parent_comment_id":null,"is_reply_to_comment":false,"author":"Philser23","author_avatar":null,"author_nsfw":false,"body":"On the 30th my girlfriend out of the blue decided her new year's resolution would be to start going to the gym. I was so excited since none of my partners ever shared the fitness hobby with me.","body_html":"<p>On the 30th my girlfriend out of the blue decided her new year's resolution would be to start going to the gym...</p>","images":[],"votes":123,"url":"https://www.reddit.com/r/Fitness/comments/1q2p898/gym_story_saturday/nxf7p27/","permalink":"/r/Fitness/comments/1q2p898/gym_story_saturday/nxf7p27/","created_at":"2026-01-03T11:26:02.434000+0000","created_at_iso":"2026-01-03T11:26:02.434Z","post":{"id":"t3_1q2p898","title":"Gym Story Saturday","url":"https://www.reddit.com/r/Fitness/comments/1q2p898/gym_story_saturday/","permalink":"/r/Fitness/comments/1q2p898/gym_story_saturday/","nsfw":false,"spoiler":false,"votes":67,"num_comments":80,"created_at":"2026-01-03T08:15:49.709000+0000","created_at_iso":"2026-01-03T08:15:49.709Z"},"subreddit":{"id":"t5_2qhx4","name":"Fitness","nsfw":false,"quarantined":false,"icon":"https://b.thumbs.redditmedia.com/Ted4KOMuRbaCYlDS55cTqjpVVZ2ENHKtYFbBFjI1i2o.png"},"position":0}],"media":[{"id":"t3_geo4x","title":"Bodyweight training for really strong people. See on you're own what I mean with strong. (Not me)","url":"https://www.reddit.com/r/Fitness/comments/geo4x/bodyweight_training_for_really_strong_people_see/","permalink":"/r/Fitness/comments/geo4x/bodyweight_training_for_really_strong_people_see/","media_type":"image","video":null,"image":{"src":"https://external-preview.redd.it/X6lz5yGIzqVA5LcI9w-FsQJJHhXoCugDhsXgWW3I404.jpg?format=pjpg&auto=webp&s=46814b0a707a532e39e6c20851ddc1fefb0a111f","width":480,"height":360,"resolutions":[{"url":"https://external-preview.redd.it/X6lz5yGIzqVA5LcI9w-FsQJJHhXoCugDhsXgWW3I404.jpg?width=320&crop=smart&format=pjpg&auto=webp&s=144ac4171a1862e5d91d8dd90d44271e22a8273d","width":320}]},"gallery_count":null,"aspect_ratio":1.3333333333333333,"nsfw":false,"spoiler":false,"is_blurred":false,"subreddit":{"id":"t5_2qhx4","name":"Fitness","nsfw":false,"quarantined":false},"position":0,"safe_search":"UNAVAILABLE"}],"cursor":"eyJjYW5kaWRhdGVzX3JldHVybmVkIjoie1wic2VjdGlvbl8xX3BpcGVsaW5lXzBfZ2xvYmFsX21vZGlmaWVyc1wiOlwiM1wiLFwic2VjdGlvbl8xX3BpcGVsaW5lXzFfbG9jYWxfbW9kaWZpZXJzXCI6XCIzXCIsXCJzZWN0aW9uXzJfcGlwZWxpbmVfNl9zY29wZV9zd2l0Y2hlclwiOlwiMFwiLFwic2VjdGlvbl8yX3BpcGVsaW5lXzdfcG9zdF9zZWFyY2hcIjpcIjdcIn0ifQ=="}}}}}}},"/v1/reddit/post/comments":{"get":{"tags":["Reddit"],"summary":"Post Comments","description":"Get comments + post information from a Reddit post","parameters":[{"name":"url","in":"query","required":true,"description":"Reddit post URL","schema":{"type":"string"},"example":"https://www.reddit.com/r/AskReddit/comments/ablzuq/people_who_havent_pooped_in_2019_yet_why_are_you/"},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more comments, or replies.","schema":{"type":"string"},"example":"ed1lvsa,ed3fnpq,ed25l2w"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"comments":[{"id":"mymupxb","author":"Background-Emu-2890","author_fullname":"t2_efdlposp6","body":"Black cat i have one and i love her so much !","name":"t1_mymupxb","created_utc":1750342221,"created_at_iso":"2025-06-19T14:10:21.000Z","parent_id":"t3_1lfbo7u","url":"https://www.reddit.com/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/mymupxb/","replies":{"items":[{"url":"https://www.reddit.com/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/mymxwde/","created_utc":1750343166,"created_at_iso":"2025-06-19T14:26:06.000Z","subreddit_id":"t5_2qh1i","approved_at_utc":null,"author_is_blocked":false,"comment_type":null,"awarders":[],"mod_reason_by":null,"banned_by":null,"author_flair_type":"text","total_awards_received":0,"subreddit":"AskReddit","author_flair_template_id":null,"likes":null,"replies":{"items":[],"more":{"has_more":false,"next_cursor":null}},"user_reports":[],"saved":false,"id":"mymxwde","banned_at_utc":null,"mod_reason_title":null,"gilded":0,"archived":false,"collapsed_reason_code":null,"no_follow":false,"author":"doublestitch","can_mod_post":false,"send_replies":true,"parent_id":"t1_mymupxb","score":19,"author_fullname":"t2_10py0g","removal_reason":null,"approved_by":null,"mod_note":null,"all_awardings":[],"body":"House panthers for the win","edited":false,"top_awarded_type":null,"author_flair_css_class":null,"name":"t1_mymxwde","is_submitter":false,"downs":0,"author_flair_richtext":[],"author_patreon_flair":false,"body_html":"&lt;div class=\"md\"&gt;&lt;p&gt;House panthers for the win&lt;/p&gt;\n&lt;/div&gt;","gildings":{},"collapsed_reason":null,"distinguished":null,"associated_award":null,"stickied":false,"author_premium":false,"can_gild":false,"link_id":"t3_1lfbo7u","unrepliable_reason":null,"author_flair_text_color":null,"score_hidden":false,"permalink":"/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/mymxwde/","subreddit_type":"public","locked":false,"report_reasons":null,"created":1750343166,"author_flair_text":null,"treatment_tags":[],"collapsed":false,"subreddit_name_prefixed":"r/AskReddit","controversiality":0,"depth":1,"author_flair_background_color":null,"collapsed_because_crowd_control":null,"mod_reports":[],"num_reports":null,"ups":19}],"more":{"has_more":true,"cursor":"myn970w"}},"ups":75,"downs":0,"score":75}],"post":{"id":"1lfbo7u","author":"Vetro_Nodulare2","author_fullname":"t2_16syu27ar1","subreddit":"AskReddit","title":"What is a thing you love that lots of people hate?","downs":0,"name":"t3_1lfbo7u","upvote_ratio":0.91,"ups":47,"total_awards_received":0,"score":47,"created":1750341959,"num_comments":353,"url":"https://www.reddit.com/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/","subreddit_subscribers":56146601,"is_video":false,"created_utc":1750341959},"more":{"has_more":true,"cursor":"myoaw2m,myob40l,myoeo9h"}}}}}}}},"/v1/reddit/search":{"get":{"tags":["Reddit"],"summary":"Search","description":"Search Reddit for posts","parameters":[{"name":"query","in":"query","required":true,"description":"Search query","schema":{"type":"string"}},{"name":"sort","in":"query","required":false,"description":"Sort by","schema":{"type":"string","enum":["relevance","new","top","comment_count"]},"example":"relevance"},{"name":"timeframe","in":"query","required":false,"description":"Timeframe","schema":{"type":"string","enum":["all","day","week","month","year"]},"example":"all"},{"name":"after","in":"query","required":false,"description":"Used to paginate to next page","schema":{"type":"string"},"example":"t3_1i8z28z"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"w63dgy","author":"Morgentau7","author_fullname":"t2_2hy2xjit","subreddit":"MadeMeSmile","title":"Player realizes that he nearly stole the dogs job","downs":0,"name":"t3_w63dgy","upvote_ratio":0.97,"ups":220403,"total_awards_received":0,"score":220403,"created":1658580900,"num_comments":1246,"url":"https://www.reddit.com/r/MadeMeSmile/comments/w63dgy/player_realizes_that_he_nearly_stole_the_dogs_job/","subreddit_subscribers":11605207,"is_video":true,"created_utc":1658580900}],"after":"t3_1izmcgx"}}}}}}},"/v1/reddit/ads/search":{"get":{"tags":["Reddit"],"summary":"Search Ads","description":"Search the Reddit Ad Library. Can only get a max of 30 ads.","parameters":[{"name":"query","in":"query","required":true,"description":"Search query","schema":{"type":"string"},"example":"Scraping"},{"name":"industries","in":"query","required":false,"description":"Industries to filter by","schema":{"type":"string","enum":["RETAIL_AND_ECOMMERCE","TECH_B2B","TECH_B2C","EDUCATION","ENTERTAINMENT","GAMING","FINANCIAL_SERVICES","HEALTH_AND_BEAUTY","CONSUMER_PACKAGED_GOODS","EMPLOYMENT","AUTO","TRAVEL","REAL_ESTATE","GAMBLING_AND_FANTASY_SPORTS","POLITICS_AND_GOVERNMENT","OTHER"]}},{"name":"budgets","in":"query","required":false,"description":"Budgets to filter by","schema":{"type":"string","enum":["LOW","MEDIUM","HIGH"]}},{"name":"formats","in":"query","required":false,"description":"Formats to filter by","schema":{"type":"string","enum":["IMAGE","VIDEO","CAROUSEL","FREE_FORM"]}},{"name":"placements","in":"query","required":false,"description":"Placements to filter by","schema":{"type":"string","enum":["FEED","COMMENTS_PAGE"]}},{"name":"objectives","in":"query","required":false,"description":"Objectives to filter by","schema":{"type":"string","enum":["IMPRESSIONS","CLICKS","CONVERSIONS","VIDEO_VIEWABLE_IMPRESSIONS","APP_INSTALLS"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"ads":[{"id":"79e005f1e09ec72245e904d87d2a0869","budget_category":"HIGH","industry":"OTHER","placements":["FEED"],"objective":"CONVERSIONS","creative":{"id":"t3_1cdt7o6","type":"TEXT","content":[{"destination_url":null,"display_url":"self.thepennyhoarder","call_to_action":null,"media_url":null}],"headline":"What is a rich person’s money tip you wish you knew sooner?","body":"Life would be a whole lot easier if someone would just Venmo us $1 million, but unfortunately the chance of that happening is, well, probably zero. (Venmo doesn’t allow transactions that large anyway.)\n\nBut even though our chances of becoming a millionaire are slim, we can still manage our money like one. No, we’re not going to tell you how to buy hundreds of shares of Apple stock. Or how to pick out the perfect yacht.\n\nThese are simple money moves any normal, non-millionaire person can make *today*. Each tip can get you closer to achieving your big goals.\n\nTake a look:\n\n# 1. Cancel Your Car Insurance\n\nYou might not even realize it, but your car insurance company is probably overcharging you. In fact, they’re kind of counting on you not noticing. Luckily, this problem is easy to fix. \n\nDon’t waste your time browsing insurance sites for a better deal. A company called[ **Insurify**](https://t.thepennyhoarder.com/aff_ad?campaign_id=319&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit) shows you all your options at once — people who do this save up to $996 per year. \n\nIf you tell them a bit about yourself and your vehicle, they’ll send you personalized quotes so you can compare them and find the best one for you.\n\nTired of overpaying for car insurance? It takes just five minutes to compare your options with Insurify and[ **see how much you could save on car insurance.**](https://t.thepennyhoarder.com/aff_ad?campaign_id=319&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit)\n\n# 2. Stop Paying Your Credit Card Company\n\nIf you have credit card debt, *you know*. The anxiety, the interest rates, the fear you’re never going to escape…\n\nAnd the truth is, your credit card company doesn’t really care. It’s just getting rich by ripping you off with high interest rates — some up to 36%. But a website called[ **AmOne**](https://t.thepennyhoarder.com/aff_c?offer_id=6370&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit) wants to help.\n\nIf you owe your credit card companies $100,000 or less, AmOne will match you with a low-interest loan you can use to pay off every single one of your balances.\n\nThe benefit? You’ll be left with one bill to pay each month. And because personal loans have lower interest rates (AmOne rates start at 6.40% APR), you’ll get out of debt *that* much faster. Plus: No credit card payment this month.\n\nYou don’t need a perfect credit score to get a loan — and comparing your options won’t affect your score at all. Plus, AmOne keeps your information confidential and secure, which is probably why after 20 years in business, it still has an A+ rating with the Better Business Bureau.\n\nIt takes less than a minute and just 10 questions to[ **see what loans you qualify for**](https://t.thepennyhoarder.com/aff_c?offer_id=6370&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit) — you don’t even need to enter your Social Security number. You do need to give AmOne a real phone number in order to qualify, but don’t worry — they won’t spam you with phone calls.\n\n# 3. You Can Become a Real Estate Investor for as Little as $10\n\nTake a look at some of the world’s wealthiest people. What do they have in common? Many invest in large private real estate deals. And here’s the thing: There’s no reason you can’t, too — for as little as $10. \n\n[**An investment called the Fundrise Flagship Fund**](https://t.thepennyhoarder.com/aff_c?offer_id=7384&aff_id=152&source=millionaires-sdyn-prt&aff_sub3=money-secrets-reddit) lets you get started in the world of real estate by giving you access to a low-cost, diversified portfolio of private real estate. The best part? You don’t have to be the landlord. The Flagship Fund does all the heavy lifting.\n\nWith an initial investment as low as $10, your money will be invested in the Fund, which already owns more than $1 billion worth of real estate around the country, from apartment complexes to the thriving housing rental market to larger last-mile e-commerce logistics centers.\n\nWant to invest more? Many investors choose to invest $1,000 or more. This is a Fund that can fit any type of investor’s needs. Once invested, you can track your performance from your phone and watch as properties are acquired, improved, and operated. As properties generate cash flow, you could earn money through quarterly dividend payments. And over time, you could earn money off the potential appreciation of the properties. \n\nSo if you want to get started in the world of real-estate investing, it takes just a few minutes to [**sign up and create an account with the Fundrise Flagship Fund**](http://t.thepennyhoarder.com/aff_c?offer_id=7384&aff_id=152&source=millionaires-sdyn-prt&aff_sub3=money-secrets-reddit).\n\n# 4. Get One Month of Free High-Speed Internet (and Pay as Little as $40/Month After That)\n\nThere are some bills you just can’t avoid. For most of us, that includes our internet bill. Your provider knows it’s pretty hard to go without it these days — that’s why so many of us are overpaying. \n\nBut with[ Metro by T-Mobile](https://t.thepennyhoarder.com/aff_c?offer_id=7522&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit), you can get high-speed, 5G home internet for as little as \\*$40 a month. No credit check, no deposit, and they won’t lock you into a contract that hikes up your price after your first year, either. \n\nYou’re probably thinking there’s some catch, but they’ll let you try it out for 14 days to see if you like it. If not, you’ll get your money back. You don’t even have to worry about breaking up with your current provider — T-Mobile will pay up to $750 in termination fees.\n\nEven better? When you switch now, get one month free after the rebate and purchase your equipment for just $24.99 (usually $49.99).\n\nSwitch to Metro by T-Mobile and get 5G Home Internet from Metro for $40/mo with AutoPay. Just[ enter your address and phone number here](https://t.thepennyhoarder.com/aff_c?offer_id=7522&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit) to see if you qualify.\n\n# 5. Get Paid $225/Month While Watching Movie Previews\n\n# If we told you that you could get paid while watching videos on your computer, you’d probably laugh.\n\nIt’s too good to be true, right?\n\nBut we’re serious. By signing up for a free account with[ **InboxDollars**](https://t.thepennyhoarder.com/aff_c?offer_id=3421&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit), you could add up to $225 a month to your pocket. They’ll send you short surveys every day, which you can fill out while you watch someone bake brownies or catch up on the latest Kardashian drama.\n\nNo, InboxDollars won’t replace your full-time job, but it’s something easy you can do while you’re already on the couch tonight, wasting time on your phone.\n\nUnlike other sites, InboxDollars pays you in cash — no points or gift cards. It’s already paid its users more than $56 million.\n\nSigning up takes about one minute, and you’ll immediately receive[ **a $5 bonus**](https://t.thepennyhoarder.com/aff_c?offer_id=3421&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit) to get you started.\n\n# 6. Killing Time? Earn up to $107 Per Win Playing Solitaire on Your Phone\n\nThere’s nothing wrong with killing a little free time on your phone. A lot of us pull up a mobile game on our break, on the couch or on long drives. But we found a game that will actually pay you to do it.\n\n[**A free iPhone app called Solitaire Smash**](https://t.thepennyhoarder.com/aff_ad?campaign_id=304&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit) will pay you up to $107 per win just for playing Solitaire online. Right now, when you add $10 to your account, Solitaire Smash will give you a $5 bonus to use in cash tournaments plus 1,000 gems.\n\nIt works just like the card game you already know, but it adds a timer to mix, and you’ll play against other players at your same skill level. The top three players win a prize. You can play casually for gems or compete for real money prize pools — up to $107 per win. Plus, they have a 4.9 star rating on the App Store.\n\nWant to see if you can turn $10 to $107 in your free time? Just download Solitaire Smash to get [**start playing and see how much money you can win**](https://t.thepennyhoarder.com/aff_ad?campaign_id=304&aff_id=152&source=money-secrets-prt-reddit&aff_sub3=money-secrets-reddit).","thumbnail_url":"https://b.thumbs.redditmedia.com/9gzdjvf9fDu1vN2zxxVrvGqOJizhLf80W701zzkml2k.jpg","allow_comments":false,"created_at":"2024-04-26T18:47:57+00:00","profile_id":"t2_3usby","post_url":"https://www.reddit.com/r/u_thepennyhoarder/comments/1cdt7o6/what_is_a_rich_persons_money_tip_you_wish_you/"},"profile_info":{"name":"u_thepennyhoarder","snoovatar_icon_url":"https://www.redditstatic.com/avatars/defaults/v2/avatar_default_6.png"}}]}}}}}}},"/v1/reddit/ad":{"get":{"tags":["Reddit"],"summary":"Get Ad","description":"Get a specific ad by id","parameters":[{"name":"id","in":"query","required":true,"description":"Ad id","schema":{"type":"string"},"example":"79e005f1e09ec72245e904d87d2a0869"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"data":{"analysis_summary":{"headline":["Direct Question/Engagement: The headline poses a direct question to the reader. This is highly effective on Reddit as it immediately invites user participation and sparks curiosity. It encourages users to think about the topic and potentially share their own experiences or insights in the comments, aligning with Reddit's interactive and discussion-focused nature. This direct engagement fosters a sense of community and encourages users to click to find out more or participate in the conversation."],"media":[]},"inspiration_creative":{"id":"79e005f1e09ec72245e904d87d2a0869","budget_category":"HIGH","industry":"OTHER","placements":["FEED"],"objective":"CONVERSIONS","creative":{"id":"t3_1cdt7o6","type":"TEXT","content":[{"destination_url":null,"display_url":"self.thepennyhoarder","call_to_action":null,"media_url":null}],"headline":"What is a rich person’s money tip you wish you knew sooner?","body":"Life would be a whole lot easier if someone would just Venmo us $1 million, but unfortunately the chance of that happening is, well, probably zero.","thumbnail_url":"https://b.thumbs.redditmedia.com/9gzdjvf9fDu1vN2zxxVrvGqOJizhLf80W701zzkml2k.jpg","allow_comments":false,"created_at":"2024-04-26T18:47:57+00:00","profile_id":"t2_3usby","post_url":"https://www.reddit.com/r/u_thepennyhoarder/comments/1cdt7o6/what_is_a_rich_persons_money_tip_you_wish_you/"},"profile_info":{"name":"u_thepennyhoarder","snoovatar_icon_url":"https://www.redditstatic.com/avatars/defaults/v2/avatar_default_6.png"}}}}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}