{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"LinkedIn","description":"Scrape LinkedIn"}],"paths":{"/v1/linkedin/profile":{"get":{"tags":["LinkedIn"],"summary":"Person's Profile","description":"Get a person's public profile (including recent posts) *Note this is for a persons public profile. This only returns what's publicly available, ie what you see in an incognito browser. So unfortunately LinkedIn doesn't return work history or job title publicly anymore :(","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn profile to get","schema":{"type":"string"},"example":"https://www.linkedin.com/in/parrsam/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"name":"Sam Parr","image":"https://media.licdn.com/dms/image/v2/C4E03AQH3Vz1qV_rNVQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1633389534107?e=2147483647&v=beta&t=8x4PIfTIYFOvpI1QRCDyAhNprZv0NY9kAp4EOdvUxLQ","location":"Westport, Connecticut, United States","followers":64803,"connections":"","about":"I founded The Hustle, a business news media company with $12 when I was around 25 years…","recentPosts":[{"title":"Super excited to watch the success of a company built by a Gauntlet AI grad: One missed contract renewal can cost your company $100k, $250k or more.…","activityType":"Posted by Austen Allred","link":"https://www.linkedin.com/posts/austenallred_super-excited-to-watch-the-success-of-a-company-activity-7333305862695919617-zTPI","image":"https://static.licdn.com/aero-v1/sc/h/53n89ecoxpr1qrki1do3alazb"}],"experience":[{"@type":"Organization","name":"Hampton","url":"https://www.linkedin.com/company/myhampton","location":"Austin, Texas Metropolitan Area","member":{"@type":"OrganizationRole","description":"******* ** * ****** ****** ********** ********* *** *************, ******** *** ****. <**><**>**'** ** * *** ****, *** ***...* *****.<**><**>*****://***.***********.***/"}}],"articles":[{"headline":"RANT: How to PROPERLY analyze risk","author":"Sam Parr","datePublished":"2017-09-17T13:08:55.000+00:00","image":"https://media.licdn.com/dms/image/v2/C5612AQG9YbLJodxr8g/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1520096757452?e=2147483647&v=beta&t=USPma8tkR65yot8_Ye0zDfH2llLpTrZdZGHtbzmPjQ0","articleBody":"I've been talking to a few people who want to leave...."}],"activity":[{"title":"Othership is this cool suana place in NYC. The founder is hosting a bunch of Hampton members for a special session + a talk on how he built the…","activityType":"Shared by Sam Parr","link":"https://www.linkedin.com/posts/parrsam_exclusive-othership-session-qa-with-founder-activity-7328134812047704064-4NUL","image":"https://media.licdn.com/dms/image/sync/v2/D4D27AQGJaeiyu-gbrA/articleshare-shrink_1280_800/B4DZbLDrHUHsAU-/0/1747163460743?e=2147483647&v=beta&t=rZtGF2kjhFfLy-TZil0d_bakH4UfHnK-dcxEsrZSl5s"}],"education":[{"@type":"EducationalOrganization","name":"Belmont University","url":"https://www.linkedin.com/school/belmont-university/","member":{"@type":"OrganizationRole","startDate":2008,"endDate":2012}}],"publications":[{"name":"How my partner and I created a unique company in tough times","url":"http://online.wsj.com/article/SB10001424127887324694904578602013087282582.html&urlhash=SvYD"}],"projects":[{"name":"Hustle Con 2015","url":"https://www.linkedin.com/in/elizabethyin","dateRange":"2015","description":"","contributors":[{"name":"Elizabeth Yin","link":"https://www.linkedin.com/in/elizabethyin","image":"https://media.licdn.com/dms/image/v2/C5603AQFFdhmfyyiZig/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1581292451105?e=2147483647&v=beta&t=IwghMTQZZjJzIGbN6e1IYfWVBDAkgLP_kSJJPOkzQDg"}]}],"recommendations":[{"name":"Jackie M.","link":"https://www.linkedin.com/in/jackiemooney","image":"https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2","text":"“I got to know Sam over 2 years of working at The Hustle. We grew from a company of 4 to 15 in that time and there was never a dull moment- anyone who knows Sam knows that he adds tons of energy to the workplace. This guy figures out what he wants to accomplish and makes it happen. He remains wildly driven and goal-oriented while constantly focused on both his personal and professional growth.”"}],"similarProfiles":[{"link":"https://ca.linkedin.com/in/stevemcody","name":"Steve Cody","image":"https://media.licdn.com/dms/image/v2/D5603AQEl17hna0u1ew/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1673387873184?e=2147483647&v=beta&t=pN-Y2CS1AQ8AOKbTo_2_B0AXjof4nGLKBdhNZTfFYJA"}]}}}}}}},"/v1/linkedin/company":{"get":{"tags":["LinkedIn"],"summary":"Company Page","description":"Get a LinkedIn company page","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn company page to get","schema":{"type":"string"},"example":"https://linkedin.com/company/shopify"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"id":"784652","name":"Shopify","description":"Shopify is a leading global commerce company, providing trusted tools to start, grow, market, and manage a retail business of any size. Shopify makes commerce better for everyone with a platform and services that are engineered for reliability, while delivering a better shopping experience for consumers everywhere. Shopify powers millions of businesses in more than 175 countries and is trusted by brands such as Allbirds, Gymshark, PepsiCo, Staples, and many more.\n\nFind all our jobs here: www.shopify.com/careers","location":{"city":"Ottawa","state":"ON","country":"CA"},"employeeCount":23591,"website":"https://www.shopify.com","logo":"https://media.licdn.com/dms/image/v2/D560BAQG_KjTcNcrLVw/company-logo_200_200/B56ZZolTV.HUAU-/0/1745511331439/shopify_logo?e=2147483647&v=beta&t=D2saVg58cKnwEiDQgFgzvwL24mTRM_cPuU1ndv6kL2U","coverImage":"https://media.licdn.com/dms/image/v2/D563DAQGruQL8kvBvnw/image-scale_191_1128/B56ZanR4DSGoAs-/0/1746563203576/shopify_cover?e=2147483647&v=beta&t=rHubhVZZZSU_1V8tCeBpwL80OG3bNBjzBNEWFO24qa4","slogan":"Make commerce better for everyone","similarPages":[{"link":"https://www.linkedin.com/company/airbnb","name":"Airbnb","image":"https://media.licdn.com/dms/image/v2/C560BAQFhfl32crIGIw/company-logo_100_100/company-logo_100_100/0/1630637496980/airbnb_logo?e=2147483647&v=beta&t=idNQqoBZi6dZq6iG78J5GTOsNV_ltJf7ITo7zYZ6VWg"}],"industry":"Software Development","size":"10,001+ employees","founded":2006,"headquarters":"Ottawa, ON","type":"Public Company","specialties":["ecommerce"],"funding":{"numberOfRounds":4,"lastRound":{"type":"Series C","date":"2014-01-11T00:00:00.000Z","amount":"US$ 100.0M"},"investors":[{"name":"OMERS Ventures","crunchbaseUrl":"https://www.crunchbase.com/organization/omers-ventures","image":"https://media.licdn.com/dms/image/sync/v2/D4E38AQEnDf6SgPOjAQ/crunchbase_investor_logo_100/crunchbase_investor_logo_100/0/1748147400909?e=1749146400&v=beta&t=V974RcVsrtQI1mZcqXPoKT8kutQoYneu8pjbjm5Un8E"}]},"employees":[{"name":"🇨🇦 Todd Jefferson","title":"Staff Software Developer at Shopify","link":"https://ca.linkedin.com/in/toddjefferson","image":"https://media.licdn.com/dms/image/v2/C4E03AQHg-rFtEf9qpw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1583259322606?e=2147483647&v=beta&t=uBFwlGCBbgFmwrP8f29P4nIDJCgZ1YEyyntBzpR9j30"}],"posts":[{"url":"https://www.linkedin.com/posts/shopify_shopifys-design-vision-brings-horizon-into-activity-7331699854873620480-R_N8","datePublished":"2025-05-23T15:17:41.770Z","text":"In the era of AI, design matters more than ever. And we’re not just keeping pace—we’re leading the way.\n\nDesigners at Shopify take an unconventional approach to the design process: embracing imperfection, doing the unorthodox, and obsessing over every detail. Roles are fluid and leads stay close to the craft.\n\nThe Summer ’25 Edition is so tactile you can practically feel it. It’s packed with interactive elements, fluid animations, and, as usual, a lot of Easter eggs. Horizon Drive is an homage to old driving games, straight out of an arcade. \n\nBut nothing this Edition captures our design vision more than Horizon. \n\nHorizon blends beautiful visuals with practical features that streamline the design process. No more scrolling and guessing. Just quick design choices and built-in AI to code the rest. \n\nShopify design leaders Maggie Fost, Kevin Clark, and Katarina﻿﻿ Batina﻿﻿ share how our design philosophy shaped the Summer ’25 Edition: https://lnkd.in/e-Q-DmCR"}]}}}}}}},"/v1/linkedin/company/posts":{"get":{"tags":["LinkedIn"],"summary":"Company Posts","description":"Get a LinkedIn company posts. Can only get 7 pages total (LinkedIn limitation)","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn company page to get","schema":{"type":"string"},"example":"https://linkedin.com/company/shopify"},{"name":"page","in":"query","required":false,"description":"The page number to get","schema":{"type":"number"},"example":"1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":49999951019,"posts":[{"url":"https://www.linkedin.com/posts/shopify_merchants-can-now-use-sidekick-voice-mode-activity-7429579034096726016-uX1e","id":"7429579034096726016","datePublished":"2026-02-17T17:34:36.617Z","text":"Merchants can now use Sidekick voice mode in the Shopify mobile app.\n\nOne of the first to try it out: Jimmy Donaldson, aka MrBeast.\n\nVoice mode makes it even easier to tackle tasks and get business insights on the go. It’s like having an AI-powered Shopify expert right in your pocket."}]}}}}}}},"/v1/linkedin/post":{"get":{"tags":["LinkedIn"],"summary":"Post","description":"Get a Linkedin post. This can be a post or an article.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn post to get","schema":{"type":"string"},"example":"https://www.linkedin.com/pulse/being-father-has-made-me-better-leader-vice-versa-austen-allred/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"url":"https://www.linkedin.com/pulse/being-father-has-made-me-better-leader-vice-versa-austen-allred","name":"Being a Father Has Made me a Better Leader, and Vice Versa","headline":"It's not all that unique to be a 26-year-old founder in Silicon Valley. What was far more surprising to people in 2017 when I joined the S17 Y Combinator cohort is that I already had a family of my own.","commentCount":17,"likeCount":210,"datePublished":"2020-06-21T14:35:59.000+00:00","description":"It's not all that unique to be a 26-year-old founder in Silicon Valley. What was far more surprising to people in 2017 when I joined the S17 Y Combinator cohort is that I already had a family of my own. ....","author":{"name":"Austen Allred","url":"https://www.linkedin.com/in/austenallred","followers":30863},"comments":[{"author":"Jeremy M.","text":"Austen, thanks for sharing!","linkedinUrl":"https://uk.linkedin.com/in/jeremymurray"}],"moreArticles":[{"link":"https://www.linkedin.com/pulse/note-outcomes-data-lambda-school-austen-allred","title":"A Note About Outcomes Data at Lambda School","datePublished":"Feb 24, 2020","description":"Due to some recent online media, there’s been some confusion recently about student outcomes at Lambda School - which…","reactionCount":168,"commentCount":15}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}