{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Pillar","description":"Scrape Pillar pages"}],"paths":{"/v1/pillar":{"get":{"tags":["Pillar"],"summary":"Pillar page","description":"Pillar page","parameters":[{"name":"url","in":"query","required":true,"description":"URL to Pillar page","schema":{"type":"string"},"example":"https://pillar.io/angelstrife"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"id":"d8a5cbb4-a64d-44f2-830d-27a489bbc608","first_name":"Angel","last_name":"Blanco","email_primary":"angelrafaelcovablanco@gmail.com","location":"México","email":"angelrafaelcovablanco@gmail.com","amazon":"","medium":"","tiktok":"https://tiktok.com/@angelstrifeoficial","twitch":"","discord":"","patreon":"","spotify":"https://open.spotify.com/artist/3Lse4fAlOchY8msotsYMA6?si=4nKqeTSRRsSDoNj1tfvNtA","twitter":"https://twitter.com/SoyAngelStrife","youtube":"https://www.youtube.com/channel/UCgZSHuBjHSFADbFQOCN1ifg","facebook":"https://www.facebook.com/AngelStrifeOficial","linkedin":"https://mx.linkedin.com/in/angelcovablanco","snapchat":"","instagram":"https://www.instagram.com/angelstrifeoficial","soundcloud":"https://soundcloud.com/contienda-records","apple_app_store":"","google_app_store":"","links":[{"id":"66472110-1ba7-11ee-b33b-e5396daf72e9","type":"twitter","title":"twitter","url":"https://twitter.com/SoyAngelStrife","clicks":2,"order":null}],"products":[{"id":"254c8681-1d52-11ee-b065-850167411bb1","title":"\"30 Mil Pies De Altura Para Morir de Amor\" - LP","price":0,"url":"https://angel-strife.ueniweb.com/products/merchandise/30-mil-pies-de-altura-para-morir-de-amor-lp-especial-edition-vynil-deluxe-53106871","name":"\"30 Mil Pies De Altura Para Morir de Amor\" - LP","description":"Especial Edition Vynil Deluxe","image":"https://athlane-file-management-prod.s3.amazonaws.com/a925f7b5-77ba-4095-b755-27b2bc221baa"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}