{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Kick","description":"Scrape Kick clips"}],"paths":{"/v1/kick/clip":{"get":{"tags":["Kick"],"summary":"Clip","description":"Get Kick clip","parameters":[{"name":"url","in":"query","required":true,"description":"Kick clip URL","schema":{"type":"string"},"example":"https://kick.com/xqc/clips/clip_01JGJHB6CEVFCQRYTVPM8DW892"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"clip":{"id":"clip_01JGJHB6CEVFCQRYTVPM8DW892","livestream_id":"45013036","category_id":"15","channel_id":668,"user_id":13035177,"title":"MonkaW","clip_url":"https://clips.kick.com/clips/7a/clip_01JGJHB6CEVFCQRYTVPM8DW892/playlist.m3u8","thumbnail_url":"https://clips.kick.com/clips/7a/clip_01JGJHB6CEVFCQRYTVPM8DW892/thumbnail.webp","privacy":"CLIP_PRIVACY_PUBLIC","likes":0,"liked":false,"views":11793,"duration":50,"started_at":"2025-01-02T03:34:51.825Z","created_at":"2025-01-02T03:37:13.559618Z","is_mature":false,"video_url":"https://clips.kick.com/clips/7a/clip_01JGJHB6CEVFCQRYTVPM8DW892/playlist.m3u8","view_count":11793,"likes_count":0,"vod":{"id":"2ba60535-342e-4397-b16a-fb739ca96b21"},"category":{"id":15,"name":"Just Chatting","slug":"just-chatting","responsive":"https://files.kick.com/images/subcategories/15/banner/b697a8a3-62db-4779-aa76-e4e47662af97","banner":"https://files.kick.com/images/subcategories/15/banner/b697a8a3-62db-4779-aa76-e4e47662af97","parent_category":"irl"},"creator":{"id":13035177,"username":"cskorm","slug":"cskorm","profile_picture":null},"channel":{"id":668,"username":"xQc","slug":"xqc","profile_picture":"https://files.kick.com/images/user/676/profile_image/conversion/931b4e8f-5445-427c-bd82-b473530390cc-thumb.webp"}}}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}