{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Twitter","description":"Get Twitter profiles, tweets, followers and more"}],"paths":{"/v1/twitter/profile":{"get":{"tags":["Twitter"],"summary":"Profile","description":"Get Twitter profile information including stats and metadata","parameters":[{"name":"handle","in":"query","required":true,"description":"Twitter handle","schema":{"type":"string"},"example":"Austen"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"__typename":"User","id":"VXNlcjoyMjE4MzgzNDk=","rest_id":"221838349","affiliates_highlighted_label":{"label":{"url":{"url":"https://twitter.com/bloomtech","urlType":"DeepLink"},"badge":{"url":"https://pbs.twimg.com/profile_images/1542996246477938688/PR4UFtE6_bigger.jpg"},"description":"Bloom Institute of Technology","userLabelType":"BusinessLabel","userLabelDisplayType":"Badge"}},"is_blue_verified":true,"profile_image_shape":"Circle","legacy":{"created_at":"Wed Dec 01 19:13:23 +0000 2010","default_profile":false,"default_profile_image":false,"description":"CEO https://t.co/m6TigM5azr & https://t.co/NuPTghEZ1I (part of @bloomtech). We help teams maximize productivity using AI. Will tweet as I wish and suffer the consequences.","entities":{"description":{"urls":[{"display_url":"GauntletAI.com","expanded_url":"http://GauntletAI.com","url":"https://t.co/m6TigM5azr","indices":[4]}]},"url":{"urls":[{"display_url":"gauntletai.com","expanded_url":"http://gauntletai.com","url":"https://t.co/nCe0AdT8D4","indices":[0]}]}},"fast_followers_count":0,"favourites_count":80812,"followers_count":377608,"friends_count":1051,"has_custom_timelines":true,"is_translator":false,"listed_count":3959,"location":"Austin, TX","media_count":3843,"name":"Austen Allred","normal_followers_count":377608,"pinned_tweet_ids_str":["1882816395400073367"],"possibly_sensitive":false,"profile_banner_url":"https://pbs.twimg.com/profile_banners/221838349/1622098809","profile_image_url_https":"https://pbs.twimg.com/profile_images/1608281295918096385/D2kh-M28_normal.jpg","profile_interstitial_type":"","screen_name":"Austen","statuses_count":46114,"translator_type":"regular","url":"https://t.co/nCe0AdT8D4","verified":false,"withheld_in_countries":[]},"tipjar_settings":{"is_enabled":false,"bandcamp_handle":"","bitcoin_handle":"","cash_app_handle":"","ethereum_handle":"","gofundme_handle":"","patreon_handle":"","pay_pal_handle":"","venmo_handle":""},"legacy_extended_profile":{},"is_profile_translatable":false,"has_hidden_subscriptions_on_profile":false,"verification_info":{"is_identity_verified":false,"reason":{"description":{"text":"This account is verified because it's an affiliate of @bloomtech on X. Learn more","entities":[{"from_index":54,"to_index":64,"ref":{"url":"https://twitter.com/bloomtech","url_type":"ExternalUrl"}}]},"verified_since_msec":"1473330227634"}},"highlights_info":{"can_highlight_tweets":true,"highlighted_tweets":"482"},"user_seed_tweet_count":0,"business_account":{},"creator_subscriptions_count":3}}}}}}},"/v1/twitter/user-tweets":{"get":{"tags":["Twitter"],"summary":"User Tweets","description":"Get tweets from a user's profile. *These aren't the users latest tweets. Sadly, Twitter publicly only returns 100 of the users most popular tweets.","parameters":[{"name":"handle","in":"query","required":true,"description":"Twitter handle","schema":{"type":"string"},"example":"levelsio"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"tweets":[{"rest_id":"1834021269559501236","views":{"count":"4710824","state":"EnabledWithCount"},"source":"<a href=\"http://twitter.com/download/iphone\" rel=\"nofollow\">Twitter for iPhone</a>","legacy":{"bookmark_count":2634,"bookmarked":false,"created_at":"Thu Sep 12 00:08:39 +0000 2024","conversation_id_str":"1834021269559501236","display_text_range":[0],"entities":{"hashtags":[],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[]},"favorite_count":129276,"favorited":false,"full_text":"Wife: “What did your teacher remember about September 11th?”\n\nNine-year-old: “She was only four then, she doesn’t remember it at all.”","is_quote_status":false,"lang":"en","quote_count":674,"reply_count":388,"retweet_count":2901,"retweeted":false,"user_id_str":"221838349","id_str":"1834021269559501236"},"url":"https://x.com/Austen/status/1935730646267158797"}]}}}}}}},"/v1/twitter/tweet":{"get":{"tags":["Twitter"],"summary":"Tweet Details","description":"Get detailed information about a specific tweet including engagement","parameters":[{"name":"url","in":"query","required":true,"description":"Tweet URL","schema":{"type":"string"}},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"rest_id":"1935730646267158797","views":{"count":"27539","state":"EnabledWithCount"},"source":"<a href=\"https://mobile.twitter.com\" rel=\"nofollow\">Twitter Web App</a>","legacy":{"bookmark_count":95,"bookmarked":false,"created_at":"Thu Jun 19 16:05:24 +0000 2025","conversation_id_str":"1935730646267158797","display_text_range":[0],"entities":{"hashtags":[],"media":[{"display_url":"pic.x.com/YywdjQZde8","expanded_url":"https://x.com/Austen/status/1935730646267158797/photo/1","id_str":"1935730260303069184","indices":[149],"media_key":"3_1935730260303069184","media_url_https":"https://pbs.twimg.com/media/Gt0YanJWwAA6B80.jpg","type":"photo","url":"https://t.co/YywdjQZde8","ext_media_availability":{"status":"Available"},"allow_download_status":{"allow_download":true},"media_results":{"result":{"media_key":"3_1935730260303069184"}}}],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[]},"extended_entities":{"media":[{"display_url":"pic.x.com/YywdjQZde8","expanded_url":"https://x.com/Austen/status/1935730646267158797/photo/1","id_str":"1935730260303069184","indices":[149],"media_key":"3_1935730260303069184","media_url_https":"https://pbs.twimg.com/media/Gt0YanJWwAA6B80.jpg","type":"photo","url":"https://t.co/YywdjQZde8","ext_media_availability":{"status":"Available"},"allow_download_status":{"allow_download":true},"media_results":{"result":{"media_key":"3_1935730260303069184"}}}]},"favorite_count":80,"favorited":false,"full_text":"This was created by a Gauntlet AI grad based on a whole lot of experimentation.\n\nOne of the most important things an AI dev can begin to understand. https://t.co/YywdjQZde8","is_quote_status":false,"lang":"en","possibly_sensitive":false,"possibly_sensitive_editable":true,"quote_count":3,"reply_count":6,"retweet_count":5,"retweeted":false,"user_id_str":"221838349","id_str":"1935730646267158797"}}}}}}}},"/v1/twitter/tweet/transcript":{"get":{"tags":["Twitter"],"summary":"Transcript","description":"Get the transcript of a video tweet. Unfortunately this is a little slow because I'm using AI to get the transcript","parameters":[{"name":"url","in":"query","required":true,"description":"Tweet URL","schema":{"type":"string"},"example":"https://x.com/TheoVon/status/1916982720317821050"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"transcript":"Since you're kind of like a leader in innovation and technology in our world, you know, um do you how do you know that what your convictions are, how do you gauge if what your convictions are are the best for everybody kind of? Like how do you kind of figure that out, you know? It seems like such a challenge. I mean, look at the end of the day, um there are still a lot of options of things that people can do. Just because I build something doesn't mean that people are going to use it. Actually a lot of the things that I build like some of some of them work, some of them don't. And like I think part of the reason why the company has been successful is because, you know, maybe we have a slightly higher hit rate of things working than others. But if we do something that doesn't work, then in general people aren't going to use it. And then the future doesn't go in that direction. So I see. So you're saying it's up to the user more. Yeah, I mean look, it's always served me well to generally have faith in people and believe that people are smart and can make good decisions for themselves. And whenever we try to like adopt some sort of like attitude of oh we must know better than them. It's like we're like we're the people building technology. That's when you lose. So I I I tend to just think that at the end of the day, yeah, I mean I think people are smarter than than a lot of people think and I think ultimately drive the direction that society goes in."}}}}}}},"/v1/twitter/community":{"get":{"tags":["Twitter"],"summary":"Community","description":"Get the details of a Twitter(X) Community","parameters":[{"name":"url","in":"query","required":true,"description":"Community URL","schema":{"type":"string"},"example":"https://x.com/i/communities/1926186499399139650"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"__typename":"Community","is_member":false,"name":"The First Thousand","role":"NonMember","rest_id":"1926186499399139650","actions":{"join_action_result":{"__typename":"CommunityJoinActionUnavailable"},"id":"Q29tbXVuaXR5QWN0aW9uczoxOTI2MTg2NDk5Mzk5MTM5NjUw"},"description":"This community is for creators and builders who are growing to their first 1,000 followers. Give insights, build your brand, and grow a loyal audience.","creator_results":{"result":{"__typename":"User","id":"VXNlcjoxOTIxMzY4NDU0NDQ5MjAxMTUy","is_blue_verified":true,"core":{"screen_name":"CanaCarson"},"verification":{"verified":false}},"id":"VXNlclJlc3VsdHM6MTkyMTM2ODQ1NDQ0OTIwMTE1Mg=="},"join_policy":"Open","created_at":1748073622931,"rules":[{"rest_id":"1926189963793609186","description":"This isn’t the space to drop ChatGPT engineered empty platitudes","name":"No Empty Platitudes","id":"Q29tbXVuaXR5UnVsZToxOTI2MTg5OTYzNzkzNjA5MTg2"}],"members_facepile_results":[{"result":{"__typename":"User","avatar":{"image_url":"https://pbs.twimg.com/profile_images/1944871269775601664/Ho7tiGd2_normal.jpg"},"id":"VXNlcjoxOTIxMzY4NDU0NDQ5MjAxMTUy"},"id":"VXNlclJlc3VsdHM6MTkyMTM2ODQ1NDQ0OTIwMTE1Mg=="}],"member_count":1896,"id":"Q29tbXVuaXR5OjE5MjYxODY0OTkzOTkxMzk2NTA="}}}}}}},"/v1/twitter/community/tweets":{"get":{"tags":["Twitter"],"summary":"Community Tweets","description":"Get the tweets from a Twitter(X) Community","parameters":[{"name":"url","in":"query","required":true,"description":"Community URL","schema":{"type":"string"},"example":"https://x.com/i/communities/1926186499399139650"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"tweets":[{"id":"1940874916771123735","source":"<a href=\"http://twitter.com/download/iphone\" rel=\"nofollow\">Twitter for iPhone</a>","view_count":"8660","bookmark_count":10,"bookmarked":false,"created_at":"Thu Jul 03 20:46:54 +0000 2025","conversation_id_str":"1940874916771123735","display_text_range":[0],"favorite_count":173,"favorited":false,"full_text":"You just need 1 viral tweet https://t.co/Z4Q5jtsxAp","is_quote_status":false,"lang":"en","possibly_sensitive":false,"possibly_sensitive_editable":true,"quote_count":2,"reply_count":55,"retweet_count":3,"retweeted":false,"user_id_str":"73647967","id_str":"1940874916771123735","user":{"__typename":"User","id":"VXNlcjo3MzY0Nzk2Nw==","rest_id":"73647967","affiliates_highlighted_label":{},"avatar":{"image_url":"https://pbs.twimg.com/profile_images/1590652776719286274/eeualJ2p_normal.jpg"},"core":{"created_at":"Sat Sep 12 14:00:05 +0000 2009","name":"Mike in’ Software","screen_name":"mikeinsoftware"},"dm_permissions":{},"is_blue_verified":true,"legacy":{"default_profile":true,"default_profile_image":false,"description":"Senior SWE👨‍💻 Indie hacking my way to financial freedom 👀 Follow for free early access to next project","entities":{"description":{"urls":[]}},"fast_followers_count":0,"favourites_count":7532,"followers_count":1173,"friends_count":990,"has_custom_timelines":true,"is_translator":false,"listed_count":8,"media_count":518,"normal_followers_count":1173,"pinned_tweet_ids_str":["1945599110876176561"],"possibly_sensitive":false,"profile_interstitial_type":"","statuses_count":2931,"translator_type":"none","withheld_in_countries":[]},"location":{"location":""},"media_permissions":{},"parody_commentary_fan_label":"None","profile_image_shape":"Circle","professional":{"rest_id":"1928057904189559014","professional_type":"Creator","category":[{"id":1055,"name":"Software developer/Programmer/Software engineer","icon_name":"IconBriefcaseStroke"}]},"privacy":{"protected":false},"relationship_perspectives":{},"tipjar_settings":{"is_enabled":false,"bandcamp_handle":"","bitcoin_handle":"","cash_app_handle":"","ethereum_handle":"","gofundme_handle":"","patreon_handle":"","pay_pal_handle":"","venmo_handle":""},"verification":{"verified":false}}}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}