{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/channel":{"get":{"tags":["YouTube"],"summary":"Channel Details","description":"Get comprehensive channel information including stats and metadata. Can pass channelId, handle, or url.","parameters":[{"name":"channelId","in":"query","required":false,"description":"YouTube channel ID. Can pass a channelId, handle or url","schema":{"type":"string"},"example":"UC-9-kyTW8ZkZNDHQJ6FgpwQ"},{"name":"handle","in":"query","required":false,"description":"YouTube channel handle. Can pass a channelId, handle or url","schema":{"type":"string"},"example":"ThePatMcAfeeShow"},{"name":"url","in":"query","required":false,"description":"YouTube channel URL. Can pass a channelId, handle or url","schema":{"type":"string"},"example":"https://www.youtube.com/@ThePatMcAfeeShow"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"channelId":"UCxcTeAKWJca6XyJ37_ZoKIQ","channel":"http://www.youtube.com/@ThePatMcAfeeShow","name":"The Pat McAfee Show","avatar":{"image":{"sources":[{"url":"https://yt3.googleusercontent.com/ytc/AIdro_nBgMGIxgHehCAlUUepEhd9Yooi1I55k6IF2WExl-v8Q-c=s72-c-k-c0x00ffffff-no-rj","width":72,"height":72}],"processor":{"borderImageProcessor":{"circular":true}}},"avatarImageSize":"AVATAR_SIZE_XL","loggingDirectives":{"trackingParams":"CC0Q6OENIhMIkInyhaSPiwMV9wfWAB3aoR9h","visibility":{"types":"12"}}},"description":"","subscriberCount":2750000,"subscriberCountText":"2.75M subscribers","videoCountText":"9,221 videos","viewCountText":"2,170,355,382 views","joinedDateText":"Joined Aug 23, 2017","tags":"pat mcafee, football, pat mcafee show, the pat mcafee show, pat mcafee podcast, pat mcafee clips, pat mcafee reacts, pat mcafee highlights, pat mcafee live, pat mcafee show live, pat mcafee podcast, nfl, nba, nhl, mlb, ufc, sports","email":null,"store":"https://store.patmcafeeshow.com","twitter":"https://twitter.com/PatMcAfeeShow","instagram":"https://instagram.com/patmcafeeshow","links":["https://store.patmcafeeshow.com"],"country":"United States"}}}}}}},"/v1/youtube/channel-videos":{"get":{"tags":["YouTube"],"summary":"Channel Videos","description":"Get all videos from a channel with detailed information. Can pass channelId or handle.","parameters":[{"name":"channelId","in":"query","required":false,"description":"YouTube channel ID","schema":{"type":"string"},"example":"UC-9-kyTW8ZkZNDHQJ6FgpwQ"},{"name":"handle","in":"query","required":false,"description":"YouTube channel handle","schema":{"type":"string"},"example":"ThePatMcAfeeShow"},{"name":"sort","in":"query","required":false,"description":"Sort by latest or popular","schema":{"type":"string","enum":["latest","popular"]},"example":"latest"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"includeExtras","in":"query","required":false,"description":"This will get you the like + comment count and the description. To get the full details of the video, use the /v1/youtube/video endpoint. This will slow down the response slightly.","schema":{"type":"string"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"videos":[{"type":"video","id":"5EWaxmWgQMI","url":"https://www.youtube.com/watch?v=5EWaxmWgQMI","title":"Russell Wilson Hopes To Finish Career As A Steeler, Reflects On NFL Career With Pat McAfee","description":"Welcome to The Pat McAfee Show LIVE from Noon-3PM EST Mon-Fri. You can also find us live on ESPN, ESPN+, & TikTok!\n\nBecome a #McAfeeMafia member! https://www.youtube.com/channel/UCxcTeAKWJca6XyJ37_...","thumbnail":"https://i.ytimg.com/vi/5EWaxmWgQMI/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLBZIBEJGcYDrduIZJpaSmYHcIHJ6g","channel":{"title":"","thumbnail":null},"viewCountText":"110,447 views","viewCountInt":110447,"publishedTimeText":"9 days ago","publishedTime":"2025-01-23T22:48:53.914Z","lengthText":"37:25","lengthSeconds":2245,"badges":[]}],"continuationToken":"4qmFsgLlFhIYV...."}}}}}}},"/v1/youtube/channel/shorts":{"get":{"tags":["YouTube"],"summary":"Channel Shorts","description":"Get the shorts from a channel. If you need more details about the short like description, publish date, etc, you'll need to use the 'Video/Short Details' endpoint.","parameters":[{"name":"handle","in":"query","required":false,"description":"Can pass channelId or handle","schema":{"type":"string"},"example":"starterstory"},{"name":"channelId","in":"query","required":false,"description":"Can pass channelId or handle","schema":{"type":"string"},"example":"UC-9-kyTW8ZkZNDHQJ6FgpwQ"},{"name":"sort","in":"query","required":false,"description":"Sort by newest or popular","schema":{"type":"string","enum":["newest","popular"]},"example":"newest"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":9998708,"videos":[],"channels":[],"playlists":[],"shorts":[{"type":"short","id":"Rdr8357wIRA","url":"https://www.youtube.com/watch?v=Rdr8357wIRA","title":"My app failed, then I changed one thing, and made $80K","viewCountText":"8,035","viewCountInt":8035,"description":"Praneeth quit his $250K/year job to build an app that failed. Then, he changed one thing and made $80K","commentCountText":"12","commentCountInt":12,"likeCountInt":253,"likeCountText":"253"}],"shelves":[],"lives":[],"continuationToken":"4qmFsgK9DBIYVUNoaHc2RGxLS1....."}}}}}}},"/v1/youtube/video":{"get":{"tags":["YouTube"],"summary":"Video/Short Details","description":"Get complete information about a video or short including the transcript! There is a 'transcript' field and a 'transcript_only_text' field.","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video or short URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=Y2Ah_DFr8cw"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":33851527,"id":"Y2Ah_DFr8cw","thumbnail":"https://img.youtube.com/vi/Y2Ah_DFr8cw/maxresdefault.jpg","url":"https://www.youtube.com/watch?v=Y2Ah_DFr8cw","publishDate":"2019-02-22T03:19:54-08:00","type":"video","title":"Inside the NBA: Chuck Trolls Jussie Smollett \"Do not commit crimes with checks, use cash!\"","description":null,"descriptionLinks":[],"commentCountText":"358","commentCountInt":358,"likeCountText":"4043","likeCountInt":4043,"viewCountText":"372,864","viewCountInt":372864,"publishDateText":"Feb 22, 2019","collaborators":[],"channel":{"id":"UCWH3hing1Qb4LnkRfQdxsxQ","url":"https://www.youtube.com/@afroballer8906","handle":"afroballer8906","title":"Afroballer"},"chapters":[],"watchNextVideos":[{"id":"lzDTK5kEdkM","title":"Charles Barkley and Shaq FUNNIEST MOMENTS","thumbnail":"https://i.ytimg.com/vi/lzDTK5kEdkM/hqdefault.jpg?sqp=-oaymwEmCKgBEF5IWvKriqkDGQgBFQAAiEIYAdgBAeIBCggYEAIYBjgBQAE=&rs=AOn4CLAq_osvQnsGV3A7uz4L1CPTaLqppg","channel":{"title":"SkyHooked","url":"https://www.youtube.com/@SkyHooked","handle":"SkyHooked","id":"UCrX8GD5f_O-Cu5Y2vQuSSvw"},"publishedTimeText":"11 months ago","publishedTime":"2025-02-16T19:25:39.493Z","publishDateText":"11 months ago","publishDate":"2025-02-16T19:25:39.493Z","viewCountText":"1.8M views","viewCountInt":1800000,"lengthText":"18:01","lengthInSeconds":1081,"videoUrl":"https://www.youtube.com/watch?v=lzDTK5kEdkM"}],"keywords":[],"genre":"People & Blogs","durationMs":348000,"durationFormatted":"00:05:48","captionTracks":[{"baseUrl":"https://www.youtube.com/api/timedtext?v=Y2Ah_DFr8cw&ei=s5Bqab0gu8yS5w_pvOLIDw&caps=asr&opi=112496729&xoaf=5&xowf=1&hl=en&ip=0.0.0.0&ipbits=0&expire=1768616739&sparams=ip,ipbits,expire,v,ei,caps,opi,xoaf&signature=306A57ADE14FECC84B0DB13190761BCCC922AC9B.5C321C4FE7086F7AF851CA8463326E1869EE5255&key=yt8&kind=asr&lang=en","name":{"simpleText":"English (auto-generated)"},"vssId":"a.en","languageCode":"en","kind":"asr","isTranslatable":true,"trackName":""}]}}}}}}},"/v1/youtube/video/transcript":{"get":{"tags":["YouTube"],"summary":"Transcript","description":"Get transcript of a video or short","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video or short URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=bjVIDXPP7Uk"},{"name":"language","in":"query","required":false,"description":"2 letter language code, ie 'en', 'es', 'fr' etc. If the transcript is not available in the language you specify, the transcript will be null.","schema":{"type":"string"},"example":"en"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"videoId":"bjVIDXPP7Uk","type":"video","url":"https://www.youtube.com/watch?v=bjVIDXPP7Uk","transcript":[{"text":"welcome back to the hell farm and the","startMs":"160","endMs":"1920","startTimeText":"0:00"}],"transcript_only_text":"welcome back to the hell farm and the backyard trails we built these jumps two years ago and last year we just kind of rebuilt them and this year......","language":"English"}}}}}}},"/v1/youtube/search":{"get":{"tags":["YouTube"],"summary":"Search","description":"Search YouTube and get matching videos, channels, playlists, shorts, lives, etc. Video explaining the response format: https://www.tella.tv/video/explaining-youtube-search-results-payload-353a","parameters":[{"name":"query","in":"query","required":true,"description":"Search query","schema":{"type":"string"}},{"name":"uploadDate","in":"query","required":false,"description":"Upload date","schema":{"type":"string","enum":["today","this_week","this_month","this_year"]}},{"name":"sortBy","in":"query","required":false,"description":"Sort by","schema":{"type":"string","enum":["relevance","popular"]},"example":"relevance"},{"name":"filter","in":"query","required":false,"description":"Filter by these options. Note this doesn't work when you use either 'uploadDate' or 'sortBy'. It basically only works when you have a query.","schema":{"type":"string","enum":["shorts"]},"example":"all"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"includeExtras","in":"query","required":false,"description":"This will get you the like + comment count and the description. To get the full details of the video, use the /v1/youtube/video endpoint. *This will slow down the response slightly.*","schema":{"type":"string"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"videos":[{"type":"video","id":"BzSzwqb-OEE","url":"https://www.youtube.com/watch?v=BzSzwqb-OEE","title":"NF - RUNNING (Audio)","thumbnail":"https://i.ytimg.com/vi/BzSzwqb-OEE/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCasEKav1CLqeSSE2IYDqjGiIMBGw","channel":{"id":"UCoRR6OLuIZ2-5VxtnQIaN2w","title":"NFrealmusic","handle":"channel/UCoRR6OLuIZ2-5VxtnQIaN2w","thumbnail":"https://yt3.ggpht.com/J1_Si0TYNZ-991v09y8RpCh4_Z_ALwKmPgMYnJqjNhoglVtipf3oEN8LpzG1kS0qsv8Jptpmmg=s88-c-k-c0x00ffffff-no-rj"},"viewCountText":"14,860,541 views","viewCountInt":14860541,"publishedTimeText":"2 years ago","publishedTime":"2023-05-28T17:08:46.499Z","lengthText":"4:14","lengthSeconds":254,"badges":[]}],"channels":[],"playlists":[],"shorts":[{"type":"short","id":"uMNvF-lSCHg","url":"https://www.youtube.com/watch?v=uMNvF-lSCHg","title":"LONG RUN ROUTINE #run #runvlog #runner #shorts #morning","thumbnail":"https://i.ytimg.com/vi/uMNvF-lSCHg/hq720.jpg?sqp=-oaymwFBCNAFEJQDSFryq4qpAzMIARUAAIhCGADYAQHiAQoIGBACGAY4AUAB8AEB-AG2CIACgA-KAgwIABABGFsgXyhlMA8=&rs=AOn4CLA_P-5ExEn9EGLJDNeJedsxb3k1eQ","channel":{"id":"UCGRdcRxpJWi5Q2oDCrMDUuQ","title":"Abby and Ryan","handle":"abbyandryan","thumbnail":"https://yt3.ggpht.com/8UdUEesepx1Ry_rFUPJOJgndTCKno9VTkSysnuJpFjMj63N6av0pNwnqoiKh_7PN2dw7PGIp=s68-c-k-c0x00ffffff-no-rj"},"viewCountText":"462,705 views","viewCountInt":462705,"publishedTimeText":"10 months ago","publishedTime":"2024-07-28T17:08:46.498Z","lengthText":"0:44","lengthSeconds":44,"badges":[]}],"shelves":[{"type":"shelf","title":"Shorts","items":[{"type":"short","id":"LLBR5nO05tE","url":"https://www.youtube.com/watch?v=LLBR5nO05tE","title":"running through walls gone wrong","thumbnail":"https://i.ytimg.com/vi/LLBR5nO05tE/oardefault.jpg?sqp=-oaymwEoCJUDENAFSFqQAgHyq4qpAxcIARUAAIhC2AEB4gEKCBgQAhgGOAFAAQ==&rs=AOn4CLCYYIIDmBllgkLP68AjVs25UpyevQ","viewCountText":"750K","viewCountInt":750000}]}],"lives":[],"continuationToken":"EooDEg..."}}}}}}},"/v1/youtube/search/hashtag":{"get":{"tags":["YouTube"],"summary":"Search by Hashtag","description":"Search YouTube and get matching videos, channels, and playlists","parameters":[{"name":"hashtag","in":"query","required":true,"description":"Hashtag to search for","schema":{"type":"string"},"example":"funny"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"type","in":"query","required":false,"description":"Search for all types of content or only shorts","schema":{"type":"string","enum":["all","shorts"]},"example":"all"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"videos":[{"type":"video","id":"jXMISgQq9MM","url":"https://www.youtube.com/watch?v=jXMISgQq9MM","title":"Epic fails 🤣🤣🤣 #shorts #funny #fails","description":"","thumbnail":"https://i.ytimg.com/vi/jXMISgQq9MM/hqdefault.jpg?sqp=-oaymwFBCNACELwBSFryq4qpAzMIARUAAIhCGADYAQHiAQoIGBACGAY4AUAB8AEB-AG2CIACgA-KAgwIABABGGUgXyhVMA8=&rs=AOn4CLC1HXfxzLayoVBdicS5DIUQh9zGcQ","channel":{"id":"UCvUzWu1Whyw1FWuLl9GOo_g","title":"ZZang Funny","thumbnail":"https://yt3.ggpht.com/rcZKcfewHTzkauGknat3NeC53rGBofYDbL8AjFkwvsk2fXzM1clht7OTn9-1IIPnmbeZkrNGdxI=s68-c-k-c0x00ffffff-no-rj"},"viewCountText":"22,668,056 views","viewCountInt":22668056,"publishedTimeText":"4 weeks ago","publishedTime":"2025-01-04T23:12:42.919Z","lengthText":"1:00","lengthSeconds":60,"badges":[]}],"continuationToken":"4qmFsgLtBRIJRkVoYX...."}}}}}}},"/v1/youtube/video/comments":{"get":{"tags":["YouTube"],"summary":"Comments","description":"Get comments from a video. Can only get 1k top comments and about 7k new comments.","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more comments. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"order","in":"query","required":false,"description":"Order of comments","schema":{"type":"string","enum":["top","newest"]},"example":"top"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"comments":[{"id":"UgwVfRopfS2F-WB3aF14AaABAg","content":"I love how in the middle he said \"I've been able to work with 2 great coaches... Pete and Coach Tomlin\"... Side shade to Coach Sean Payton, love it :)","publishedTimeText":"9 days ago","publishedTime":"2025-01-23T23:14:02.948Z","replyLevel":0,"author":{"name":"@SimonT80","channelId":"UC8JC3uSUmmXTCTKl-bgr1DA","isVerified":false,"isCreator":false,"avatarUrl":"https://yt3.ggpht.com/ytc/AIdro_lQ_2v9lDqwRrmdvEBfDNyFOvgQICl68X6WFkwZ5KI=s88-c-k-c0x00ffffff-no-rj","channelUrl":"https://youtube.com/@SimonT80"},"engagement":{"likes":110,"replies":5}}],"continuationToken":"Eg0SCzVFV2F4bVd...."}}}}}}},"/v1/youtube/shorts/trending":{"get":{"tags":["YouTube"],"summary":"Trending Shorts","description":"Get about 48 trending shorts. Continue hitting this to get more shorts (get new ones with each call)","responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"shorts":[{"id":"ou0nl5ET0HA","thumbnail":"https://img.youtube.com/vi/ou0nl5ET0HA/maxresdefault.jpg","url":"https://www.youtube.com/watch?v=ou0nl5ET0HA","title":"That hooper who says their just shoes","description":null,"commentCountText":"168","commentCountInt":168,"likeCountText":"151957","likeCountInt":151957,"viewCountText":"13,798,774","viewCountInt":13798774,"publishDateText":"Aug 7, 2025","publishDate":"2025-08-07T13:00:22-07:00","channel":{"id":"UC3iObCgKLKr9xquQw7fCang","url":"https://www.youtube.com/@dameuniverse","handle":"dameuniverse","title":"Dame Universe"},"chapters":[],"keywords":["Kobe"],"durationMs":19000,"durationFormatted":"00:00:19"}]}}}}}}},"/v1/youtube/playlist":{"get":{"tags":["YouTube"],"summary":"Playlist","description":"Get the videos of a YouTube playlist","parameters":[{"name":"playlist_id","in":"query","required":true,"description":"The ID of the YouTube playlist. In the YouTube URL it will be the 'list' parameter.","schema":{"type":"string"},"example":"PLP32wGpgzmIlInfgKVFfCwVsxgGqZNIiS"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":99404,"title":"Songs with Lyrics 2025 - New Songs 2025 - Music 2025 New Songs","owner":{"id":"UC0-wiBH12UgtWqLjo-EvpOw","name":"Lovely Tunes","url":"https://www.youtube.com/@lovelytunes7622","handle":"lovelytunes7622"},"totalVideos":98,"videos":[{"id":"AdBzzpq3xV4","title":"Lady Gaga, Bruno Mars - Die With A Smile","thumbnail":"https://i.ytimg.com/vi/AdBzzpq3xV4/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLABnTkQJmfW0s1BMl_qa0FGqIGGqw","url":"https://www.youtube.com/watch?v=AdBzzpq3xV4","lengthText":"4:15","lengthSeconds":255,"channel":{"title":"LatinHype","url":"https://www.youtube.com/@LatinHype."}}]}}}}}}},"/v1/youtube/community-post":{"get":{"tags":["YouTube"],"summary":"Community Post Details","description":"Get the details of a community post","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the YouTube community post to get","schema":{"type":"string"},"example":"https://www.youtube.com/post/Ugkxvj2KoApYAXoqLWnKVr6zZe5JjeHrQeP8"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":9922899,"id":"Ugkxvj2KoApYAXoqLWnKVr6zZe5JjeHrQeP8","channel":{"id":"UChhw6DlKKTQ9mYSpTfXUYqA","title":"Starter Story","url":"https://www.youtube.com/@starterstory","handle":"starterstory"},"content":"How to build something meaningful\n\n1. sit down\n2. set a timer for 2 hours\n3. work\n4. do that over and over and over\n\nNOTHING meaningful was built in a day, a week, or even a month\n\nyou should launch quickly, but the work can't end there\n\nsuccessful products have YEARS of craft behind them\n\nstart building yours today: http://starterstory.com/bsm","images":["https://yt3.ggpht.com/uer4ij-RqnTqudtdT5VZNvEjzVXA3PGLHwNpjMfraB7mfbX_Bm0-fSpaFXkfw3EA4uZ7BY8YPa1gU08=s640-c-fcrop64=1,20000000dfffffff-rw-nd-v1"],"likeCount":759,"publishedTimeText":"5 days ago","publishedTime":"2025-11-07T18:49:57.492Z","video":null}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}