{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"LinkedIn Ad Library","description":"Search the LinkedIn Ad Library"}],"paths":{"/v1/linkedin/ads/search":{"get":{"tags":["LinkedIn Ad Library"],"summary":"Search Ads","description":"Search the LinkedIn Ad Library","parameters":[{"name":"company","in":"query","required":false,"description":"The company name to search for. 'Microsoft' for example","schema":{"type":"string"},"example":"microsoft"},{"name":"keyword","in":"query","required":false,"description":"The keyword to search for","schema":{"type":"string"},"example":"scraping"},{"name":"companyId","in":"query","required":false,"description":"The company id to search for","schema":{"type":"string"},"example":"157238"},{"name":"countries","in":"query","required":false,"description":"Comma separated list of countries. Example: US,CA,MX","schema":{"type":"string"},"example":"US,CA,MX"},{"name":"startDate","in":"query","required":false,"description":"Start date to search for. Format: YYYY-MM-DD","schema":{"type":"string"},"example":"2024-01-01"},{"name":"endDate","in":"query","required":false,"description":"End date to search for. Format: YYYY-MM-DD","schema":{"type":"string"},"example":"2024-01-10"},{"name":"paginationToken","in":"query","required":false,"description":"Pagination token to paginate through results","schema":{"type":"string"},"example":"640547184-1743616612000"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"ads":[{"id":"823975056","description":"The countdown has begun – grab your discounted tickets now for #FabConEurope in Vienna!\nJoin us for an unforgettable experience filled with deep learning, expert insights, and top-tier networking opportunities.\n\nRegister today and be part of the future of innovation: http://msft.it/6043sMFt3 \n\n#MicrosoftFabric","headline":null,"poster":"Microsoft","posterTitle":"Promoted","promotedBy":null,"targeting":{"language":"Targeting includes English","location":"Targeting includes Netherlands","company":"Exclusion targeting applied"},"image":"https://media.licdn.com/dms/image/v2/D5610AQH8f223ANJdoQ/image-shrink_1280/B56ZiDa0MFHkAQ-/0/1754551502346?e=2147483647&v=beta&t=ZuZ0zUs1KInS8ysVO7FxzmlzxHP9B_JX2b6kdMU8GT4","video":null,"carouselImages":[],"adType":"Single Image Ad","advertiser":"Microsoft","advertiserLinkedinPage":"https://www.linkedin.com/company/1035","cta":null,"destinationUrl":"http://msft.it/6043sMFt3?trk=ad_library_ad_preview_headline_content","adDuration":"Ran from Aug 10, 2025 to Aug 10, 2025","startDate":"2025-08-10T05:00:00.000Z","endDate":"2025-08-10T05:00:00.000Z","totalImpressions":"< 1k","impressionsByCountry":[]}],"paginationToken":"756412693-1754569518292","isLastPage":false}}}}}}},"/v1/linkedin/ad":{"get":{"tags":["LinkedIn Ad Library"],"summary":"Ad Details","description":"Get the details for an ad","parameters":[{"name":"url","in":"query","required":true,"description":"The url of the ad","schema":{"type":"string"},"example":"https://www.linkedin.com/ad-library/detail/666281156"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"id":"664291126","description":"Learn to start building an AI strategy that helps your small business automate routine tasks and keep teams focused on high-value activities.","headline":"Read “The Guide to AI for Small Businesses”","poster":"Salesforce","posterTitle":"Promoted","promotedBy":null,"targeting":{"language":"Targeting includes English","location":"Targeting includes Portugal","audience":"Inclusion and exclusion targeting applied"},"image":"https://media.licdn.com/dms/image/v2/D5610AQHEjQAydHWLaw/image-shrink_1280/image-shrink_1280/0/1736950502005/Ai-guide-for-smbs?e=2147483647&v=beta&t=dC-iPz1fr8piN6YutdDgKIOmRPJvFaj4Hr0g_raHZ70","adType":"Single Image Ad","advertiser":"Salesforce","advertiserLinkedinPage":"https://www.linkedin.com/company/3185","cta":null,"destinationUrl":"https://www.salesforce.com/eu/form/small-business/ai-guide-for-smbs/?d=701ed00000CX0GfAAL&nc=701ed000007UYTMAA4&utm_source=linkedin&utm_medium=paid_social&utm_campaign=emea_pt_einsteinai_allindustries&utm_content=enterprisesmallbusiness_pp-dm-all-crx-multi-tal-linkedin-prospect-tals-esmb_701ed00000CX0GfAAL_english_ai-guide-for-smbs&trk=ad_library_ad_preview_headline_content","adDuration":"Ran from Apr 1, 2025 to Apr 3, 2025","startDate":"2025-04-01T00:00:00.000Z","endDate":"2025-04-03T00:00:00.000Z","totalImpressions":"5k-10k","impressionsByCountry":[{"country":"Portugal","impressions":"100%"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}