{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Twitch","description":"Scrape Twitch clips"}],"paths":{"/v1/twitch/profile":{"get":{"tags":["Twitch"],"summary":"Profile","description":"Get Twitch profile","parameters":[{"name":"handle","in":"query","required":true,"description":"Twitch handle","schema":{"type":"string"},"example":"ninja"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"id":"19571641","handle":"ninja","displayName":"Ninja","description":"Just want to make people happy. Co-Founder @DrinkNutcase. ","followers":19235206,"instagram":"https://www.instagram.com/ninja","x":"https://x.com/ninja","tiktok":"https://www.tiktok.com/@ninja","bit":"http://bit.ly/SubscribeNinja","allVideos":[{"animatedPreviewURL":"https://d1m7jfoe9zdc1j.cloudfront.net/98b2604eb65520876fc3_ninja_331071920125_1754658335/storyboards/2534457664-strip-0.jpg","game":{"boxArtURL":"https://static-cdn.jtvnw.net/ttv-boxart/33214-40x56.jpg","id":"33214","slug":"fortnite","displayName":"Fortnite","name":"Fortnite","__typename":"Game"},"id":"2534457664","lengthSeconds":35910,"owner":{"displayName":"Ninja","id":"19571641","login":"ninja","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/90d40495-f467-4911-9035-72d8d10a49c5-profile_image-50x50.png","primaryColorHex":"1F69FF","roles":{"isPartner":true,"__typename":"UserRoles"},"__typename":"User"},"previewThumbnailURL":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/98b2604eb65520876fc3_ninja_331071920125_1754658335//thumb/thumb0-320x180.jpg","publishedAt":"2025-08-08T13:05:39Z","self":{"isRestricted":false,"viewingHistory":null,"__typename":"VideoSelfEdge"},"title":"USE CODE NINJA #EPICPARTNER | DAY 2 OF NEW SEASON AND ITS A BLAST | God is good! | Marvel rivals later and SPORTS SHOW AT 2 CENTRAL AFC WEST","viewCount":278659,"resourceRestriction":null,"contentTags":[],"__typename":"Video"}],"featuredClips":[{"id":"3724988753","slug":"AthleticKindJayEleGiggle-BcNDJkcggMoP5HCa","clipTitle":"andre the bus driver","clipViewCount":1799,"curator":{"id":"407947222","login":"grumbaelive","displayName":"GrumbaeLIVE","__typename":"User"},"clipGame":{"id":"33214","slug":"fortnite","name":"Fortnite","displayName":"Fortnite","boxArtURL":"https://static-cdn.jtvnw.net/ttv-boxart/33214-52x72.jpg","__typename":"Game"},"broadcaster":{"id":"19571641","login":"ninja","displayName":"Ninja","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/90d40495-f467-4911-9035-72d8d10a49c5-profile_image-50x50.png","primaryColorHex":"1F69FF","roles":{"isPartner":true,"__typename":"UserRoles"},"__typename":"User"},"thumbnailURL":"https://static-cdn.jtvnw.net/twitch-clips-thumbnails-prod/AthleticKindJayEleGiggle-BcNDJkcggMoP5HCa/7eb7fa38-6e54-4aa1-a6d4-d65f46870161/preview.jpg","createdAt":"2025-08-08T16:08:23Z","durationSeconds":30,"isFeatured":true,"guestStarParticipants":{"host":{"id":"19571641","login":"ninja","displayName":"Ninja","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/90d40495-f467-4911-9035-72d8d10a49c5-profile_image-300x300.png","primaryColorHex":"1F69FF","description":"Just want to make people happy. Co-Founder @DrinkNutcase. ","__typename":"User"},"guests":[{"id":"100462683","login":"beardedblevins","displayName":"BeardedBlevins","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/bb440d87-e3eb-4fc3-adb4-ad5b8500ee85-profile_image-300x300.png","primaryColorHex":"00C7FB","description":"Husband. Father. Catholic. Detroit Sports fan. Bearded. ","__typename":"User"}],"sessionIdentifier":"310dXNdDIbjlo9gQiPXJtZ6cdir","__typename":"GuestStarParticipants"},"__typename":"Clip"}],"similarStreamers":[{"id":"964426424","displayName":"ninjasologames","login":"ninjasologames","primaryColorHex":"1F69FF","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/020b2022-5276-4f1b-af73-6eaa6f9d847c-profile_image-300x300.png","stream":null,"__typename":"User"}]}}}}}}},"/v1/twitch/clip":{"get":{"tags":["Twitch"],"summary":"Clip","description":"Get Twitch clip","parameters":[{"name":"url","in":"query","required":true,"description":"Twitch clip URL","schema":{"type":"string"},"example":"https://www.twitch.tv/staryuuki/clip/CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ?filter=clips&range=all&sort=time"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":[{"data":{"clip":{"id":"387484507","slug":"CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ","url":"https://clips.twitch.tv/CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ","embedURL":"https://clips.twitch.tv/embed?clip=CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ","title":"un grande el mesero","viewCount":52441,"language":"ES","isFeatured":true,"assets":[{"id":"AT-cm|W4NkMPhK87GGxO1Fr4AjEA","aspectRatio":1.7777777777777777,"type":"SOURCE","createdAt":"2024-03-30T21:52:12.134391826Z","creationState":"CREATED","curator":{"id":"192477639","login":"satagul_sy","displayName":"Satagul_SY","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/a7d1cf0c-6482-475c-a7ba-9fedf75f0149-profile_image-50x50.png","__typename":"User"},"thumbnailURL":"https://clips-media-assets2.twitch.tv/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA-preview-480x272.jpg","videoQualities":[{"frameRate":60.01382974851694,"quality":"1080","sourceURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4","__typename":"ClipVideoQuality"}],"portraitMetadata":null,"__typename":"ClipAsset"}],"curator":{"id":"192477639","login":"satagul_sy","displayName":"Satagul_SY","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/a7d1cf0c-6482-475c-a7ba-9fedf75f0149-profile_image-70x70.png","__typename":"User"},"game":{"id":"509672","name":"IRL","boxArtURL":"https://static-cdn.jtvnw.net/ttv-boxart/509672-52x72.jpg","displayName":"IRL","slug":"irl","__typename":"Game"},"broadcast":{"id":"43930529883","title":null,"__typename":"Broadcast"},"broadcaster":{"id":"167189231","login":"staryuuki","displayName":"Staryuuki","primaryColorHex":"689AFF","isPartner":true,"profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/b45a3305-bc42-41cc-a754-e6679a2d9ef0-profile_image-70x70.png","followers":{"totalCount":3450065,"__typename":"FollowerConnection"},"stream":null,"lastBroadcast":{"id":"314597248121","startedAt":"2025-01-23T06:52:10.179125Z","__typename":"Broadcast"},"self":null,"__typename":"User"},"thumbnailURL":"https://clips-media-assets2.twitch.tv/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA-preview-260x147.jpg","createdAt":"2024-03-30T21:52:12Z","isPublished":true,"durationSeconds":27,"champBadge":null,"playbackAccessToken":{"signature":"43c84d015eddd8ebc145f914824caa1c37ff6559","value":"{\"authorization\":{\"forbidden\":false,\"reason\":\"\"},\"clip_uri\":\"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4\",\"clip_slug\":\"CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ\",\"device_id\":\"gtd1TXg9937g0Ra59d6tJBe2f2vWobM7\",\"expires\":1737831991,\"user_id\":\"\",\"version\":2}","__typename":"PlaybackAccessToken"},"video":null,"videoOffsetSeconds":null,"videoQualities":[{"sourceURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4","__typename":"ClipVideoQuality"}],"isViewerEditRestricted":true,"suggestedCropping":null,"__typename":"Clip","videoURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4?sig=43c84d015eddd8ebc145f914824caa1c37ff6559&token=%7B%22authorization%22%3A%7B%22forbidden%22%3Afalse%2C%22reason%22%3A%22%22%7D%2C%22clip_uri%22%3A%22https%3A%2F%2Fproduction.assets.clips.twitchcdn.net%2FW4NkMPhK87GGxO1Fr4AjEA%2FAT-cm%257CW4NkMPhK87GGxO1Fr4AjEA.mp4%22%2C%22clip_slug%22%3A%22CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ%22%2C%22device_id%22%3A%22gtd1TXg9937g0Ra59d6tJBe2f2vWobM7%22%2C%22expires%22%3A1737831991%2C%22user_id%22%3A%22%22%2C%22version%22%3A2%7D"}},"extensions":{"durationMilliseconds":87,"operationName":"ShareClipRenderStatus","requestID":"01JJD92A0J3G5ND9PWV2SSXCPC"}}]}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}