{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Threads","description":"Get Threads posts"}],"paths":{"/v1/threads/profile":{"get":{"tags":["Threads"],"summary":"Profile","description":"Get Threads profile info","parameters":[{"name":"handle","in":"query","required":true,"description":"Threads username","schema":{"type":"string"},"example":"trendspider"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"pk":"63496592589","text_post_app_is_private":false,"has_onboarded_to_text_post_app":true,"friendship_status":null,"profile_pic_url":"https://scontent-atl3-2.cdninstagram.com/v/t51.2885-19/483433564_655589117415062_7541542786235693538_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-atl3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHDtD3999Ou4pcMMH7DERwg7b_8MUH39VGHj-ZYaqdB2I3m-ESqs1jnoXQnYBB1LuxmAKVJiGexqr1KcbyKld_3&_nc_ohc=jnD03vDTtYoQ7kNvwH8q9Xl&_nc_gid=El4dvFdafrjTWXuQgkba9Q&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfGGVFQMzxW19jgaoPNQhfTiZt4Hrkmgq1cnt5iWpEGqxA&oe=67FFAFC8&_nc_sid=10d13b","username":"sportsillustrated","text_post_app_remove_mention_entrypoint":null,"show_text_post_app_replies_tab":true,"text_app_custom_feeds":null,"gating":null,"follower_count":551296,"profile_context_facepile_users":null,"hd_profile_pic_versions":[{"height":320,"url":"https://scontent-atl3-2.cdninstagram.com/v/t51.2885-19/483433564_655589117415062_7541542786235693538_n.jpg?stp=dst-jpg_s320x320_tt6&_nc_ht=scontent-atl3-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHDtD3999Ou4pcMMH7DERwg7b_8MUH39VGHj-ZYaqdB2I3m-ESqs1jnoXQnYBB1LuxmAKVJiGexqr1KcbyKld_3&_nc_ohc=jnD03vDTtYoQ7kNvwH8q9Xl&_nc_gid=El4dvFdafrjTWXuQgkba9Q&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfFikDi79lRI5uOb6TB0xYEkQwPWwZ1haHqpW4B-uDFVMw&oe=67FFAFC8&_nc_sid=10d13b","width":320}],"is_verified":true,"biography":"Sports, sports and more sports.","text_app_biography":{"text_fragments":{"fragments":[{"fragment_type":"plaintext","link_fragment":null,"mention_fragment":null,"plaintext":"Sports, sports and more sports.","tag_fragment":null,"linkified_web_url":null}]}},"full_name":"Sports Illustrated","bio_links":[{"url":"https://lnk.bio/sportsillustrated","is_verified":false,"link_id":"17882982429146262"}],"transparency_label":null,"is_threads_only_user":false,"show_text_post_app_badge":true,"id":"63496592589"}}}}}}},"/v1/threads/user/posts":{"get":{"tags":["Threads"],"summary":"Posts","description":"Get Threads posts by user. Sadly, Threads only allows you to see the last 20-30ish posts of the user :(","parameters":[{"name":"handle","in":"query","required":true,"description":"Threads username","schema":{"type":"string"},"example":"trendspider"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"3656367813102434565_63055343223","pk":"3656367813102434565","caption":{"text":"Spoiler alert: We're testing a way for you to hide spoilers in your Threads posts.","pk":"17978979272714446","has_translation":null},"code":"DK-BydcJHkF","like_count":96434,"taken_at":1750093031,"user":{"friendship_status":null,"pk":"63055343223","profile_pic_url":"https://scontent-hou1-1.cdninstagram.com/v/t51.2885-19/452737457_1313286386312102_744138929735022550_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-hou1-1.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QFGyGWANff-XHjZgOOWs_xNC29qmUTVstyb7y0tS-ajYvJSDJTf5fJ3qHVk4igARGY&_nc_ohc=4jx-dLM0V7UQ7kNvwEKpQFP&_nc_gid=butCRrRE5aFQP4QL-mwt9A&edm=AA3DLpEBAAAA&ccb=7-5&oh=00_AfMVigSXFw6UnanNMOzkIu2vA31TUJ_4uOlpGTH6q3dqTw&oe=685A71CE&_nc_sid=d92198","username":"zuck","id":"63055343223","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":true,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true},"url":"https://www.threads.com/@zuck/post/DK-BydcJHkF"}]}}}}}}},"/v1/threads/post":{"get":{"tags":["Threads"],"summary":"Post","description":"Get a post by url. Also returns comments and related posts.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the post to get","schema":{"type":"string"},"example":"https://www.threads.com/@trendspider/post/DIU8naHS6q_"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"post":{"id":"3656367813102434565_63055343223","pk":"3656367813102434565","caption":{"text":"Spoiler alert: We're testing a way for you to hide spoilers in your Threads posts.","pk":"17978979272714446","has_translation":null},"code":"DK-BydcJHkF","like_count":96439,"taken_at":1750093031,"user":{"pk":"63055343223","friendship_status":null,"profile_pic_url":"https://scontent-hou1-1.cdninstagram.com/v/t51.2885-19/452737457_1313286386312102_744138929735022550_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-hou1-1.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QEI0Na315cY5sOYUkhVVibfgPAW-ui7qHsdVtzXBXEOhzW7Bng-EMYZTcNDR7NhzDw&_nc_ohc=4jx-dLM0V7UQ7kNvwF5pEvj&_nc_gid=08CADhHYLnZPoVapLCtXQw&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfMJZBcCbhMdKKqnrXmtnhF3bwCCjEU85Z3Ih0GWNi5t6A&oe=685A71CE&_nc_sid=10d13b","username":"zuck","id":"63055343223","full_name":"Mark Zuckerberg","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":true,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true}},"comments":[{"id":"3658534918151603488_74973899807","pk":"3658534918151603488","caption":{"text":"意味分からない","pk":"18306832783208063","has_translation":true},"code":"DLFuh_SygUg","like_count":0,"taken_at":1750351370,"user":{"pk":"74973899807","friendship_status":null,"profile_pic_url":"https://scontent-hou1-1.cdninstagram.com/v/t51.2885-19/491446152_17850244230449803_8764028655689505242_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-hou1-1.cdninstagram.com&_nc_cat=107&_nc_oc=Q6cZ2QEI0Na315cY5sOYUkhVVibfgPAW-ui7qHsdVtzXBXEOhzW7Bng-EMYZTcNDR7NhzDw&_nc_ohc=04OF9jMRuJoQ7kNvwF4M8X7&_nc_gid=08CADhHYLnZPoVapLCtXQw&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfOd6QqjNHAV2HNKm-I63jqf58-6kNsVTzATgKyd-iN3zw&oe=685A9A82&_nc_sid=10d13b","username":"emimimi_0917","id":"74973899807","full_name":"青木恵美","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":true,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true}}],"relatedPosts":[{"id":"3658572865166656590_63453315755","pk":"3658572865166656590","caption":{"text":"Initial findings of investigation into overnight ground explosion of SpaceX Starship rocket in Texas point to failure of a Composite Overwrapped Pressure Vessel (COPV), a lightweight storage tank containing nitrogen under high pressure. 🖥️ X/Elon Musk","pk":"18345028147091883","has_translation":null},"code":"DLF3KMNJERO","like_count":15,"taken_at":1750355893,"user":{"pk":"63453315755","friendship_status":null,"profile_pic_url":"https://scontent-hou1-1.cdninstagram.com/v/t51.2885-19/402757276_161160320414682_3222955945465557227_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-hou1-1.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QGJAk0S-TOHB3ZWl6ci1q6t2XxgndYS-k6upqywpT-gXu8dlcxmH69UxCueQ9PIqQw&_nc_ohc=J3L5lDaaNDIQ7kNvwGO73Uq&_nc_gid=08CADhHYLnZPoVapLCtXQw&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfMkWFXtSlvnwHnBZKBb9eFnleArkHhYt6m32PRKXpKNPA&oe=685AA3CD&_nc_sid=10d13b","username":"jonathanserrie","id":"63453315755","full_name":"Jonathan Serrie","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":true,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true}}]}}}}}}},"/v1/threads/search/users":{"get":{"tags":["Threads"],"summary":"Search Users","description":"Search for users by username","parameters":[{"name":"query","in":"query","required":true,"description":"Username to search for","schema":{"type":"string"},"example":"shams"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"users":[{"username":"shams","pk":"5951152863","is_active_on_text_post_app":true,"full_name":"Shams Charania","profile_pic_url":"https://instagram.flas1-2.fna.fbcdn.net/v/t51.2885-19/482795192_3376548399146227_6340123271493467395_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=instagram.flas1-2.fna.fbcdn.net&_nc_cat=1&_nc_oc=Q6cZ2QGGqXP9vnbg6p9G1kF4lrIwvuvWx0OeJ6C8nPcAyo-_4m8XC-91nKJBOJb8u0utyuiAJMdjpjH1-dv5DBfEeQFp&_nc_ohc=SCH32yXVc04Q7kNvwEaKg6u&_nc_gid=7vwZl0t6h0jZxQ23lXCMVw&edm=AHhEZX8BAAAA&ccb=7-5&oh=00_AfEIzDlsXrO-ShRXs19ZmpyYb_9IbJC9dWAUyvar-NvZ_A&oe=681B5320&_nc_sid=e8efdc","is_verified":true,"has_onboarded_to_text_post_app":true,"id":"5951152863"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}