{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook Ad Library","description":"Scrapes the Facebook (Meta) Ad Library"}],"paths":{"/v1/facebook/adLibrary/ad":{"get":{"tags":["Facebook Ad Library"],"summary":"Ad Details","description":"Pass the Ad ID and get back details about the ad. Be careful that if an ad has multiple versions, you're actually going to want to get the title from the 'cards' object. If you ask for the transcipt, we will only transcribe the video if it's under 2 minutes.","parameters":[{"name":"id","in":"query","required":false,"description":"Facebook Ad Id","schema":{"type":"string"},"example":"702369045530963"},{"name":"url","in":"query","required":false,"description":"Facebook Ad URL","schema":{"type":"string"},"example":"https://www.facebook.com/ads/library?id=1185617869915074"},{"name":"get_transcript","in":"query","required":false,"description":"Get the transcript of the ad. Only works if the video is under 2 minutes.","schema":{"type":"boolean"},"example":"false"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"adArchiveID":1185617869915074,"endDate":1750316400,"isAAAEligible":false,"isActive":true,"pageID":15087023444,"pageName":"Nike","politicalCountries":[],"reachEstimate":null,"snapshot":{"ad_creative_id":1809449763118705,"cards":[],"body_translations":{},"byline":null,"caption":"fb.com","cta_text":"Learn more","dynamic_item_flags":{},"dynamic_versions":null,"edited_snapshots":[],"effective_authorization_category":"NONE","event":[],"extra_images":[{"original_image_handle":"https://scontent-ord5-1.xx.fbcdn.net/v/t39.35426-6/508997149_744746594672572_3057533797808431470_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=eKgqs7-b06UQ7kNvwGSYm41&_nc_oc=AdnV_v1Anh3aqBBXDa3xwDrMtLJUCvE8yKIgP5ODbX3xsSMCtTv2ucMTy36I8Bq20HU&_nc_zt=14&_nc_ht=scontent-ord5-1.xx&_nc_gid=ocFZ2kPWmNZ0nKyk5HCtkQ&oh=00_AfNfDJHp6d0Ie9tIXLBIXFQiMgWHVl1i48DahYYOgANgHg&oe=685A4B4A","resized_image_handle":"https://scontent-ord5-1.xx.fbcdn.net/v/t39.35426-6/508997149_744746594672572_3057533797808431470_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=108&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=eKgqs7-b06UQ7kNvwGSYm41&_nc_oc=AdnV_v1Anh3aqBBXDa3xwDrMtLJUCvE8yKIgP5ODbX3xsSMCtTv2ucMTy36I8Bq20HU&_nc_zt=14&_nc_ht=scontent-ord5-1.xx&_nc_gid=ocFZ2kPWmNZ0nKyk5HCtkQ&oh=00_AfMe107fPkaznD6Pw8_wDaon3p-31ZXLHIeglHU_P3NYNw&oe=685A4B4A"}],"extra_links":["https://www.nike.com.ar/"],"extra_texts":[],"extra_videos":[],"instagram_shopping_products":[],"display_format":"image","title":"6 cuotas sin interés","link_description":null,"link_url":"https://fb.com/canvas_doc/1952657995267951","page_welcome_message":null,"images":[{"original_image_url":"https://scontent-ord5-2.xx.fbcdn.net/v/t39.35426-6/499542231_3815578848587795_5060085138610262269_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=yk26_frcPLkQ7kNvwF5EWnq&_nc_oc=Adk8Xjt1SjUg-mBxkm6iUuDfXpyGXD5G5g6PBae8g0WWsJT-MfnhNGII7JL-KM5MJBE&_nc_zt=14&_nc_ht=scontent-ord5-2.xx&_nc_gid=ocFZ2kPWmNZ0nKyk5HCtkQ&oh=00_AfP6zfVuLkcD2Zts0gItXp801QK1k0lhEfqwwdqfNAU9gw&oe=685A3E80","resized_image_url":"https://scontent-ord5-3.xx.fbcdn.net/v/t39.35426-6/509090139_3448752085259208_8196922920009954562_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=107&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=tV3v2Y_NIh0Q7kNvwEMM-Vk&_nc_oc=AdnpccGMqNlM0k9O87VmMBIp9pGtj3l1dkO5HaKRCti2V4X6AKUn8BR08SXOc_Y-8TY&_nc_zt=14&_nc_ht=scontent-ord5-3.xx&_nc_gid=ocFZ2kPWmNZ0nKyk5HCtkQ&oh=00_AfPXGzKezcPJSpAq8Ql2Xgx6Rn0a3Poit-iTirfhAwuiHA&oe=685A5634","watermarked_resized_image_url":"","image_crops":{}}],"videos":[],"creation_time":1750344986,"page_id":15087023444,"page_name":"Nike","page_profile_picture_url":"https://scontent-ord5-2.xx.fbcdn.net/v/t39.35426-6/508670148_9776464209142246_4487234065380829819_n.jpg?stp=dst-jpg_s60x60_tt6&_nc_cat=105&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=Q0UJas7Kz2wQ7kNvwGKBRCa&_nc_oc=AdnobFr6ScYQJzp_Za4UEgMY34n373z6WuZwOA3h-ixlpbii4wA8lxcgAsbtBpCE3t4&_nc_zt=14&_nc_ht=scontent-ord5-2.xx&_nc_gid=ocFZ2kPWmNZ0nKyk5HCtkQ&oh=00_AfMlwCCMXN-4KPAZac9pYLWrHGZpld9SoTX1r9S9xRHB8Q&oe=685A5861","page_categories":{"1713352298924731":"Sportswear"},"page_entity_type":"person_profile","page_is_profile_page":false,"instagram_actor_name":"Nike","instagram_profile_pic_url":"https://scontent-ord5-3.xx.fbcdn.net/v/t39.35426-6/499229861_3519049748228633_8442052921006945421_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=eJcuzztd8e4Q7kNvwEpFLbr&_nc_oc=AdlI7WAi5QRhAOZCLwHcU3ZgxpxWSTzJr9PjPiwtUN9U2mkMB49Surq8HsQcDWfnTVc&_nc_zt=14&_nc_ht=scontent-ord5-3.xx&_nc_gid=ocFZ2kPWmNZ0nKyk5HCtkQ&oh=00_AfNnIjlMGopiAeVY7yEOxCT0sEvrij87SMrpkGJHs1lT-w&oe=685A55E2","instagram_url":"","instagram_handle":"","is_reshared":false,"version":3,"body":"Aprovechá 6 cuotas sin interés con todos los bancos. ¿Te lo vas a perder? Comprá ahora.","brazil_tax_id":null,"branded_content":null,"current_page_name":"Nike","disclaimer_label":null,"page_like_count":37497720,"page_profile_uri":"https://www.facebook.com/nike/","page_is_deleted":false,"root_reshared_post":null,"cta_type":"LEARN_MORE","additional_info":null,"ec_certificates":null,"country_iso_code":null,"instagram_branded_content":null},"totalActiveTime":23488,"spend":null,"startDate":1750316400,"publisherPlatform":["facebook"],"url":"https://www.facebook.com/ads/library?id=1185617869915074","startDateString":"2025-06-19T07:00:00.000Z","endDateString":"2025-06-19T07:00:00.000Z","aaa_info":null}}}}}}},"/v1/facebook/adLibrary/search/ads":{"get":{"tags":["Facebook Ad Library"],"summary":"Search","description":"Search the Facebook (Meta) Ad Library By Keyword. This endpoint will tap out around 1,500 results, beacuse the cursor becomes too big for a GET request. If you need more results, call this endpoint as a POST, and pass the query params in the body.","parameters":[{"name":"query","in":"query","required":true,"description":"Keyword to search for","schema":{"type":"string"},"example":"running"},{"name":"sort_by","in":"query","required":false,"description":"Sort by impressions (high to low), or Most Recent (relevancy_monthly_grouped). Defaults to impressions.","schema":{"type":"string","enum":["total_impressions","relevancy_monthly_grouped"]},"example":"total_impressions"},{"name":"search_type","in":"query","required":false,"description":"If you want to search by exact phrase or not","schema":{"type":"string","enum":["keyword_unordered","keyword_exact_phrase"]},"example":"keyword_unordered"},{"name":"ad_type","in":"query","required":false,"description":"Search for all ads or only political and issue ads","schema":{"type":"string","enum":["all","political_and_issue_ads"]},"example":"all"},{"name":"country","in":"query","required":false,"description":"This can only be one country. It has to be the 2 letter code for the country. It defaults to ALL.","schema":{"type":"string"},"example":"ALL"},{"name":"status","in":"query","required":false,"description":"Status of the ad. Defaults to ACTIVE.","schema":{"type":"string","enum":["ALL","ACTIVE","INACTIVE"]},"example":"ACTIVE"},{"name":"media_type","in":"query","required":false,"description":"Media type of the ad. Defaults to ALL. Meme just means the ad has text and an image. No clue why they call it meme.","schema":{"type":"string","enum":["ALL","IMAGE","VIDEO","MEME","IMAGE_AND_MEME","NONE"]},"example":"ALL"},{"name":"start_date","in":"query","required":false,"description":"Impressions start date. Needs to be in YYYY-MM-DD format.","schema":{"type":"string"},"example":"2025-01-05"},{"name":"end_date","in":"query","required":false,"description":"Impressions end date. Needs to be in YYYY-MM-DD format.","schema":{"type":"string"},"example":"2025-02-16"},{"name":"cursor","in":"query","required":false,"description":"Cursor to paginate through results","schema":{"type":"string"},"example":"AQHRYLVDkoMkvGv7yK1rcce-vJmKiKv330R4v3j9KHSOaYvmF1bq1QkotG0rgW8Fkrj-"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"searchResults":[{"ad_archive_id":"1378176106734781","end_date":1747638000,"is_aaa_eligible":false,"is_active":true,"page_id":"119749581219299","page_name":"Makhumalo","political_countries":[],"reach_estimate":null,"snapshot":{"branded_content":null,"page_id":"119749581219299","page_is_deleted":false,"page_profile_uri":"https://www.facebook.com/61550737114480/","root_reshared_post":null,"byline":null,"disclaimer_label":null,"page_name":"Makhumalo","page_profile_picture_url":"https://scontent-sjc3-1.xx.fbcdn.net/v/t39.35426-6/499107970_2293645317822147_4932735414928456888_n.jpg?stp=dst-jpg_s60x60_tt6&_nc_cat=106&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=DBNo3Z6ft4AQ7kNvwESjMWN&_nc_oc=AdnZGvglABgVlSJ6UIGIbWgFeUL2LnoBSuMbBvti20zRjb_UUDRzhGxAZ0ip3ye1EQI&_nc_zt=14&_nc_ht=scontent-sjc3-1.xx&_nc_gid=49D7P4N6a4mVqUW8WdOxag&oh=00_AfMEXcKVf3KYJpFehTTToe8MXUZslTHE9P-xS2eyVCeGKA&oe=685A4903","body":{"text":"This is my second pair. I only take them off to go to sleep. I put them on first thing in the morning. I am 59 and have neuropathy in my feet, they bring me comfort every day.” -Lydia P.👍👍👍\n❤️These orthopedic shoes provide great comfort and ease foot and knee pain! 😍\n✅ Ideal for wide feet \n✅ comfortable \n✅ they are ideal for everyday life.\nGet Yours Now : https://www.ghemshop.com/products/buckled-square"},"is_reshared":false,"brazil_tax_id":null,"caption":"ghemshop.com","cards":[],"cta_text":"Shop now","cta_type":"SHOP_NOW","country_iso_code":null,"current_page_name":"Makhumalo","display_format":"IMAGE","event":null,"images":[{"original_image_url":"https://scontent-sjc3-1.xx.fbcdn.net/v/t39.35426-6/499507599_4016645891948767_4341363175504946673_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=3EJ6TbZR3GEQ7kNvwErfuF4&_nc_oc=AdkQPpJ9OYN_J3P5xTetGSb9FDCFZzfoLSj59Bbp6s-g5HGg-zTECrgOm8mjkJfk5JE&_nc_zt=14&_nc_ht=scontent-sjc3-1.xx&_nc_gid=49D7P4N6a4mVqUW8WdOxag&oh=00_AfMTuIozb2-VJgGP7NCIx0pG91b48CzMgm_1eT7STgBvew&oe=685A6906","resized_image_url":"https://scontent-sjc3-1.xx.fbcdn.net/v/t39.35426-6/499504336_1222720305887055_488411876974522066_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=104&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=DYkDYH-EJrQQ7kNvwF-b_ov&_nc_oc=Adn2l2fDwHaN4h6W-OxxgoYkb0IUAeCpYH5bociuO_oxVL9L0wLg5vqnNfJa0ehQwqY&_nc_zt=14&_nc_ht=scontent-sjc3-1.xx&_nc_gid=49D7P4N6a4mVqUW8WdOxag&oh=00_AfNkQcMpUNFcM7tF1M5tAHmVwABzLx5QKUU8CFo69NP3Rg&oe=685A4518","watermarked_resized_image_url":"","image_crops":[]}],"link_description":"🔥Best Seller-Last Day Sale 60% OFF🔥 Buckled Square Heel Sandals for Women","link_url":"https://www.ghemshop.com/products/buckled-square","page_categories":["Musician"],"page_entity_type":"PERSON_PROFILE","page_is_profile_page":false,"page_like_count":7,"title":"🔥Best Seller-Last Day Sale 60% OFF🔥 Buckled Square Heel Sandals for Women","videos":[],"additional_info":null,"ec_certificates":[],"extra_images":[],"extra_links":[],"extra_texts":[],"extra_videos":[]},"total_active_time":null,"spend":null,"start_date":1747638000,"publisher_platform":["FACEBOOK"],"url":"https://www.facebook.com/ads/library?id=1378176106734781","start_date_string":"2025-05-19T07:00:00.000Z","end_date_string":"2025-05-19T07:00:00.000Z"}],"searchResultsCount":50001,"cursor":"AQHRLKHyzb3ZNTn1O3qr6lG7ncS9gfboI0HWGSDETVUnipTSXVY8E4Wb-568JBicOvYS"}}}}}}},"/v1/facebook/adLibrary/company/ads":{"get":{"tags":["Facebook Ad Library"],"summary":"Company Ads","description":"Get all the ads a company has running. If params become too large, make this a POST request and pass the params in the body.","parameters":[{"name":"pageId","in":"query","required":false,"description":"The companies ad library page id. You can get this with my Search For Companies Endpoint. Can either use this or companyName","schema":{"type":"string"},"example":"367152833370567"},{"name":"companyName","in":"query","required":false,"description":"The name of the company. Can either use this or pageId","schema":{"type":"string"},"example":"Lululemon"},{"name":"country","in":"query","required":false,"description":"This can only be one country. It has to be the 2 letter code for the country. It defaults to ALL.","schema":{"type":"string"},"example":"ALL"},{"name":"status","in":"query","required":false,"description":"Status of the ad. Defaults to ACTIVE.","schema":{"type":"string","enum":["ALL","ACTIVE","INACTIVE"]},"example":"ACTIVE"},{"name":"media_type","in":"query","required":false,"description":"Media type of the ad. Defaults to ALL. Meme refers to ads with image and text. Not sure why they call it meme.","schema":{"type":"string","enum":["ALL","IMAGE","VIDEO","MEME","IMAGE_AND_MEME","NONE"]},"example":"ALL"},{"name":"language","in":"query","required":false,"description":"Language to filter ads on. Needs to be 2 letter language code, ie EN, ES, FR, etc","schema":{"type":"string"},"example":"EN"},{"name":"sort_by","in":"query","required":false,"description":"Sort by impressions (high to low), or Most Recent (relevancy_monthly_grouped). Defaults to impressions.","schema":{"type":"string","enum":["total_impressions","relevancy_monthly_grouped"]},"example":"total_impressions"},{"name":"start_date","in":"query","required":false,"description":"Start date to search for. Format: YYYY-MM-DD","schema":{"type":"string"},"example":"2025-01-01"},{"name":"end_date","in":"query","required":false,"description":"End date to search for. Format: YYYY-MM-DD","schema":{"type":"string"},"example":"2025-12-31"},{"name":"cursor","in":"query","required":false,"description":"Cursor to paginate through results","schema":{"type":"string"},"example":"AQHRBUAxNmFlxBVMFL6uTb1ICFsV65O4SqmPbcVZJhiveBpPS1hFHAmL6yCJcF760cXP"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"results":[{"ad_archive_id":"1212560900568826","end_date":1750230000,"is_aaa_eligible":false,"is_active":true,"page_id":"15087023444","page_name":"Nike","political_countries":[],"reach_estimate":null,"snapshot":{"body":{"text":"Que el frío no te detenga. Explora la colección de invierno con estilo y actitud Nike. 🧥"},"branded_content":null,"brazil_tax_id":null,"byline":null,"caption":"fb.com","cards":[],"cta_text":"Learn more","cta_type":"LEARN_MORE","country_iso_code":null,"current_page_name":"Nike","disclaimer_label":null,"display_format":"VIDEO","event":null,"images":[],"is_reshared":false,"link_description":null,"link_url":"https://fb.com/canvas_doc/569658969305127","page_categories":["Ropa deportiva"],"page_entity_type":"PERSON_PROFILE","page_id":"15087023444","page_is_deleted":false,"page_is_profile_page":false,"page_like_count":37497718,"page_name":"Nike","page_profile_picture_url":"https://scontent-ord5-1.xx.fbcdn.net/v/t39.35426-6/508742493_1906025190144374_200543536673957484_n.jpg?stp=dst-jpg_s60x60_tt6&_nc_cat=108&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=GUPolKbhQA4Q7kNvwH8Woql&_nc_oc=AdnsaYY9-9p8kkFm594f86VsMEc2Wias8yMQ69ZC2VOv642bjUgMRJNtfihFM4vr62o&_nc_zt=14&_nc_ht=scontent-ord5-1.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfO73iYbuEFgc4yfmi6pUnjLAd0I1W5ac9hmHZqjq2KP3g&oe=685A4C47","page_profile_uri":"https://facebook.com/nike","root_reshared_post":null,"title":"Look de invierno activado","videos":[{"video_hd_url":"https://video-ord5-2.xx.fbcdn.net/v/t42.1790-2/508345466_4710910465802253_4502560017294477681_n.?_nc_cat=111&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=_z9ndrNSqU4Q7kNvwErNTOY&_nc_oc=AdlSb3GVLWTjl3iI6uvIsrEya2ZR-1ex8t8yXOr3e9u13u3xboXylCxrkWzfLsvDQcU&_nc_zt=28&_nc_ht=video-ord5-2.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfNNOrS6GBT-R_RV15FpphRv-mUwyGoqJClQpP-LCOcqfQ&oe=685A6586","video_preview_image_url":"https://scontent-ord5-3.xx.fbcdn.net/v/t39.35426-6/508472131_2706791729511119_7655112167724018421_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=-GGzon31Wl4Q7kNvwHpWdG2&_nc_oc=AdnRHcWzvX05mBu9KrhDjKgOuCYLKjNg_hm8eKY2dNaFg-4tpYznNPJvbLl7CAnB-2A&_nc_zt=14&_nc_ht=scontent-ord5-3.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfMijP4k74e949uFas1PkfzzwiYWH_G49J4W-EYJa31VEQ&oe=685A3DDC","video_sd_url":"https://video-ord5-3.xx.fbcdn.net/v/t42.1790-2/503830433_1272051757688626_4613408767025280545_n.mp4?_nc_cat=106&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=zKD6ziOmKVgQ7kNvwFGCx5N&_nc_oc=AdkdTw235NDuAczGAvCTLl5TnQ8rUcWjy1QBEj8CC4Id8hVQPMexxPtU3froQOYk1OE&_nc_zt=28&_nc_ht=video-ord5-3.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfNqJDVyyTMYnf7xs5te87vB3A0v3IGy41tdxT1ZvrAAlQ&oe=685A4FC3","watermarked_video_hd_url":"","watermarked_video_sd_url":""}],"additional_info":null,"ec_certificates":[],"extra_images":[],"extra_links":["https://www.nike.com.pe/productos/ropa/casacas-y-chalecos_conjunto_pantalones_poleras?utm_source=facebook&utm_medium=paid&utm_campaign=junio_invierno_transacciones&utm_content=intereses2_invierno_collection2"],"extra_texts":[],"extra_videos":[{"video_hd_handle":"https://video-ord5-3.xx.fbcdn.net/v/t42.1790-2/508262243_4710910432468923_4352661581573318069_n.?_nc_cat=107&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=bQXAtOCS-PMQ7kNvwEbVbC_&_nc_oc=AdnZ87pJ-oeIb5L7fizjaxNmRp0qkvq2SP_ADcnPFzMPca1L8gvUkpmF_c5vrAYmetw&_nc_zt=28&_nc_ht=video-ord5-3.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfM8Q_xyap9vnoEn5T7FqI9yfO1ySPPKyJVGXPmaim5tCw&oe=685A58CD","video_sd_handle":"https://video-ord5-3.xx.fbcdn.net/v/t42.1790-2/503830433_1272051757688626_4613408767025280545_n.mp4?_nc_cat=106&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=zKD6ziOmKVgQ7kNvwFGCx5N&_nc_oc=AdkdTw235NDuAczGAvCTLl5TnQ8rUcWjy1QBEj8CC4Id8hVQPMexxPtU3froQOYk1OE&_nc_zt=28&_nc_ht=video-ord5-3.xx&_nc_gid=mmzWe0H6RNHM_tNirxejrQ&oh=00_AfNqJDVyyTMYnf7xs5te87vB3A0v3IGy41tdxT1ZvrAAlQ&oe=685A4FC3","watermarked_video_hd_url":null,"watermarked_video_sd_url":null}]},"total_active_time":null,"spend":null,"start_date":1750143600,"publisher_platform":["FACEBOOK"],"url":"https://www.facebook.com/ads/library?id=1212560900568826","start_date_string":"2025-06-17T07:00:00.000Z","end_date_string":"2025-06-18T07:00:00.000Z"}],"cursor":"AQHR2LpCDWOZyAGp-ZKr8rUsapAXh8rWjYuNxVvuU7L0kte18hxkxnaXM3e5jEZNgdcU"}}}}}}},"/v1/facebook/adLibrary/search/companies":{"get":{"tags":["Facebook Ad Library"],"summary":"Search for Companies","description":"Search for companies by name and get their ad library page id","parameters":[{"name":"query","in":"query","required":true,"description":"Keyword to search for","schema":{"type":"string"},"example":"nike"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"searchResults":[{"page_id":"51212153078","category":"Product/service","image_uri":"https://scontent.ford4-1.fna.fbcdn.net/v/t39.30808-1/387181570_863325755161415_3589774989337788111_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=103&ccb=1-7&_nc_sid=418b77&_nc_ohc=SzL6LoxpjrMQ7kNvgF5Uyy3&_nc_oc=AdgIflwSC-gA-77yFJHPKOC1dEGUI7YqvKYkmll9n5n8BcvLzRKToufpLG-068BnjE4&_nc_zt=24&_nc_ht=scontent.ford4-1.fna&_nc_gid=AYuU655BQ_HFcmz-fz9agWZ&oh=00_AYDD0ELO2MQikn7TBtxiTe7n64HX6iKiI5ofiI86BQ_jYw&oe=67CAC605","likes":41136495,"verification":"BLUE_VERIFIED","name":"Nike Football","country":null,"entity_type":"PERSON_PROFILE","ig_username":"nikefootball","ig_followers":46451228,"ig_verification":true,"page_alias":"nikefootball","page_is_deleted":false}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}