{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Linktree","description":"Scrape Linktree pages"}],"paths":{"/v1/linktree":{"get":{"tags":["Linktree"],"summary":"Linktree page","description":"Linktree page","parameters":[{"name":"url","in":"query","required":true,"description":"URL to Linktree page","schema":{"type":"string"},"example":"https://linktr.ee/miguelangeles"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"id":15278008,"username":"miguelangeles","profilePictureUrl":"https://ugc.production.linktr.ee/d3141538-f586-4f3f-bc9a-a82fbebab798_DEATHRATTLE-slowed-COVER.jpeg","description":"☆☆☆☆ IRL ANGEL ☆☆☆☆\nψ EMBRACE CHAOS ψ","verticals":["music"],"linkPlatforms":["Instagram"],"timezone":"America/New_York","links":[{"id":463416775,"type":"SPOTIFY_ALBUM","title":"new project \"BEFORE THE SUN RISES & WINTERR ENDS\"","url":"https://open.spotify.com/album/0pgrg7phBbnwGJ2HBEl9EG?si=Zub7J4I3RySAaM9WVX3Okg"}],"instagram":"https://instagram.com/miguelangeles","tiktok":"https://tiktok.com/@irlangel","spotify":"https://open.spotify.com/artist/14xRX3JR8H4RWh8R7V3fvZ?si=EgRxWIPiRcaEHtSnqk5PAQ","youtube":"https://www.youtube.com/watch?v=xiFUzOJaiC4","soundcloud":"https://soundcloud.com/miguelangeles","apple_music":"https://music.apple.com/ca/artist/miguel-angeles/1209423162","email_address":"miguel@irlangel.com"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}