{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Twitter","description":"Get Twitter profiles, tweets, followers and more"}],"paths":{"/v1/twitter/user-tweets":{"get":{"tags":["Twitter"],"summary":"User Tweets","description":"Get tweets from a user's profile. *These aren't the users latest tweets. Sadly, Twitter publicly only returns 100 of the users most popular tweets.","parameters":[{"name":"handle","in":"query","required":true,"description":"Twitter handle","schema":{"type":"string"},"example":"levelsio"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"tweets":[{"rest_id":"1834021269559501236","views":{"count":"4710824","state":"EnabledWithCount"},"source":"<a href=\"http://twitter.com/download/iphone\" rel=\"nofollow\">Twitter for iPhone</a>","legacy":{"bookmark_count":2634,"bookmarked":false,"created_at":"Thu Sep 12 00:08:39 +0000 2024","conversation_id_str":"1834021269559501236","display_text_range":[0],"entities":{"hashtags":[],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[]},"favorite_count":129276,"favorited":false,"full_text":"Wife: “What did your teacher remember about September 11th?”\n\nNine-year-old: “She was only four then, she doesn’t remember it at all.”","is_quote_status":false,"lang":"en","quote_count":674,"reply_count":388,"retweet_count":2901,"retweeted":false,"user_id_str":"221838349","id_str":"1834021269559501236"},"url":"https://x.com/Austen/status/1935730646267158797"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}