{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok Shop","description":"Everything about TikTok Shop"}],"paths":{"/v1/tiktok/user/showcase":{"get":{"tags":["TikTok Shop"],"summary":"User Showcase","description":"Gets public user's showcase products","parameters":[{"name":"handle","in":"query","required":true,"description":"The handle of the user","schema":{"type":"string"},"example":"mrtiktokreviews"},{"name":"region","in":"query","required":false,"description":"Region to put the proxy in","schema":{"type":"string"},"example":"US"},{"name":"cursor","in":"query","required":false,"description":"The cursor to the next page of products","schema":{"type":"string"},"example":"21"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":49999721933,"products":[{"product_id":"1732210666230419545","title":"Be Bodywise Hair Growth Roll-On Serum | New Year New You Edition | 3% Rosemary, 3% Redensyl, 2% AnaGain | Precision Scalp Applicator | Paraben/Sulphate-Free | Non-Oily | DHT-Care Botanicals | 50ml","image":{"height":500,"width":500,"uri":"tos-useast5-i-omjb5zjo8w-tx/b4088e56fc3140799ab2e52674339db4","url_list":["https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-tx/b4088e56fc3140799ab2e52674339db4~tplv-fhlh96nyum-crop-webp:500:500.webp?dr=12190&t=555f072d&ps=933b5bde&shp=4ee6669e&shcp=9b759fb9&idc=useast5&from=1323722398"]},"product_price_info":{"sku_id":"1732210669134516313","symbol_position":1,"show_currency_space":false,"currency_show_mode":1,"currency_name":"USD","currency_symbol":"$","sale_price_decimal":"46.58","origin_price_decimal":"53","sale_price_format":"46.58","origin_price_format":"53.00","discount_format":"12%","discount_decimal":"0.12","single_product_price_format":"46.58","single_product_price_decimal":"46.58","sale_price_integer_part_format":"46","sale_price_decimal_part_format":"58","decimal_point_symbol":".","promotion_deduction_details":{"seller_subtotal_deduction":"6.42","seller_subtotal_deduction_decimal":"6.42"}},"rate_info":{"score":4.5,"review_count":326},"sold_info":{"sold_count":5457},"seller_info":{"seller_id":"7495572938346760281"},"seo_url":{"updated_at":null,"canonical_url":"https://www.tiktok.com/shop/pdp/1732210666230419545","slug":"be-bodywise-hair-growth-roll-on-serum-new-year-new-you-edition-3-rosemary-3-redensyl-2-anagain-precision-scalp-applicator-paraben-sulphate-free-non-oily-dht-care-botanicals-50ml","type":2,"version":2}}],"cursor":"41"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}