{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Pinterest","description":"Scrape Pinterest pins"}],"paths":{"/v1/pinterest/board":{"get":{"tags":["Pinterest"],"summary":"Board","description":"Get the pins of a pinterest board","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the board to get","schema":{"type":"string"},"example":"https://www.pinterest.com/lizmrodgers/moms-night/"},{"name":"cursor","in":"query","required":false,"description":"The cursor to get the next page of results","schema":{"type":"string"},"example":"Y2JURlEwTWsxNlp6Vk9SR2MwV...."},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"pins":[{"id":"549579960798399243","link":"https://gekbuzz.com/crispy-air-fryer-pizza-rolls-recipe/","title":"Crispy Air Fryer Pizza Rolls Recipe -","board":{"node_id":"Qm9hcmQ6NTQ5NTgwMDI5NDY3NTc3NDM2","followed_by_me":false,"owner":{"node_id":"VXNlcjo1NDk1ODAwOTgxODYwMzM3MzU=","image_small_url":"https://s.pinimg.com/images/user/default_30.png","is_primary_website_verified":true,"is_verified_merchant":false,"full_name":"Gekbuzz","username":"sharat24k","image_medium_url":"https://s.pinimg.com/images/user/default_75.png","id":"549580098186033735","verified_identity":{}},"privacy":"public","is_collaborative":false,"url":"/sharat24k/pizza-recipes/","layout":"default","type":"board","name":"Pizza Recipes","id":"549580029467577436","collaborated_by_me":false},"unified_user_note":"Craving a quick snack that combines cheesy goodness and crispy texture? These air fryer pizza rolls are the answer! Perfect for movie nights, parties, or just a casual treat, they pack all the flavor of your favorite pizza into a bite-sized delight. Imagine biting into a perfectly golden roll where melty cheese and zesty sauce meld together. The air fryer gives these pizza rolls a satisfying crunch without the extra oil, making them a healthier option that doesn’t skimp on taste.","alt_text":"Crispy air fryer pizza rolls served with marinara sauce for dipping on a plate.","rich_summary":{"actions":[],"products":[],"apple_touch_icon_link":null,"type_name":"article","type":"richpingriddata","id":"5aa12f54bef882f6f3cdd77234027e25","favicon_link":"https://s.pinimg.com/images/default_rich_pin_favicon.png","url":"https://gekbuzz.com/crispy-air-fryer-pizza-rolls-recipe/","display_name":"Crispy Air Fryer Pizza Rolls Recipe -","favicon_images":{"orig":"https://s.pinimg.com/images/default_rich_pin_favicon.png"},"display_description":"Craving a quick snack that combines cheesy goodness and crispy texture? These air fryer pizza rolls are the answer! Perfect for movie nights, parties, or just a casual treat, they pack all the flavor of your favorite pizza into a bite-sized delight. Imagine biting into a perfectly golden roll where melty cheese and zesty sauce […]","apple_touch_icon_images":null,"site_name":"gekbuzz.com"},"reaction_counts":{},"pinner":{"node_id":"VXNlcjo1NDk1ODAwOTgxODYwMzM3MzU=","image_small_url":"https://s.pinimg.com/images/user/default_30.png","is_primary_website_verified":true,"is_verified_merchant":false,"full_name":"Gekbuzz","username":"sharat24k","image_medium_url":"https://s.pinimg.com/images/user/default_75.png","id":"549580098186033735","verified_identity":{}},"description":"Craving a quick snack that combines cheesy goodness and crispy texture? These air fryer pizza rolls are the answer! Perfect for movie nights, parties, or just a casual treat, they pack all the flavor of your favorite pizza into a bite-sized delight. Imagine biting into a perfectly golden roll where melty cheese and zesty sauce meld together. The air fryer gives these pizza rolls a satisfying crunch without the extra oil, making them a healthier option that doesn’t skimp on taste.","domain":"gekbuzz.com"}],"cursor":"Y2JURlEwTVU1RWF6Rk9lbXMxV...."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}