{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"LinkedIn","description":"Scrape LinkedIn"}],"paths":{"/v1/linkedin/company":{"get":{"tags":["LinkedIn"],"summary":"Company Page","description":"Get a LinkedIn company page","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn company page to get","schema":{"type":"string"},"example":"https://linkedin.com/company/shopify"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"id":"784652","name":"Shopify","description":"Shopify is a leading global commerce company, providing trusted tools to start, grow, market, and manage a retail business of any size. Shopify makes commerce better for everyone with a platform and services that are engineered for reliability, while delivering a better shopping experience for consumers everywhere. Shopify powers millions of businesses in more than 175 countries and is trusted by brands such as Allbirds, Gymshark, PepsiCo, Staples, and many more.\n\nFind all our jobs here: www.shopify.com/careers","location":{"city":"Ottawa","state":"ON","country":"CA"},"employeeCount":23591,"website":"https://www.shopify.com","logo":"https://media.licdn.com/dms/image/v2/D560BAQG_KjTcNcrLVw/company-logo_200_200/B56ZZolTV.HUAU-/0/1745511331439/shopify_logo?e=2147483647&v=beta&t=D2saVg58cKnwEiDQgFgzvwL24mTRM_cPuU1ndv6kL2U","coverImage":"https://media.licdn.com/dms/image/v2/D563DAQGruQL8kvBvnw/image-scale_191_1128/B56ZanR4DSGoAs-/0/1746563203576/shopify_cover?e=2147483647&v=beta&t=rHubhVZZZSU_1V8tCeBpwL80OG3bNBjzBNEWFO24qa4","slogan":"Make commerce better for everyone","similarPages":[{"link":"https://www.linkedin.com/company/airbnb","name":"Airbnb","image":"https://media.licdn.com/dms/image/v2/C560BAQFhfl32crIGIw/company-logo_100_100/company-logo_100_100/0/1630637496980/airbnb_logo?e=2147483647&v=beta&t=idNQqoBZi6dZq6iG78J5GTOsNV_ltJf7ITo7zYZ6VWg"}],"industry":"Software Development","size":"10,001+ employees","founded":2006,"headquarters":"Ottawa, ON","type":"Public Company","specialties":["ecommerce"],"funding":{"numberOfRounds":4,"lastRound":{"type":"Series C","date":"2014-01-11T00:00:00.000Z","amount":"US$ 100.0M"},"investors":[{"name":"OMERS Ventures","crunchbaseUrl":"https://www.crunchbase.com/organization/omers-ventures","image":"https://media.licdn.com/dms/image/sync/v2/D4E38AQEnDf6SgPOjAQ/crunchbase_investor_logo_100/crunchbase_investor_logo_100/0/1748147400909?e=1749146400&v=beta&t=V974RcVsrtQI1mZcqXPoKT8kutQoYneu8pjbjm5Un8E"}]},"employees":[{"name":"🇨🇦 Todd Jefferson","title":"Staff Software Developer at Shopify","link":"https://ca.linkedin.com/in/toddjefferson","image":"https://media.licdn.com/dms/image/v2/C4E03AQHg-rFtEf9qpw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1583259322606?e=2147483647&v=beta&t=uBFwlGCBbgFmwrP8f29P4nIDJCgZ1YEyyntBzpR9j30"}],"posts":[{"url":"https://www.linkedin.com/posts/shopify_shopifys-design-vision-brings-horizon-into-activity-7331699854873620480-R_N8","datePublished":"2025-05-23T15:17:41.770Z","text":"In the era of AI, design matters more than ever. And we’re not just keeping pace—we’re leading the way.\n\nDesigners at Shopify take an unconventional approach to the design process: embracing imperfection, doing the unorthodox, and obsessing over every detail. Roles are fluid and leads stay close to the craft.\n\nThe Summer ’25 Edition is so tactile you can practically feel it. It’s packed with interactive elements, fluid animations, and, as usual, a lot of Easter eggs. Horizon Drive is an homage to old driving games, straight out of an arcade. \n\nBut nothing this Edition captures our design vision more than Horizon. \n\nHorizon blends beautiful visuals with practical features that streamline the design process. No more scrolling and guessing. Just quick design choices and built-in AI to code the rest. \n\nShopify design leaders Maggie Fost, Kevin Clark, and Katarina﻿﻿ Batina﻿﻿ share how our design philosophy shaped the Summer ’25 Edition: https://lnkd.in/e-Q-DmCR"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}