{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/video/transcript":{"get":{"tags":["YouTube"],"summary":"Transcript","description":"Get transcript of a video or short","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video or short URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=bjVIDXPP7Uk"},{"name":"language","in":"query","required":false,"description":"2 letter language code, ie 'en', 'es', 'fr' etc. If the transcript is not available in the language you specify, the transcript will be null.","schema":{"type":"string"},"example":"en"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"videoId":"bjVIDXPP7Uk","type":"video","url":"https://www.youtube.com/watch?v=bjVIDXPP7Uk","transcript":[{"text":"welcome back to the hell farm and the","startMs":"160","endMs":"1920","startTimeText":"0:00"}],"transcript_only_text":"welcome back to the hell farm and the backyard trails we built these jumps two years ago and last year we just kind of rebuilt them and this year......","language":"English"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}