{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Threads","description":"Get Threads posts"}],"paths":{"/v1/threads/post":{"get":{"tags":["Threads"],"summary":"Post","description":"Get a post by url. Also returns comments and related posts.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the post to get","schema":{"type":"string"},"example":"https://www.threads.com/@trendspider/post/DIU8naHS6q_"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"post":{"id":"3656367813102434565_63055343223","pk":"3656367813102434565","caption":{"text":"Spoiler alert: We're testing a way for you to hide spoilers in your Threads posts.","pk":"17978979272714446","has_translation":null},"code":"DK-BydcJHkF","like_count":96439,"taken_at":1750093031,"user":{"pk":"63055343223","friendship_status":null,"profile_pic_url":"https://scontent-hou1-1.cdninstagram.com/v/t51.2885-19/452737457_1313286386312102_744138929735022550_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-hou1-1.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QEI0Na315cY5sOYUkhVVibfgPAW-ui7qHsdVtzXBXEOhzW7Bng-EMYZTcNDR7NhzDw&_nc_ohc=4jx-dLM0V7UQ7kNvwF5pEvj&_nc_gid=08CADhHYLnZPoVapLCtXQw&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfMJZBcCbhMdKKqnrXmtnhF3bwCCjEU85Z3Ih0GWNi5t6A&oe=685A71CE&_nc_sid=10d13b","username":"zuck","id":"63055343223","full_name":"Mark Zuckerberg","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":true,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true}},"comments":[{"id":"3658534918151603488_74973899807","pk":"3658534918151603488","caption":{"text":"意味分からない","pk":"18306832783208063","has_translation":true},"code":"DLFuh_SygUg","like_count":0,"taken_at":1750351370,"user":{"pk":"74973899807","friendship_status":null,"profile_pic_url":"https://scontent-hou1-1.cdninstagram.com/v/t51.2885-19/491446152_17850244230449803_8764028655689505242_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-hou1-1.cdninstagram.com&_nc_cat=107&_nc_oc=Q6cZ2QEI0Na315cY5sOYUkhVVibfgPAW-ui7qHsdVtzXBXEOhzW7Bng-EMYZTcNDR7NhzDw&_nc_ohc=04OF9jMRuJoQ7kNvwF4M8X7&_nc_gid=08CADhHYLnZPoVapLCtXQw&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfOd6QqjNHAV2HNKm-I63jqf58-6kNsVTzATgKyd-iN3zw&oe=685A9A82&_nc_sid=10d13b","username":"emimimi_0917","id":"74973899807","full_name":"青木恵美","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":true,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true}}],"relatedPosts":[{"id":"3658572865166656590_63453315755","pk":"3658572865166656590","caption":{"text":"Initial findings of investigation into overnight ground explosion of SpaceX Starship rocket in Texas point to failure of a Composite Overwrapped Pressure Vessel (COPV), a lightweight storage tank containing nitrogen under high pressure. 🖥️ X/Elon Musk","pk":"18345028147091883","has_translation":null},"code":"DLF3KMNJERO","like_count":15,"taken_at":1750355893,"user":{"pk":"63453315755","friendship_status":null,"profile_pic_url":"https://scontent-hou1-1.cdninstagram.com/v/t51.2885-19/402757276_161160320414682_3222955945465557227_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-hou1-1.cdninstagram.com&_nc_cat=106&_nc_oc=Q6cZ2QGJAk0S-TOHB3ZWl6ci1q6t2XxgndYS-k6upqywpT-gXu8dlcxmH69UxCueQ9PIqQw&_nc_ohc=J3L5lDaaNDIQ7kNvwGO73Uq&_nc_gid=08CADhHYLnZPoVapLCtXQw&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfMkWFXtSlvnwHnBZKBb9eFnleArkHhYt6m32PRKXpKNPA&oe=685AA3CD&_nc_sid=10d13b","username":"jonathanserrie","id":"63453315755","full_name":"Jonathan Serrie","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":true,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true}}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}