{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Twitch","description":"Scrape Twitch clips"}],"paths":{"/v1/twitch/clip":{"get":{"tags":["Twitch"],"summary":"Clip","description":"Get Twitch clip","parameters":[{"name":"url","in":"query","required":true,"description":"Twitch clip URL","schema":{"type":"string"},"example":"https://www.twitch.tv/staryuuki/clip/CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ?filter=clips&range=all&sort=time"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":[{"data":{"clip":{"id":"387484507","slug":"CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ","url":"https://clips.twitch.tv/CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ","embedURL":"https://clips.twitch.tv/embed?clip=CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ","title":"un grande el mesero","viewCount":52441,"language":"ES","isFeatured":true,"assets":[{"id":"AT-cm|W4NkMPhK87GGxO1Fr4AjEA","aspectRatio":1.7777777777777777,"type":"SOURCE","createdAt":"2024-03-30T21:52:12.134391826Z","creationState":"CREATED","curator":{"id":"192477639","login":"satagul_sy","displayName":"Satagul_SY","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/a7d1cf0c-6482-475c-a7ba-9fedf75f0149-profile_image-50x50.png","__typename":"User"},"thumbnailURL":"https://clips-media-assets2.twitch.tv/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA-preview-480x272.jpg","videoQualities":[{"frameRate":60.01382974851694,"quality":"1080","sourceURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4","__typename":"ClipVideoQuality"}],"portraitMetadata":null,"__typename":"ClipAsset"}],"curator":{"id":"192477639","login":"satagul_sy","displayName":"Satagul_SY","profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/a7d1cf0c-6482-475c-a7ba-9fedf75f0149-profile_image-70x70.png","__typename":"User"},"game":{"id":"509672","name":"IRL","boxArtURL":"https://static-cdn.jtvnw.net/ttv-boxart/509672-52x72.jpg","displayName":"IRL","slug":"irl","__typename":"Game"},"broadcast":{"id":"43930529883","title":null,"__typename":"Broadcast"},"broadcaster":{"id":"167189231","login":"staryuuki","displayName":"Staryuuki","primaryColorHex":"689AFF","isPartner":true,"profileImageURL":"https://static-cdn.jtvnw.net/jtv_user_pictures/b45a3305-bc42-41cc-a754-e6679a2d9ef0-profile_image-70x70.png","followers":{"totalCount":3450065,"__typename":"FollowerConnection"},"stream":null,"lastBroadcast":{"id":"314597248121","startedAt":"2025-01-23T06:52:10.179125Z","__typename":"Broadcast"},"self":null,"__typename":"User"},"thumbnailURL":"https://clips-media-assets2.twitch.tv/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA-preview-260x147.jpg","createdAt":"2024-03-30T21:52:12Z","isPublished":true,"durationSeconds":27,"champBadge":null,"playbackAccessToken":{"signature":"43c84d015eddd8ebc145f914824caa1c37ff6559","value":"{\"authorization\":{\"forbidden\":false,\"reason\":\"\"},\"clip_uri\":\"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4\",\"clip_slug\":\"CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ\",\"device_id\":\"gtd1TXg9937g0Ra59d6tJBe2f2vWobM7\",\"expires\":1737831991,\"user_id\":\"\",\"version\":2}","__typename":"PlaybackAccessToken"},"video":null,"videoOffsetSeconds":null,"videoQualities":[{"sourceURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4","__typename":"ClipVideoQuality"}],"isViewerEditRestricted":true,"suggestedCropping":null,"__typename":"Clip","videoURL":"https://production.assets.clips.twitchcdn.net/W4NkMPhK87GGxO1Fr4AjEA/AT-cm%7CW4NkMPhK87GGxO1Fr4AjEA.mp4?sig=43c84d015eddd8ebc145f914824caa1c37ff6559&token=%7B%22authorization%22%3A%7B%22forbidden%22%3Afalse%2C%22reason%22%3A%22%22%7D%2C%22clip_uri%22%3A%22https%3A%2F%2Fproduction.assets.clips.twitchcdn.net%2FW4NkMPhK87GGxO1Fr4AjEA%2FAT-cm%257CW4NkMPhK87GGxO1Fr4AjEA.mp4%22%2C%22clip_slug%22%3A%22CloudySavageMarjoramRuleFive--ErzsYbE7UWvgCMQ%22%2C%22device_id%22%3A%22gtd1TXg9937g0Ra59d6tJBe2f2vWobM7%22%2C%22expires%22%3A1737831991%2C%22user_id%22%3A%22%22%2C%22version%22%3A2%7D"}},"extensions":{"durationMilliseconds":87,"operationName":"ShareClipRenderStatus","requestID":"01JJD92A0J3G5ND9PWV2SSXCPC"}}]}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}