{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook Ad Library","description":"Scrapes the Facebook (Meta) Ad Library"}],"paths":{"/v1/facebook/adLibrary/search/ads":{"get":{"tags":["Facebook Ad Library"],"summary":"Search","description":"Search the Facebook (Meta) Ad Library By Keyword. This endpoint will tap out around 1,500 results, beacuse the cursor becomes too big for a GET request. If you need more results, call this endpoint as a POST, and pass the query params in the body.","parameters":[{"name":"query","in":"query","required":true,"description":"Keyword to search for","schema":{"type":"string"},"example":"running"},{"name":"sort_by","in":"query","required":false,"description":"Sort by impressions (high to low), or Most Recent (relevancy_monthly_grouped). Defaults to impressions.","schema":{"type":"string","enum":["total_impressions","relevancy_monthly_grouped"]},"example":"total_impressions"},{"name":"search_type","in":"query","required":false,"description":"If you want to search by exact phrase or not","schema":{"type":"string","enum":["keyword_unordered","keyword_exact_phrase"]},"example":"keyword_unordered"},{"name":"ad_type","in":"query","required":false,"description":"Search for all ads or only political and issue ads","schema":{"type":"string","enum":["all","political_and_issue_ads"]},"example":"all"},{"name":"country","in":"query","required":false,"description":"This can only be one country. It has to be the 2 letter code for the country. It defaults to ALL.","schema":{"type":"string"},"example":"ALL"},{"name":"status","in":"query","required":false,"description":"Status of the ad. Defaults to ACTIVE.","schema":{"type":"string","enum":["ALL","ACTIVE","INACTIVE"]},"example":"ACTIVE"},{"name":"media_type","in":"query","required":false,"description":"Media type of the ad. Defaults to ALL. Meme just means the ad has text and an image. No clue why they call it meme.","schema":{"type":"string","enum":["ALL","IMAGE","VIDEO","MEME","IMAGE_AND_MEME","NONE"]},"example":"ALL"},{"name":"start_date","in":"query","required":false,"description":"Impressions start date. Needs to be in YYYY-MM-DD format.","schema":{"type":"string"},"example":"2025-01-05"},{"name":"end_date","in":"query","required":false,"description":"Impressions end date. Needs to be in YYYY-MM-DD format.","schema":{"type":"string"},"example":"2025-02-16"},{"name":"cursor","in":"query","required":false,"description":"Cursor to paginate through results","schema":{"type":"string"},"example":"AQHRYLVDkoMkvGv7yK1rcce-vJmKiKv330R4v3j9KHSOaYvmF1bq1QkotG0rgW8Fkrj-"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"searchResults":[{"ad_archive_id":"1378176106734781","end_date":1747638000,"is_aaa_eligible":false,"is_active":true,"page_id":"119749581219299","page_name":"Makhumalo","political_countries":[],"reach_estimate":null,"snapshot":{"branded_content":null,"page_id":"119749581219299","page_is_deleted":false,"page_profile_uri":"https://www.facebook.com/61550737114480/","root_reshared_post":null,"byline":null,"disclaimer_label":null,"page_name":"Makhumalo","page_profile_picture_url":"https://scontent-sjc3-1.xx.fbcdn.net/v/t39.35426-6/499107970_2293645317822147_4932735414928456888_n.jpg?stp=dst-jpg_s60x60_tt6&_nc_cat=106&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=DBNo3Z6ft4AQ7kNvwESjMWN&_nc_oc=AdnZGvglABgVlSJ6UIGIbWgFeUL2LnoBSuMbBvti20zRjb_UUDRzhGxAZ0ip3ye1EQI&_nc_zt=14&_nc_ht=scontent-sjc3-1.xx&_nc_gid=49D7P4N6a4mVqUW8WdOxag&oh=00_AfMEXcKVf3KYJpFehTTToe8MXUZslTHE9P-xS2eyVCeGKA&oe=685A4903","body":{"text":"This is my second pair. I only take them off to go to sleep. I put them on first thing in the morning. I am 59 and have neuropathy in my feet, they bring me comfort every day.” -Lydia P.👍👍👍\n❤️These orthopedic shoes provide great comfort and ease foot and knee pain! 😍\n✅ Ideal for wide feet \n✅ comfortable \n✅ they are ideal for everyday life.\nGet Yours Now : https://www.ghemshop.com/products/buckled-square"},"is_reshared":false,"brazil_tax_id":null,"caption":"ghemshop.com","cards":[],"cta_text":"Shop now","cta_type":"SHOP_NOW","country_iso_code":null,"current_page_name":"Makhumalo","display_format":"IMAGE","event":null,"images":[{"original_image_url":"https://scontent-sjc3-1.xx.fbcdn.net/v/t39.35426-6/499507599_4016645891948767_4341363175504946673_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=3EJ6TbZR3GEQ7kNvwErfuF4&_nc_oc=AdkQPpJ9OYN_J3P5xTetGSb9FDCFZzfoLSj59Bbp6s-g5HGg-zTECrgOm8mjkJfk5JE&_nc_zt=14&_nc_ht=scontent-sjc3-1.xx&_nc_gid=49D7P4N6a4mVqUW8WdOxag&oh=00_AfMTuIozb2-VJgGP7NCIx0pG91b48CzMgm_1eT7STgBvew&oe=685A6906","resized_image_url":"https://scontent-sjc3-1.xx.fbcdn.net/v/t39.35426-6/499504336_1222720305887055_488411876974522066_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=104&ccb=1-7&_nc_sid=c53f8f&_nc_ohc=DYkDYH-EJrQQ7kNvwF-b_ov&_nc_oc=Adn2l2fDwHaN4h6W-OxxgoYkb0IUAeCpYH5bociuO_oxVL9L0wLg5vqnNfJa0ehQwqY&_nc_zt=14&_nc_ht=scontent-sjc3-1.xx&_nc_gid=49D7P4N6a4mVqUW8WdOxag&oh=00_AfNkQcMpUNFcM7tF1M5tAHmVwABzLx5QKUU8CFo69NP3Rg&oe=685A4518","watermarked_resized_image_url":"","image_crops":[]}],"link_description":"🔥Best Seller-Last Day Sale 60% OFF🔥 Buckled Square Heel Sandals for Women","link_url":"https://www.ghemshop.com/products/buckled-square","page_categories":["Musician"],"page_entity_type":"PERSON_PROFILE","page_is_profile_page":false,"page_like_count":7,"title":"🔥Best Seller-Last Day Sale 60% OFF🔥 Buckled Square Heel Sandals for Women","videos":[],"additional_info":null,"ec_certificates":[],"extra_images":[],"extra_links":[],"extra_texts":[],"extra_videos":[]},"total_active_time":null,"spend":null,"start_date":1747638000,"publisher_platform":["FACEBOOK"],"url":"https://www.facebook.com/ads/library?id=1378176106734781","start_date_string":"2025-05-19T07:00:00.000Z","end_date_string":"2025-05-19T07:00:00.000Z"}],"searchResultsCount":50001,"cursor":"AQHRLKHyzb3ZNTn1O3qr6lG7ncS9gfboI0HWGSDETVUnipTSXVY8E4Wb-568JBicOvYS"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}