{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok","description":"Scrape TikTok profiles, videos, and more"}],"paths":{"/v1/tiktok/songs/popular":{"get":{"tags":["TikTok"],"summary":"Get popular songs","description":"This endpoint can take up to 30 seconds. Get popular songs from TikTok. If you want to check out the page this is actually scraping, check out: https://ads.tiktok.com/business/creativecenter/inspiration/popular/music/pc/en","parameters":[{"name":"page","in":"query","required":false,"description":"Page number","schema":{"type":"number"},"example":1},{"name":"timePeriod","in":"query","required":false,"description":"Time period to get popular songs from","schema":{"type":"string","enum":[7,30,130]},"example":7},{"name":"rankType","in":"query","required":false,"description":"Get popular or surging songs","schema":{"type":"string","enum":["popular","surging"]},"example":"popular"},{"name":"newOnBoard","in":"query","required":false,"description":"New to top 100","schema":{"type":"boolean"}},{"name":"commercialMusic","in":"query","required":false,"description":"Approved for business use?","schema":{"type":"boolean"}},{"name":"countryCode","in":"query","required":false,"description":"Country code to get popular songs from","schema":{"type":"string","enum":["AR","AU","AT","BH","BD","BY","BE","BR","BG","KH","CA","CL","CO","HR","CZ","DK","EG","EE","FI","FR","DE","GR","HU","IS","ID","IQ","IE","IL","IT","JP","JO","KZ","KW","LV","LB","LT","LU","MO","MY","MX","MA","MM","NL","NZ","NG","NO","OM","PK","PE","PH","PL","PT","QA","RO","SA","SG","SK","ZA","KR","ES","SE","CH","TW","TH","TR","UA","AE","GB","US","UZ","VN"]},"example":"US"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"pagination":{"page":1,"size":20,"total":99,"has_more":true},"sound_list":[{"author":"Kendrick Lamar & SZA","clip_id":"7439295283975702544","country_code":"US","cover":"https://p16-sg.tiktokcdn.com/aweme/720x720/tos-alisg-v-2774/oAQAfe3r0KfAKAMDJpQVILIMTeGSVPAmreQznA.jpeg","duration":59,"if_cml":false,"is_search":false,"link":"https://www.tiktok.com/music/x-7439295283975702544","on_list_times":null,"promoted":false,"rank":1,"rank_diff":1,"rank_diff_type":1,"related_items":[{"item_id":7471072183498968000,"cover_uri":"https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068c799-us/okBHO2mfIziLmqiRAIBuSoi0RJK1AA6EjtlUIC~tplv-noop.image?x-expires=1739850666&x-signature=rSlo%2B3RvQP2glzGrGsq1zH0D5xc%3D"}],"song_id":"7440101671265486864","title":"luther","trend":[{"time":1739145600,"value":0.15}],"url_title":"luther"}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}