{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Truth Social","description":"As of 8/27/2025, Truth Social is only letting you view the public profile/posts of prominent users (like Trump and Vance), but requiring auth for everyone else. So sadly most other accounts will not work :("}],"paths":{"/v1/truthsocial/profile":{"get":{"tags":["Truth Social"],"summary":"Profile","description":"Get Truth Social profile info","parameters":[{"name":"handle","in":"query","required":true,"description":"Truth Social username","schema":{"type":"string"},"example":"realDonaldTrump"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"id":"107780257626128497","username":"realDonaldTrump","acct":"realDonaldTrump","display_name":"Donald J. Trump","locked":false,"bot":false,"discoverable":null,"group":false,"created_at":"2022-02-11T16:16:57.705Z","note":"<p></p>","url":"https://truthsocial.com/@realDonaldTrump","avatar":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/avatars/107/780/257/626/128/497/original/454286ac07a6f6e6.jpeg","avatar_static":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/avatars/107/780/257/626/128/497/original/454286ac07a6f6e6.jpeg","header":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/headers/107/780/257/626/128/497/original/ba3b910ba387bf4e.jpeg","header_static":"https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/headers/107/780/257/626/128/497/original/ba3b910ba387bf4e.jpeg","followers_count":9528475,"following_count":72,"statuses_count":26249,"last_status_at":"2025-04-10","verified":true,"location":"","website":"www.DonaldJTrump.com","accepting_messages":false,"chats_onboarded":true,"feeds_onboarded":true,"tv_onboarded":false,"bookmarks_onboarded":false,"show_nonmember_group_statuses":false,"pleroma":{"accepts_chat_messages":false},"tv_account":false,"receive_only_follow_mentions":false,"emojis":[],"fields":[]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}