{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok","description":"Scrape TikTok profiles, videos, and more"}],"paths":{"/v1/tiktok/user/following":{"get":{"tags":["TikTok"],"summary":"Following","description":"Scrapes accounts that a TikTok user follows","parameters":[{"name":"handle","in":"query","required":true,"description":"TikTok handle","schema":{"type":"string"},"example":"stoolpresidente"},{"name":"min_time","in":"query","required":false,"description":"Used to paginate. Get 'min_time' from previous response.","schema":{"type":"number"},"example":1605663376},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"followings":[{"create_time":1748628014,"follower_count":2175,"following_count":10,"language":"en","nickname":"Barstool Beach House","region":"US","sec_uid":"MS4wLjABAAAAbQK_EH0QRu1Wqk9mXsWvWW2dGpK1_LSiVdJx0oXtFCE_oOX8RIeGFfaYJQthUoaH","signature":"Coming in August","uid":"7510299285881160735","unique_id":"barstoolbeachhouse","avatar_medium":{"height":720,"uri":"tos-maliva-avt-0068/14f24ed9e7e1b1fc6764375b799c6ed7","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/14f24ed9e7e1b1fc6764375b799c6ed7~tplv-tiktokx-cropcenter-q:720:720:q70.heic?dr=9607&idc=no1a&ps=87d6e48a&refresh_token=a5540255&s=COMMON_RELATION_LIST&sc=avatar&shcp=65db1d19&shp=30310797&t=223449c4&x-expires=1750374000&x-signature=RDNAkREIu7HN1Tk8QeklmwFkSJY%3D"],"url_prefix":null,"width":720}}],"min_time":1734010829,"total":81}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}