{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"LinkedIn","description":"Scrape LinkedIn"}],"paths":{"/v1/linkedin/post":{"get":{"tags":["LinkedIn"],"summary":"Post","description":"Get a Linkedin post. This can be a post or an article.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn post to get","schema":{"type":"string"},"example":"https://www.linkedin.com/pulse/being-father-has-made-me-better-leader-vice-versa-austen-allred/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"url":"https://www.linkedin.com/pulse/being-father-has-made-me-better-leader-vice-versa-austen-allred","name":"Being a Father Has Made me a Better Leader, and Vice Versa","headline":"It's not all that unique to be a 26-year-old founder in Silicon Valley. What was far more surprising to people in 2017 when I joined the S17 Y Combinator cohort is that I already had a family of my own.","commentCount":17,"likeCount":210,"datePublished":"2020-06-21T14:35:59.000+00:00","description":"It's not all that unique to be a 26-year-old founder in Silicon Valley. What was far more surprising to people in 2017 when I joined the S17 Y Combinator cohort is that I already had a family of my own. ....","author":{"name":"Austen Allred","url":"https://www.linkedin.com/in/austenallred","followers":30863},"comments":[{"author":"Jeremy M.","text":"Austen, thanks for sharing!","linkedinUrl":"https://uk.linkedin.com/in/jeremymurray"}],"moreArticles":[{"link":"https://www.linkedin.com/pulse/note-outcomes-data-lambda-school-austen-allred","title":"A Note About Outcomes Data at Lambda School","datePublished":"Feb 24, 2020","description":"Due to some recent online media, there’s been some confusion recently about student outcomes at Lambda School - which…","reactionCount":168,"commentCount":15}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}