{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Pinterest","description":"Scrape Pinterest pins"}],"paths":{"/v1/pinterest/pin":{"get":{"tags":["Pinterest"],"summary":"Pin","description":"Get Pinterest pin","parameters":[{"name":"url","in":"query","required":true,"description":"Pinterest pin URL","schema":{"type":"string"},"example":"https://www.pinterest.com/pin/1124351863225567517/"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"entityId":"36662184461578355","seoAltText":"a small brown dog sitting in the back seat of a car with its head hanging out","originPinner":{"entityId":"1144125617743372495","id":"VXNlcjoxMTQ0MTI1NjE3NzQzMzcyNDk1","username":"Chloe_hi15","imageMediumUrl":"https://i.pinimg.com/75x75_RS/90/99/6f/90996f6eac9c9fd4836fba948699fd28.jpg","blockedByMe":false,"explicitlyFollowedByMe":false,"followerCount":55,"fullName":"Chloe Marie Monroe","imageLargeUrl":"https://i.pinimg.com/140x140_RS/90/99/6f/90996f6eac9c9fd4836fba948699fd28.jpg","imageSmallUrl":"https://i.pinimg.com/30x30_RS/90/99/6f/90996f6eac9c9fd4836fba948699fd28.jpg","isVerifiedMerchant":false,"verifiedIdentity":{"verified":null}},"pinner":{"blockedByMe":false,"id":"VXNlcjozNjY2MjMyMTg3NDk5NjcxNQ==","entityId":"36662321874996715","__typename":"User","fullName":"Crystal Catlett","imageSmallUrl":"https://i.pinimg.com/30x30_RS/51/76/82/5176824c31aaeec633f0f09bf1ca12e4.jpg","imageLargeUrl":"https://i.pinimg.com/140x140_RS/51/76/82/5176824c31aaeec633f0f09bf1ca12e4.jpg","explicitlyFollowedByMe":false,"username":"cc1025","imageMediumUrl":"https://i.pinimg.com/75x75_RS/51/76/82/5176824c31aaeec633f0f09bf1ca12e4.jpg","firstName":"Crystal","followerCount":347,"isVerifiedMerchant":false,"verifiedIdentity":{"verified":null}},"imageSpec_orig":{"url":"https://i.pinimg.com/originals/71/5c/5d/715c5d48feb038e16f48a28e6f8ca1f3.jpg"},"description":" ","shareCount":0,"nativeCreator":null,"createdAt":"Mon, 09 Jun 2025 04:04:22 +0000","repinCount":88,"totalReactionCount":88}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}