{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook","description":"Get public Facebook profiles and posts"}],"paths":{"/v1/facebook/group/posts":{"get":{"tags":["Facebook"],"summary":"Facebook Group Posts","description":"Get a public Facebook groups posts. Only can get 3 posts at a time :( (Facebook API limit)","parameters":[{"name":"url","in":"query","required":false,"description":"The URL of the group","schema":{"type":"string"},"example":"https://www.facebook.com/groups/1270525996445602/"},{"name":"group_id","in":"query","required":false,"description":"The ID of the group","schema":{"type":"string"},"example":"742354120555345"},{"name":"sort_by","in":"query","required":false,"description":"How to sort the posts","schema":{"type":"string","enum":["TOP_POSTS","RECENT_ACTIVITY","CHRONOLOGICAL","CHRONOLOGICAL_LISTINGS"]},"example":"TOP_POSTS"},{"name":"cursor","in":"query","required":false,"description":"The cursor to paginate to the next page","schema":{"type":"string"},"example":"AQHRBjJCelNvdGRjH8s2j-6..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"1286289372828481","text":null,"url":"https://www.facebook.com/groups/742354120555345/permalink/1286289372828481/","permalink":"https://www.facebook.com/sofiyati.942655/videos/996458202287759/?idorvanity=742354120555345","author":{"__typename":"User","name":"Sofiyati","short_name":"Sofiyati","id":"61552766652796"},"reactionCount":198,"commentCount":100,"videoViewCount":null,"publishTime":1748639389,"videoDetails":{"sdUrl":"https://video-sea1-1.xx.fbcdn.net/o1/v/t2/f2/m69/AQO0_B24bEmILx4bmOfr_cQA5BgXwF9DMHJYAkUfQJAmuMGLV9PAc9-TrNen27lHJjr45pVm0ufFCcTJBCeFIr_s.mp4?strext=1&_nc_cat=111&_nc_sid=8bf8fe&_nc_ht=video-sea1-1.xx.fbcdn.net&_nc_ohc=paW12HBCn0EQ7kNvwFwJnXg&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzNlLjY0MC5zdmVfc2QiLCJ4cHZfYXNzZXRfaWQiOjEwNjkzNDUwMjg0MTg4MjYsInZpX3VzZWNhc2VfaWQiOjEwMTIxLCJkdXJhdGlvbl9zIjoxNSwidXJsZ2VuX3NvdXJjZSI6Ind3dyJ9&ccb=17-1&_nc_zt=28&oh=00_AfJNS34mvDAkIbtvP8o2nMuYrJ66ZeyCB1zQRlsD8sajow&oe=684150C7","hdUrl":"https://video-sea1-1.xx.fbcdn.net/o1/v/t2/f2/m69/AQM3UoTI5n6N2jVgKeUXSMPnqwAEQFHNGM9dejk3EV-MyBXNUcHlWtvYgUU2cD672EkWw5UAYZ3jJLXQiFdOvQh7.mp4?strext=1&_nc_cat=102&_nc_sid=5e9851&_nc_ht=video-sea1-1.xx.fbcdn.net&_nc_ohc=kSrgWXZVr9IQ7kNvwE16oSK&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5GQUNFQk9PSy4uQzNlLjEyODAuZGFzaF9oMjY0LWJhc2ljLWdlbjJfNzIwcCIsInhwdl9hc3NldF9pZCI6MTA2OTM0NTAyODQxODgyNiwidmlfdXNlY2FzZV9pZCI6MTAxMjEsImR1cmF0aW9uX3MiOjE1LCJ1cmxnZW5fc291cmNlIjoid3d3In0%3D&ccb=17-1&vs=67dd4c5fe90b11c5&_nc_vs=HBksFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HRUlZOHgwUVZ4azVjSHdIQUNGeU9XTzlQTzlXYm1kakFBQUYVAALIARIAFQIYOnBhc3N0aHJvdWdoX2V2ZXJzdG9yZS9HQ1V3OFIySHNmZWZhbUVFQUNZbmdLUlBMSzU4YnJGcUFBQUYVAgLIARIAKAAYABsCiAd1c2Vfb2lsATEScHJvZ3Jlc3NpdmVfcmVjaXBlATEVAAAmlLT9qImk5gMVAigDQzNlLBdALkQYk3S8ahgZZGFzaF9oMjY0LWJhc2ljLWdlbjJfNzIwcBEAdQJlkp4BAA&_nc_zt=28&oh=00_AfJKQedBwUVhnjLuJgGuJ7E1TXLk0vib17T3YkAmJUPb8w&oe=68414B6C","thumbnailUrl":"https://scontent-sea1-1.xx.fbcdn.net/v/t15.5256-10/502130835_1399930867890626_4491393707187246303_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=100&ccb=1-7&_nc_sid=50ce42&_nc_ohc=l5JdWBSutswQ7kNvwFHAOSM&_nc_oc=Adm5GttPwjsWvVb_d8d7buJHGnqW6FNHHuRyi2n0UmFWsS7KDF2bg4bo_0uXYI8Uxh0&_nc_zt=23&_nc_ht=scontent-sea1-1.xx&_nc_gid=BIqW4GLH6GWa7rMa2JiKFA&oh=00_AfKO58NMsMKO_OXEVSw8A1BNbt0xSVognLfCBKxypc5etw&oe=684150FC"},"topComments":[{"id":"Y29tbWVudDoxMjg2Mjg5MzcyODI4NDgxXzEyODY1MTY1MjYxMzkwOTk=","text":"I can find thousands of videos with the same exact trend. And we all know what I’m referring to 🤭","publishTime":1748666375,"author":{"id":"pfbid0haqAQZCvs4cTVyfGwxCGPidvLYRNhFiboXkCH45LmPLAF1oQ7kJxaVig19KT8nZvl","name":"Trent Slushy","gender":"MALE","url":null}}]}],"cursor":"AQHRBjJCelNvdGRjH8s2j-...."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}