{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook","description":"Get public Facebook profiles and posts"}],"paths":{"/v1/facebook/profile":{"get":{"tags":["Facebook"],"summary":"Profile","description":"Get public Facebook profile information","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook profile URL","schema":{"type":"string"},"example":"https://www.facebook.com/mantraindianfolsom"},{"name":"get_business_hours","in":"query","required":false,"description":"Get the business's hours","schema":{"type":"string"},"example":"true"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":8999083,"adLibrary":{"adStatus":"This Page is currently running ads.","pageId":"104359362513119"},"creationDate":"November 25, 2022","businessHours":[{"monday":{"open":null,"close":null,"intervals":[],"fullText":"CLOSED"}}],"id":"100088017857524","name":"Mantraindian","url":"https://www.facebook.com/mantraindianfolsom","gender":"UNKNOWN","coverPhoto":{"focus":{"x":0.5,"y":0},"photo":{"id":"204402652503662","image":{"uri":"https://scontent.fist7-1.fna.fbcdn.net/v/t39.30808-6/477575273_596577106619546_7712360987777031655_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=hroqQOZECdYQ7kNvwHW0J5L&_nc_oc=Adk2HkBhLO3HlnqMEN512H6bOO8kWLs9n2qaiqPc4ZLz5-wi2uBfzqlepnfKhx2hhhM&_nc_zt=23&_nc_ht=scontent.fist7-1.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_AflZ2sbTeyQC-owdG-cOBdq99WVZuYH0HKLsj13NJ_UOPw&oe=6934FD62","width":960,"height":365},"viewer_image":{"height":780,"width":2050},"blurred_image":{"uri":"https://scontent.fist7-1.fna.fbcdn.net/v/t39.30808-6/477575273_596577106619546_7712360987777031655_n.jpg?stp=dst-jpg_fb50_s320x320_tt6&_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=hroqQOZECdYQ7kNvwHW0J5L&_nc_oc=Adk2HkBhLO3HlnqMEN512H6bOO8kWLs9n2qaiqPc4ZLz5-wi2uBfzqlepnfKhx2hhhM&_nc_zt=23&_nc_ht=scontent.fist7-1.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_Afn0vRutoAnfxCkPeQ0UNfSocrQwMLU8RATTjTchjbR90g&oe=6934FD62","width":320,"height":122},"url":"https://www.facebook.com/photo/?fbid=204402652503662&set=a.113593838251211"}},"isBusinessPageActive":false,"profilePhoto":{"url":"https://www.facebook.com/photo/?fbid=152234581053803&set=a.107432348867360","viewer_image":{"height":2000,"width":2000},"id":"152234581053803"},"profilePicLarge":"https://scontent.fist20-2.fna.fbcdn.net/v/t39.30808-1/331711173_3408886226056104_241444658713195527_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=110&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=eQc1mF5YvQ8Q7kNvwFj3Nmh&_nc_oc=AdlpRt4MVt6MwM7loElnrHIChk-vaLz0fxxzMR70TNaQBST-bDibHAZNHPFldgXd1go&_nc_zt=24&_nc_ht=scontent.fist20-2.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_AflOlRBe-OV2xNqafE-cb2i0qvJfJ1yB21EebLXS_LKbQw&oe=693512A2","profilePicMedium":"https://scontent.fist20-2.fna.fbcdn.net/v/t39.30808-1/331711173_3408886226056104_241444658713195527_n.jpg?stp=dst-jpg_s148x148_tt6&_nc_cat=110&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=eQc1mF5YvQ8Q7kNvwFj3Nmh&_nc_oc=AdlpRt4MVt6MwM7loElnrHIChk-vaLz0fxxzMR70TNaQBST-bDibHAZNHPFldgXd1go&_nc_zt=24&_nc_ht=scontent.fist20-2.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_Afl-VZWFU-_9jnKbqC0-2y--wYgnEAyFxIrSDSRl98Azkg&oe=693512A2","profilePicSmall":"https://scontent.fist20-2.fna.fbcdn.net/v/t39.30808-1/331711173_3408886226056104_241444658713195527_n.jpg?stp=dst-jpg_s100x100_tt6&_nc_cat=110&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=eQc1mF5YvQ8Q7kNvwFj3Nmh&_nc_oc=AdlpRt4MVt6MwM7loElnrHIChk-vaLz0fxxzMR70TNaQBST-bDibHAZNHPFldgXd1go&_nc_zt=24&_nc_ht=scontent.fist20-2.fna&_nc_gid=-tZvZl1NES4sMXJo89jIig&oh=00_AflavCQJIlrYTApZzkUMv1dDuld8v9j1ApqTtJkQrF32kQ&oe=693512A2","pageIntro":"Indian Vegan & Vegetarian Restaurant","category":"Restaurant","address":"1870 Prairie City Rd, Suite 500, Folsom, CA, United States, California","email":"contact@mantraindian.com","links":[],"phone":"+1 916-999-1749","website":"https://www.mantraindian.com/","services":"Delivery · Takeaway · Dine in…","priceRange":"$$","rating":"Not yet rated (1 review)","ratingCount":null,"likeCount":3224,"followerCount":3200}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}