{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/playlist":{"get":{"tags":["YouTube"],"summary":"Playlist","description":"Get the videos of a YouTube playlist","parameters":[{"name":"playlist_id","in":"query","required":true,"description":"The ID of the YouTube playlist. In the YouTube URL it will be the 'list' parameter.","schema":{"type":"string"},"example":"PLP32wGpgzmIlInfgKVFfCwVsxgGqZNIiS"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":99404,"title":"Songs with Lyrics 2025 - New Songs 2025 - Music 2025 New Songs","owner":{"id":"UC0-wiBH12UgtWqLjo-EvpOw","name":"Lovely Tunes","url":"https://www.youtube.com/@lovelytunes7622","handle":"lovelytunes7622"},"totalVideos":98,"videos":[{"id":"AdBzzpq3xV4","title":"Lady Gaga, Bruno Mars - Die With A Smile","thumbnail":"https://i.ytimg.com/vi/AdBzzpq3xV4/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLABnTkQJmfW0s1BMl_qa0FGqIGGqw","url":"https://www.youtube.com/watch?v=AdBzzpq3xV4","lengthText":"4:15","lengthSeconds":255,"channel":{"title":"LatinHype","url":"https://www.youtube.com/@LatinHype."}}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}