{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok","description":"Scrape TikTok profiles, videos, and more"}],"paths":{"/v1/tiktok/video/comments":{"get":{"tags":["TikTok"],"summary":"Comments","description":"Scrapes comments from a TikTok video","parameters":[{"name":"url","in":"query","required":true,"description":"TikTok video URL","schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more comments. Get 'cursor' from previous response.","schema":{"type":"number"},"example":20},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"comments":[{"aweme_id":"7517114944362499342","text":"DAVE BUY A TEAM","user":{"account_labels":null,"ad_cover_url":null,"advance_feature_item_order":null,"advanced_feature_info":null,"avatar_thumb":{"uri":"tos-useast5-avt-0068-tx/446370164449562d1008889225530f6d","url_list":["https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/446370164449562d1008889225530f6d~tplv-tiktokx-cropcenter:100:100.jpg?dr=9640&refresh_token=662e5e49&x-expires=1750374000&x-signature=a6DJxD8%2BkNeZRm7Sfpjc55T8mhE%3D&t=4d5b0474&ps=13740610&shp=30310797&shcp=ff37627b&idc=useast5"],"url_prefix":null},"bold_fields":null,"can_message_follow_status_list":null,"can_set_geofencing":null,"cha_list":null,"cover_url":null,"custom_verify":"","enterprise_verify_reason":"","events":null,"followers_detail":null,"geofencing":null,"homepage_bottom_toast":null,"item_list":null,"mutual_relation_avatars":null,"need_points":null,"nickname":"Robert Lessner","platform_sync_info":null,"relative_users":null,"search_highlight":null,"sec_uid":"MS4wLjABAAAA9rB4k_Ei3NexA5p2lb8naaa4LTgNCOdY0W9NHVo63016XkdsuZgvjkgolBnUkG8W","shield_edit_field_info":null,"type_label":null,"uid":"6958917445306926086","unique_id":"dimebag.duster","user_profile_guide":null,"user_tags":null,"white_cover_url":null},"create_time":1750216932,"reply_comment_total":14,"digg_count":3322,"comment_language":"en"}],"cursor":20,"total":1114}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}