{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Pinterest","description":"Scrape Pinterest pins"}],"paths":{"/v1/pinterest/user/boards":{"get":{"tags":["Pinterest"],"summary":"User Boards","description":"Get a user's boards","parameters":[{"name":"handle","in":"query","required":true,"description":"The username of the user to get boards for. (e.g. broadstbullycom from https://www.pinterest.com/broadstbullycom/)","schema":{"type":"string"},"example":"broadstbullycom"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"boards":[{"id":"549580029467577434","url":"https://www.pinterest.com/sharat24k/turkey-recipes/","description":"","follower_count":292,"pin_count":545,"name":"Turkey Recipes","image_cover_hd_url":"https://i.pinimg.com/474x/45/00/df/4500dfc5bc8bbc15137ff9d9abf04cc1.jpg","created_at":"Mon, 17 Feb 2025 02:19:26 +0000"}],"cursor":"LT41NDk1ODAwMjk0Njc1Njc1O...."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}