{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/search":{"get":{"tags":["YouTube"],"summary":"Search","description":"Search YouTube and get matching videos, channels, playlists, shorts, lives, etc. Video explaining the response format: https://www.tella.tv/video/explaining-youtube-search-results-payload-353a","parameters":[{"name":"query","in":"query","required":true,"description":"Search query","schema":{"type":"string"}},{"name":"uploadDate","in":"query","required":false,"description":"Upload date","schema":{"type":"string","enum":["today","this_week","this_month","this_year"]}},{"name":"sortBy","in":"query","required":false,"description":"Sort by","schema":{"type":"string","enum":["relevance","popular"]},"example":"relevance"},{"name":"filter","in":"query","required":false,"description":"Filter by these options. Note this doesn't work when you use either 'uploadDate' or 'sortBy'. It basically only works when you have a query.","schema":{"type":"string","enum":["shorts"]},"example":"all"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"includeExtras","in":"query","required":false,"description":"This will get you the like + comment count and the description. To get the full details of the video, use the /v1/youtube/video endpoint. *This will slow down the response slightly.*","schema":{"type":"string"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"videos":[{"type":"video","id":"BzSzwqb-OEE","url":"https://www.youtube.com/watch?v=BzSzwqb-OEE","title":"NF - RUNNING (Audio)","thumbnail":"https://i.ytimg.com/vi/BzSzwqb-OEE/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCasEKav1CLqeSSE2IYDqjGiIMBGw","channel":{"id":"UCoRR6OLuIZ2-5VxtnQIaN2w","title":"NFrealmusic","handle":"channel/UCoRR6OLuIZ2-5VxtnQIaN2w","thumbnail":"https://yt3.ggpht.com/J1_Si0TYNZ-991v09y8RpCh4_Z_ALwKmPgMYnJqjNhoglVtipf3oEN8LpzG1kS0qsv8Jptpmmg=s88-c-k-c0x00ffffff-no-rj"},"viewCountText":"14,860,541 views","viewCountInt":14860541,"publishedTimeText":"2 years ago","publishedTime":"2023-05-28T17:08:46.499Z","lengthText":"4:14","lengthSeconds":254,"badges":[]}],"channels":[],"playlists":[],"shorts":[{"type":"short","id":"uMNvF-lSCHg","url":"https://www.youtube.com/watch?v=uMNvF-lSCHg","title":"LONG RUN ROUTINE #run #runvlog #runner #shorts #morning","thumbnail":"https://i.ytimg.com/vi/uMNvF-lSCHg/hq720.jpg?sqp=-oaymwFBCNAFEJQDSFryq4qpAzMIARUAAIhCGADYAQHiAQoIGBACGAY4AUAB8AEB-AG2CIACgA-KAgwIABABGFsgXyhlMA8=&rs=AOn4CLA_P-5ExEn9EGLJDNeJedsxb3k1eQ","channel":{"id":"UCGRdcRxpJWi5Q2oDCrMDUuQ","title":"Abby and Ryan","handle":"abbyandryan","thumbnail":"https://yt3.ggpht.com/8UdUEesepx1Ry_rFUPJOJgndTCKno9VTkSysnuJpFjMj63N6av0pNwnqoiKh_7PN2dw7PGIp=s68-c-k-c0x00ffffff-no-rj"},"viewCountText":"462,705 views","viewCountInt":462705,"publishedTimeText":"10 months ago","publishedTime":"2024-07-28T17:08:46.498Z","lengthText":"0:44","lengthSeconds":44,"badges":[]}],"shelves":[{"type":"shelf","title":"Shorts","items":[{"type":"short","id":"LLBR5nO05tE","url":"https://www.youtube.com/watch?v=LLBR5nO05tE","title":"running through walls gone wrong","thumbnail":"https://i.ytimg.com/vi/LLBR5nO05tE/oardefault.jpg?sqp=-oaymwEoCJUDENAFSFqQAgHyq4qpAxcIARUAAIhC2AEB4gEKCBgQAhgGOAFAAQ==&rs=AOn4CLCYYIIDmBllgkLP68AjVs25UpyevQ","viewCountText":"750K","viewCountInt":750000}]}],"lives":[],"continuationToken":"EooDEg..."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}