{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Reddit","description":"Scrape Reddit posts and comments"}],"paths":{"/v1/reddit/ad":{"get":{"tags":["Reddit"],"summary":"Get Ad","description":"Get a specific ad by id","parameters":[{"name":"id","in":"query","required":true,"description":"Ad id","schema":{"type":"string"},"example":"79e005f1e09ec72245e904d87d2a0869"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"data":{"analysis_summary":{"headline":["Direct Question/Engagement: The headline poses a direct question to the reader. This is highly effective on Reddit as it immediately invites user participation and sparks curiosity. It encourages users to think about the topic and potentially share their own experiences or insights in the comments, aligning with Reddit's interactive and discussion-focused nature. This direct engagement fosters a sense of community and encourages users to click to find out more or participate in the conversation."],"media":[]},"inspiration_creative":{"id":"79e005f1e09ec72245e904d87d2a0869","budget_category":"HIGH","industry":"OTHER","placements":["FEED"],"objective":"CONVERSIONS","creative":{"id":"t3_1cdt7o6","type":"TEXT","content":[{"destination_url":null,"display_url":"self.thepennyhoarder","call_to_action":null,"media_url":null}],"headline":"What is a rich person’s money tip you wish you knew sooner?","body":"Life would be a whole lot easier if someone would just Venmo us $1 million, but unfortunately the chance of that happening is, well, probably zero.","thumbnail_url":"https://b.thumbs.redditmedia.com/9gzdjvf9fDu1vN2zxxVrvGqOJizhLf80W701zzkml2k.jpg","allow_comments":false,"created_at":"2024-04-26T18:47:57+00:00","profile_id":"t2_3usby","post_url":"https://www.reddit.com/r/u_thepennyhoarder/comments/1cdt7o6/what_is_a_rich_persons_money_tip_you_wish_you/"},"profile_info":{"name":"u_thepennyhoarder","snoovatar_icon_url":"https://www.redditstatic.com/avatars/defaults/v2/avatar_default_6.png"}}}}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}