{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok Shop","description":"Everything about TikTok Shop"}],"paths":{"/v1/tiktok/shop/product/reviews":{"get":{"tags":["TikTok Shop"],"summary":"Product Reviews","description":"Get a product's reviews","parameters":[{"name":"url","in":"query","required":false,"description":"The URL of the product (required if product_id is not provided)","schema":{"type":"string"},"example":"https://www.tiktok.com/shop/pdp/cat-nail-clipper-by-potaroma-adjustable-sizes-built-in-file-safe-for-kittens-cats/1731578642912612516"},{"name":"product_id","in":"query","required":false,"description":"The ID of the product (required if url is not provided)","schema":{"type":"string"},"example":"1731578642912612516"},{"name":"page","in":"query","required":false,"description":"The page number of the reviews","schema":{"type":"number"},"example":"1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":33701168,"has_more":true,"total_reviews":"5967","product_reviews":[{"review_id":"7449648277383333678","product_id":"1729412793274503379","sku_id":"1729480195115684051","reviewer_id":"7118466497416561707","review_rating":4,"review_time":"1734506431877","is_verified_purchase":true,"is_incentivized_review":false,"product_name":"OLOV Beard/Hair Shaver for Men - All-in-One Mens Grooming Kit with Trimmer for Beard, Nose, face, Cordless Hair Clippers Electric Razor, Black Comfort","reviewer_name":"W**n","reviewer_avatar_url":"https://p16-common-sign.tiktokcdn-us.com/tos-useast8-avt-0068-tx2/8a5ef54ee47fd27614d4d576879cd630~tplv-tiktokx-cropcenter:100:100.jpg?dr=9640&refresh_token=6e5d3b6e&x-expires=1771009200&x-signature=1HE0d6u3ZL2NY%2FWG88r8zUltKS4%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=5f8d3399&idc=useast5","review_text":"Product arrived intact no issues. Love all the attachments. Cuts very very well. Charges quick and efficiently. The only reason I gave a 4 was listening to the reels it’s supposed to be nip free. That was a lie, I nipped my balls and that’s not fun. I took pics other than that great product.","display_image_url":"https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-tx/c9460bee85df472a8455f33df693cb8d~tplv-fhlh96nyum-crop-webp:300:300.webp?dr=12190&t=555f072d&ps=933b5bde&shp=8dbd94bf&shcp=607f11de&idc=useast5&from=2378011839","review_images":["https://p16-oec-general-useast5.ttcdn-us.com/tos-useast5-i-omjb5zjo8w-tx/c9460bee85df472a8455f33df693cb8d~tplv-fhlh96nyum-crop-webp:300:300.webp?dr=12190&t=555f072d&ps=933b5bde&shp=8dbd94bf&shcp=607f11de&idc=useast5&from=2378011839"],"sku_specification":"Black","review_country":"US"}],"review_ratings":{"review_count":"5967","overall_score":4.4,"rating_result":{"1":"475","2":"161","3":"289","4":"740","5":"4302"}}}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}