{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook Ad Library","description":"Scrapes the Facebook (Meta) Ad Library"}],"paths":{"/v1/facebook/adLibrary/search/companies":{"get":{"tags":["Facebook Ad Library"],"summary":"Search for Companies","description":"Search for companies by name and get their ad library page id","parameters":[{"name":"query","in":"query","required":true,"description":"Keyword to search for","schema":{"type":"string"},"example":"nike"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"searchResults":[{"page_id":"51212153078","category":"Product/service","image_uri":"https://scontent.ford4-1.fna.fbcdn.net/v/t39.30808-1/387181570_863325755161415_3589774989337788111_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=103&ccb=1-7&_nc_sid=418b77&_nc_ohc=SzL6LoxpjrMQ7kNvgF5Uyy3&_nc_oc=AdgIflwSC-gA-77yFJHPKOC1dEGUI7YqvKYkmll9n5n8BcvLzRKToufpLG-068BnjE4&_nc_zt=24&_nc_ht=scontent.ford4-1.fna&_nc_gid=AYuU655BQ_HFcmz-fz9agWZ&oh=00_AYDD0ELO2MQikn7TBtxiTe7n64HX6iKiI5ofiI86BQ_jYw&oe=67CAC605","likes":41136495,"verification":"BLUE_VERIFIED","name":"Nike Football","country":null,"entity_type":"PERSON_PROFILE","ig_username":"nikefootball","ig_followers":46451228,"ig_verification":true,"page_alias":"nikefootball","page_is_deleted":false}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}