{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/search/hashtag":{"get":{"tags":["YouTube"],"summary":"Search by Hashtag","description":"Search YouTube and get matching videos, channels, and playlists","parameters":[{"name":"hashtag","in":"query","required":true,"description":"Hashtag to search for","schema":{"type":"string"},"example":"funny"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"type","in":"query","required":false,"description":"Search for all types of content or only shorts","schema":{"type":"string","enum":["all","shorts"]},"example":"all"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"videos":[{"type":"video","id":"jXMISgQq9MM","url":"https://www.youtube.com/watch?v=jXMISgQq9MM","title":"Epic fails 🤣🤣🤣 #shorts #funny #fails","description":"","thumbnail":"https://i.ytimg.com/vi/jXMISgQq9MM/hqdefault.jpg?sqp=-oaymwFBCNACELwBSFryq4qpAzMIARUAAIhCGADYAQHiAQoIGBACGAY4AUAB8AEB-AG2CIACgA-KAgwIABABGGUgXyhVMA8=&rs=AOn4CLC1HXfxzLayoVBdicS5DIUQh9zGcQ","channel":{"id":"UCvUzWu1Whyw1FWuLl9GOo_g","title":"ZZang Funny","thumbnail":"https://yt3.ggpht.com/rcZKcfewHTzkauGknat3NeC53rGBofYDbL8AjFkwvsk2fXzM1clht7OTn9-1IIPnmbeZkrNGdxI=s68-c-k-c0x00ffffff-no-rj"},"viewCountText":"22,668,056 views","viewCountInt":22668056,"publishedTimeText":"4 weeks ago","publishedTime":"2025-01-04T23:12:42.919Z","lengthText":"1:00","lengthSeconds":60,"badges":[]}],"continuationToken":"4qmFsgLtBRIJRkVoYX...."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}