{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok","description":"Scrape TikTok profiles, videos, and more"}],"paths":{"/v1/tiktok/user/followers":{"get":{"tags":["TikTok"],"summary":"Followers","description":"Scrapes followers of a TikTok account","parameters":[{"name":"handle","in":"query","required":false,"description":"TikTok handle","schema":{"type":"string"},"example":"stoolpresidente"},{"name":"user_id","in":"query","required":false,"description":"User id. Use this for faster response times.","schema":{"type":"string"},"example":"6659752019493208069"},{"name":"min_time","in":"query","required":false,"description":"Used to paginate. Get 'min_time' from previous response.","schema":{"type":"number"},"example":1605663376},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"followers":[{"create_time":1585489718,"follower_count":319,"following_count":1375,"language":"en","nickname":"Kelsey Levens Haskin","region":"US","sec_uid":"MS4wLjABAAAAG-DXjA9PmiU6daPQzr9ux9Xr8EQ_SU_STIlWxqs2huXTZR94IdbY2kpoGhiSzAxn","signature":"","uid":"6802639142851609605","unique_id":"klh723","avatar_medium":{"height":720,"uri":"tos-maliva-avt-0068/7324817662562402310","url_list":["https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7324817662562402310~tplv-tiktokx-cropcenter-q:720:720:q70.heic?dr=9607&idc=no1a&ps=87d6e48a&refresh_token=ae851b19&s=COMMON_RELATION_LIST&sc=avatar&shcp=65db1d19&shp=30310797&t=223449c4&x-expires=1750374000&x-signature=VOyI618znRkoyH0BRwF3FLvnKKY%3D"],"url_prefix":null,"width":720}}],"min_time":1750289478,"total":4424847}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}