{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Reddit","description":"Scrape Reddit posts and comments"}],"paths":{"/v1/reddit/subreddit":{"get":{"tags":["Reddit"],"summary":"Subreddit Posts","description":"Get recent posts from a subreddit with engagement metrics","parameters":[{"name":"subreddit","in":"query","required":true,"description":"Subreddit name","schema":{"type":"string"}},{"name":"timeframe","in":"query","required":false,"description":"Timeframe to get posts from","schema":{"type":"string","enum":["all","day","week","month","year"]}},{"name":"sort","in":"query","required":false,"description":"Sort order","schema":{"type":"string","enum":["best","hot","new","top","rising"]}},{"name":"after","in":"query","required":false,"description":"After to get more posts. Get 'after' from previous response.","schema":{"type":"string"},"example":"t3_1234567890"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"posts":[{"id":"1lfbo7u","author":"Vetro_Nodulare2","author_fullname":"t2_16syu27ar1","subreddit":"AskReddit","title":"What is a thing you love that lots of people hate?","downs":0,"name":"t3_1lfbo7u","upvote_ratio":0.9,"ups":45,"total_awards_received":0,"score":45,"created":1750341959,"num_comments":349,"url":"https://www.reddit.com/r/AskReddit/comments/1lfbo7u/what_is_a_thing_you_love_that_lots_of_people_hate/","subreddit_subscribers":56146328,"is_video":false,"created_utc":1750341959}],"after":"t3_1lfogps"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}