{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok","description":"Scrape TikTok profiles, videos, and more"}],"paths":{"/v1/tiktok/user/live":{"get":{"tags":["TikTok"],"summary":"TikTok Live","description":"Scrapes a TikTok user's live stream","parameters":[{"name":"handle","in":"query","required":true,"description":"TikTok handle","schema":{"type":"string"},"example":"thejustalex"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"liveRoomUserInfo":{"avatarLarger":"https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast5-avt-0068-tx/b169e9223700dc8d20d327510eb47f94~tplv-tiktokx-cropcenter:1080:1080.webp?dr=9640&refresh_token=c39a7259&x-expires=1751918400&x-signature=2Q%2F13wVO%2F%2F5OFBDinwMuULyBINc%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=fdd36af4&idc=useast5","avatarMedium":"https://p16-pu-sign-useast8.tiktokcdn-us.com/tos-useast5-avt-0068-tx/b169e9223700dc8d20d327510eb47f94~tplv-tiktokx-cropcenter:720:720.webp?dr=9640&refresh_token=7da1901a&x-expires=1751918400&x-signature=WDVM4wsOBsWKV04aQNYqBRnllxQ%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=fdd36af4&idc=useast5","avatarThumb":"https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast5-avt-0068-tx/b169e9223700dc8d20d327510eb47f94~tplv-tiktokx-cropcenter:100:100.webp?dr=9640&refresh_token=baf34a19&x-expires=1751918400&x-signature=fWClWNGmv23Nggnk7gE17yC3D78%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=5be10d83&idc=useast5","id":"6742945285876515845","nickname":"JustAlex","secUid":"MS4wLjABAAAA3_8rhYkKsHyYO45EzOF7RBQJRs1EaHBqHFtYIaz3aka44bMVgCLONvFaXPkddJei","secret":false,"uniqueId":"thejustalex","verified":false,"roomId":"7523685855395842871","signature":"🔴LIVE EVERYDAY🔴\n—\n📧rainzbizemail@gmail.com📧\nSocials 👇","status":2,"followStatus":0,"followingCount":1225,"followerCount":601562},"liveRoom":{"coverUrl":"https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast5-avt-0068-tx/b169e9223700dc8d20d327510eb47f94~tplv-tiktokx-cropcenter:720:720.webp?dr=9640&refresh_token=524467bc&x-expires=1751918400&x-signature=dYrBW7UodqMDScfs4YMnmfK24Zg%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=fdd36af4&idc=useast5","squareCoverImg":"https://p16-webcast.tiktokcdn-us.com/webcast-oci-tx/98159d71f96ce0a13c8234c485082e14~tplv-obj.image","title":"6'13 Grateful Streamer","startTime":1751744708,"status":2,"paidEvent":{"event_id":0,"paid_type":0},"liveSubOnly":0,"liveRoomMode":6,"hashTagId":5,"gameTagId":1983,"liveRoomStats":{"enterCount":30960,"userCount":804},"streamData":{"pull_data":{"options":{"default_quality":{"icon_type":0,"level":0,"name":"540p","resolution":"","sdk_key":"sd","v_codec":""},"qualities":[{"icon_type":6,"level":10,"name":"Original","resolution":"","sdk_key":"origin","v_codec":""}],"show_quality_button":false},"stream_data":"{\"common\":{\"session_id\":\"173-20250705204222D51B254BA2C5D264202E\",\"rule_ids\":\"{\\\"ab_version_trace\\\":null,\\\"sched\\\":\\\"{\\\\\\\"ids\\\\\\\":[\\\\\\\"ex_83506(Weight:100)\\\\\\\"],\\\\\\\"result\\\\\\\":{\\\\\\\"hit\\\\\\\":\\\\\\\"exclusive\\\\\\\",\\\\\\\"cdn\\\\\\\":2137}}\\\"}\",\"user_count\":798,\"peer_anchor_level\":39},\"data\":{\"hd\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd.flv?expire=1752957742&sign=0b9f362ee81ab0494d8a2a7a79151d1b\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd/index.m3u8?expire=1752957742&sign=b8c9cd9d85166f52d3beeda633ffc4dc\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd/index.mpd?expire=1752957742&sign=f3419a82237b7a24ebe2c8b04a269bed\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd.sdp?expire=1752957742&sign=611544c2e091d9412c4703535d062cf8\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"v_rtbitrate_std\\\":72940,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"gop\\\":4,\\\"VCodec\\\":\\\"h264\\\",\\\"vbitrate\\\":1800000,\\\"resolution\\\":\\\"720x1280\\\",\\\"v_rtbitrate_timestamp\\\":1751748120688,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate\\\":1805570,\\\"v_rtbitrate_pct\\\":1869670,\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"stream_suffix\\\":\\\"hd\\\"}\"}},\"sd\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd.flv?expire=1752957742&sign=a997e60f7b2943569d2150b235189f61\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd/index.m3u8?expire=1752957742&sign=e11b60cc01d20d8249ed3ac794451f18\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd/index.mpd?expire=1752957742&sign=5ea0fad39792b612278240cee4e004f8\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd.sdp?expire=1752957742&sign=897230cfaaaa5c0f466f356d0da03fa5\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_std\\\":43610,\\\"v_rtbitrate_timestamp\\\":1751748139604,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"resolution\\\":\\\"540x960\\\",\\\"VCodec\\\":\\\"h264\\\",\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate_pct\\\":1256440,\\\"gop\\\":4,\\\"stream_suffix\\\":\\\"sd\\\",\\\"vbitrate\\\":1200000,\\\"v_rtbitrate\\\":1208280}\"}},\"ld\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld.flv?expire=1752957742&sign=38fd63476fc1b0c3b7fc6828ffaa8ee2\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld/index.m3u8?expire=1752957742&sign=cb052bc15dddf7bb6305b2583a03bac7\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld/index.mpd?expire=1752957742&sign=fbd383e74714925a0abb2582fbe1a880\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld.sdp?expire=1752957742&sign=6312c2f07b9d50722464d60d39c5f7be\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"cdn_name\\\":\\\"fcdn\\\",\\\"stream_suffix\\\":\\\"ld\\\",\\\"v_rtpsnr\\\":0,\\\"vbitrate\\\":600000,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"v_rtbitrate_pct\\\":621460,\\\"v_rtbitrate\\\":594320,\\\"VCodec\\\":\\\"h264\\\",\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"resolution\\\":\\\"360x640\\\",\\\"gop\\\":4,\\\"v_rtbitrate_timestamp\\\":1751748132947,\\\"v_rtbitrate_std\\\":32580}\"}},\"origin\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_or4.flv?expire=1752957742&sign=cca075017a40a1573e92cac5522b5569\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_or4/index.m3u8?expire=1752957742&sign=e1d5e30eeeff14c0d24f2cd6caaa673e\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_or4/index.mpd?expire=1752957742&sign=955dbce31988959e0c69eb4562d96cf5\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_or4.sdp?expire=1752957742&sign=b3dd11ab0bdb4d90831e4f2a12bf3668\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"VCodec\\\":\\\"h264\\\",\\\"v_rtbitrate_std\\\":731110,\\\"resolution\\\":\\\"1080x1920\\\",\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"v_rtbitrate\\\":7974420,\\\"stream_suffix\\\":\\\"or4\\\",\\\"cdn_name\\\":\\\"fcdn\\\",\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"gop\\\":4,\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate_pct\\\":8378510,\\\"vbitrate\\\":1000000,\\\"v_rtbitrate_timestamp\\\":1751747896985}\"}},\"uhd_60\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd60.flv?expire=1752957742&sign=248ade261c9487bfa809d173ac4d6971\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd60/index.m3u8?expire=1752957742&sign=f5429c98a33a69391b66d31e507e5630\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd60/index.mpd?expire=1752957742&sign=533ecdc8e82a9c7982bc24276aab6381\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd60.sdp?expire=1752957742&sign=7d56655e54107ed5c1eaed85f82f6bad\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"stream_suffix\\\":\\\"uhd60\\\",\\\"resolution\\\":\\\"1080x1920\\\",\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"Auto\\\":{\\\"Demotion\\\":{\\\"StallCount\\\":4},\\\"Enable\\\":1},\\\"VCodec\\\":\\\"h264\\\",\\\"vbitrate\\\":5000000,\\\"v_rtbitrate_pct\\\":5198550,\\\"v_rtbitrate\\\":5013970,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate_timestamp\\\":1751748132146,\\\"v_rtbitrate_std\\\":135130,\\\"gop\\\":4}\"}},\"hd_60\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd60.flv?expire=1752957742&sign=283876364b4bb8a81c841d1f54294a08\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd60/index.m3u8?expire=1752957742&sign=fa51b72baac3cb6a5fb141ca16c78a2d\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd60/index.mpd?expire=1752957742&sign=91d31328a64fe80eb41436a3f0570572\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd60.sdp?expire=1752957742&sign=c7a001d036db84460189a158215560f9\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"stream_suffix\\\":\\\"hd60\\\",\\\"v_rtbitrate_timestamp\\\":1751747845776,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtbitrate\\\":3008490,\\\"v_rtbitrate_std\\\":42360,\\\"gop\\\":4,\\\"v_rtpsnr\\\":0,\\\"VCodec\\\":\\\"h264\\\",\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"vbitrate\\\":3000000,\\\"v_rtbitrate_pct\\\":3074100,\\\"resolution\\\":\\\"720x1280\\\"}\"}},\"ao\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836.flv?expire=1752957742&sign=e3deaa3e74cc33921accfe3e6165c407&only_audio=1\",\"hls\":\"\",\"cmaf\":\"\",\"dash\":\"\",\"lls\":\"\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"resolution\\\":\\\"\\\",\\\"VCodec\\\":\\\"h264\\\",\\\"Auto\\\":{\\\"Demotion\\\":{\\\"StallCount\\\":4},\\\"Enable\\\":1},\\\"gop\\\":4,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"vbitrate\\\":0}\"}}}}"}},"streamId":"3576322110592123836","multiStreamScene":0,"multiStreamSource":0,"hevcStreamData":{"pull_data":{"options":{"default_quality":{"icon_type":0,"level":0,"name":"540p","resolution":"","sdk_key":"sd","v_codec":""},"qualities":[{"icon_type":6,"level":10,"name":"Original","resolution":"","sdk_key":"origin","v_codec":""}],"show_quality_button":false},"stream_data":"{\"common\":{\"session_id\":\"173-20250705204222D51B254BA2C5D264202E\",\"rule_ids\":\"{\\\"ab_version_trace\\\":null,\\\"sched\\\":\\\"{\\\\\\\"ids\\\\\\\":[\\\\\\\"ex_83506(Weight:100)\\\\\\\"],\\\\\\\"result\\\\\\\":{\\\\\\\"hit\\\\\\\":\\\\\\\"exclusive\\\\\\\",\\\\\\\"cdn\\\\\\\":2137}}\\\"}\",\"user_count\":811,\"peer_anchor_level\":39},\"data\":{\"origin\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836.flv?expire=1752957742&sign=e3deaa3e74cc33921accfe3e6165c407\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836/index.m3u8?expire=1752957742&sign=dabd5577a80d25e975119ad5de32d7c4\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836/index.mpd?expire=1752957742&sign=1cc6612292638ca67524aea9a43a7832\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836.sdp?expire=1752957742&sign=d9bafd32a98bb13e9af529e7ecaf6006\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"VCodec\\\":\\\"h265\\\",\\\"vbitrate\\\":9281000,\\\"resolution\\\":\\\"1080x1920\\\",\\\"gop\\\":4,\\\"cdn_name\\\":\\\"fcdn\\\"}\"}},\"hd\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd5.flv?expire=1752957742&sign=6c568f1678af9da83ed34e5823f9305e\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd5/index.m3u8?expire=1752957742&sign=2bad9c9a97c350298d43aaca1fe81908\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd5/index.mpd?expire=1752957742&sign=ab1f937626b58046160280f9a742d4bc\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd5.sdp?expire=1752957742&sign=cd292d10f45021af548246623adc1087\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"stream_suffix\\\":\\\"hd5\\\",\\\"resolution\\\":\\\"720x1280\\\",\\\"v_rtbitrate_pct\\\":1536060,\\\"VCodec\\\":\\\"h265\\\",\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtbitrate\\\":1471180,\\\"v_rtbitrate_timestamp\\\":1751748131506,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"v_rtbitrate_std\\\":83830,\\\"vbitrate\\\":1600000,\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"gop\\\":4,\\\"v_rtpsnr\\\":0}\"}},\"sd\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd5.flv?expire=1752957742&sign=ef65e623965fb0c06aae09d13fad00d6\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd5/index.m3u8?expire=1752957742&sign=053370002175f4c4d5917305356690eb\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd5/index.mpd?expire=1752957742&sign=160c7efddb13960c75775f1ffedff113\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd5.sdp?expire=1752957742&sign=58b676988631de614b26ba978072a035\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"VCodec\\\":\\\"h265\\\",\\\"gop\\\":4,\\\"vbitrate\\\":1000000,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtbitrate\\\":1137520,\\\"resolution\\\":\\\"540x960\\\",\\\"v_rtpsnr\\\":0,\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"v_rtbitrate_std\\\":29840,\\\"v_rtbitrate_timestamp\\\":1751748134917,\\\"v_rtbitrate_pct\\\":1169410,\\\"stream_suffix\\\":\\\"sd5\\\"}\"}},\"ld\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld5.flv?expire=1752957742&sign=7abfe33020aed52d7e9c6b0b5c2d9843\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld5/index.m3u8?expire=1752957742&sign=0f660361551ef159118d92b7b7f590a8\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld5/index.mpd?expire=1752957742&sign=f847714e33c6a2ec2743e4e5ff8346cb\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld5.sdp?expire=1752957742&sign=ddd1eda19aae900d4d4518f931c88b0c\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"v_rtbitrate_pct\\\":584770,\\\"VCodec\\\":\\\"h265\\\",\\\"v_rtbitrate_timestamp\\\":1751748120961,\\\"v_rtbitrate\\\":553930,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"vbitrate\\\":600000,\\\"v_rtpsnr\\\":0,\\\"resolution\\\":\\\"360x640\\\",\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_std\\\":37620,\\\"stream_suffix\\\":\\\"ld5\\\",\\\"gop\\\":4}\"}},\"uhd_60\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd560.flv?expire=1752957742&sign=b99f69ff5e7685362398fa7965787402\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd560/index.m3u8?expire=1752957742&sign=1c0bd75d36c5b78c93a2c2ffc1f469cb\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd560/index.mpd?expire=1752957742&sign=93757d64ec94128815996c932b58d874\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd560.sdp?expire=1752957742&sign=28b90e7294f7819a1961d1cae41ab50a\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"Auto\\\":{\\\"Demotion\\\":{\\\"StallCount\\\":4},\\\"Enable\\\":1},\\\"stream_suffix\\\":\\\"uhd560\\\",\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtbitrate_timestamp\\\":1751748132527,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"resolution\\\":\\\"1080x1920\\\",\\\"v_rtbitrate_pct\\\":4371510,\\\"gop\\\":4,\\\"VCodec\\\":\\\"h265\\\",\\\"vbitrate\\\":4000000,\\\"v_rtbitrate\\\":4010510,\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate_std\\\":408960}\"}},\"hd_60\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd560.flv?expire=1752957742&sign=a85b2ad3530d6e8f2202ee6e091b712d\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd560/index.m3u8?expire=1752957742&sign=23646c3dc06aa2b226e73dfd2cbd616c\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd560/index.mpd?expire=1752957742&sign=ed8c81047486469a3b05dd952f2a00b9\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd560.sdp?expire=1752957742&sign=02813963eb9ebf398256ce723cd2c087\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"gop\\\":4,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtpsnr\\\":0,\\\"VCodec\\\":\\\"h265\\\",\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"stream_suffix\\\":\\\"hd560\\\",\\\"resolution\\\":\\\"720x1280\\\",\\\"v_rtbitrate_pct\\\":3304860,\\\"vbitrate\\\":2600000,\\\"v_rtbitrate\\\":3209500,\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_timestamp\\\":1751748133470,\\\"v_rtbitrate_std\\\":85690}\"}},\"ao\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836.flv?expire=1752957742&sign=e3deaa3e74cc33921accfe3e6165c407&only_audio=1\",\"hls\":\"\",\"cmaf\":\"\",\"dash\":\"\",\"lls\":\"\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"vbitrate\\\":0,\\\"resolution\\\":\\\"\\\",\\\"gop\\\":4,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"VCodec\\\":\\\"h264\\\"}\"}}}}"}}}}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}