{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/channel":{"get":{"tags":["YouTube"],"summary":"Channel Details","description":"Get comprehensive channel information including stats and metadata. Can pass channelId, handle, or url.","parameters":[{"name":"channelId","in":"query","required":false,"description":"YouTube channel ID. Can pass a channelId, handle or url","schema":{"type":"string"},"example":"UC-9-kyTW8ZkZNDHQJ6FgpwQ"},{"name":"handle","in":"query","required":false,"description":"YouTube channel handle. Can pass a channelId, handle or url","schema":{"type":"string"},"example":"ThePatMcAfeeShow"},{"name":"url","in":"query","required":false,"description":"YouTube channel URL. Can pass a channelId, handle or url","schema":{"type":"string"},"example":"https://www.youtube.com/@ThePatMcAfeeShow"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"channelId":"UCxcTeAKWJca6XyJ37_ZoKIQ","channel":"http://www.youtube.com/@ThePatMcAfeeShow","name":"The Pat McAfee Show","avatar":{"image":{"sources":[{"url":"https://yt3.googleusercontent.com/ytc/AIdro_nBgMGIxgHehCAlUUepEhd9Yooi1I55k6IF2WExl-v8Q-c=s72-c-k-c0x00ffffff-no-rj","width":72,"height":72}],"processor":{"borderImageProcessor":{"circular":true}}},"avatarImageSize":"AVATAR_SIZE_XL","loggingDirectives":{"trackingParams":"CC0Q6OENIhMIkInyhaSPiwMV9wfWAB3aoR9h","visibility":{"types":"12"}}},"description":"","subscriberCount":2750000,"subscriberCountText":"2.75M subscribers","videoCountText":"9,221 videos","viewCountText":"2,170,355,382 views","joinedDateText":"Joined Aug 23, 2017","tags":"pat mcafee, football, pat mcafee show, the pat mcafee show, pat mcafee podcast, pat mcafee clips, pat mcafee reacts, pat mcafee highlights, pat mcafee live, pat mcafee show live, pat mcafee podcast, nfl, nba, nhl, mlb, ufc, sports","email":null,"store":"https://store.patmcafeeshow.com","twitter":"https://twitter.com/PatMcAfeeShow","instagram":"https://instagram.com/patmcafeeshow","links":["https://store.patmcafeeshow.com"],"country":"United States"}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}