{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Threads","description":"Get Threads posts"}],"paths":{"/v1/threads/search":{"get":{"tags":["Threads"],"summary":"Search by Keyword","description":"Search for posts by keyword. Sadly Threads only publicly returns only 10 results at a time :( We can only scrape public data, so sadly this is all we can get at once. Run multiple times per day to get more results.","parameters":[{"name":"query","in":"query","required":true,"description":"Keyword to search for","schema":{"type":"string"},"example":"basketball"},{"name":"start_date","in":"query","required":false,"description":"Start date to search for","schema":{"type":"string"},"example":"2026-01-01"},{"name":"end_date","in":"query","required":false,"description":"End date to search for","schema":{"type":"string"},"example":"2026-01-01"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"posts":[{"id":"3658605407757558624_71259204903","pk":"3658605407757558624","caption":{"text":"This woman selling mini umbrellas shows love to stray cats & dogs & introduces them. She may not have money but is richer than many.🥹🥹","pk":"18077403781726333","has_translation":null},"code":"DLF-jv2tmNg","like_count":5419,"taken_at":1750359780,"user":{"pk":"71259204903","friendship_status":null,"profile_pic_url":"https://scontent-dfw5-2.cdninstagram.com/v/t51.2885-19/501402907_17869607802372904_1939177145792832486_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_ht=scontent-dfw5-2.cdninstagram.com&_nc_cat=1&_nc_oc=Q6cZ2QHQ6tqymzxxWWnD3Y69dUStiwPULqhvwrOx1_1jXHmGEOp8LBdxfOkihhVQW0v5NsY&_nc_ohc=FICE0ht7dSAQ7kNvwEXdDzp&_nc_gid=C_fAfqKQ2OEy746wTYa0sw&edm=APs17CUBAAAA&ccb=7-5&oh=00_AfPyuWIMTTIwpoiGW4059hDGkyKRW8eVZbUH1Zfzd2xxRw&oe=685AA184&_nc_sid=10d13b","username":"mahtabuddinit","id":"71259204903","full_name":"Mahtab Uddin","transparency_label":null,"transparency_product":null,"transparency_product_enabled":false,"is_verified":false,"text_post_app_is_private":false,"has_onboarded_to_text_post_app":true}}]}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}