{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"Facebook","description":"Get public Facebook profiles and posts"}],"paths":{"/v1/facebook/post/comments":{"get":{"tags":["Facebook"],"summary":"Comments","description":"Get the comments of a Facebook post (or reel)","parameters":[{"name":"url","in":"query","required":false,"description":"Facebook post URL (or reel URL)","schema":{"type":"string"},"example":"https://www.facebook.com/reel/753347914167361"},{"name":"feedback_id","in":"query","required":false,"description":"Using feedback_id (instead of url) will *really* speed up the request. You can get the feedback_id when you make a request to /v1/facebook/post.","schema":{"type":"string"},"example":"ZmVlZGJhY2s6MTQ0NzY1NjMyMzM4Mzg0OA=="},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more comments. Get 'cursor' from previous response.","schema":{"type":"string"},"example":"MToxNzU3MTA2NzYyOgF1P1VkxpkA9Ds4..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"comments":[{"id":"Y29tbWVudDoxMjA2OTAzNjAxNDgzOTYwXzc4NzQ2NjY0NzI2NTk4Mw==","text":"How are you not 300lbs?","created_at":"2025-09-01T00:38:58.000Z","reply_count":16,"reaction_count":76,"author":{"id":"pfbid0Ay28K5Lc7QpQLD8wZEHrq4ertocvWcZApjZjDoRqfkYQSzSxaPBS7qFt53v95rERl","name":"George Bergerac","gender":"MALE","profile_picture":"https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-1/505842751_10236156984095460_2868572328330516064_n.jpg?stp=cp0_dst-jpg_p64x64_tt6&_nc_cat=111&ccb=1-7&_nc_sid=e99d92&_nc_ohc=g-I4H6KKM6MQ7kNvwFuygDF&_nc_oc=AdnwxxAwIfIChiaCwfglGjg0KQPGmQ1OGj63ApE0s61cGAfuYk3N_GRergiUg3NRJdE&_nc_zt=24&_nc_ht=scontent-iad3-2.xx&_nc_gid=bSL3vZeoZ5ZB38ahoYqBtg&oh=00_AfZaDkoSLpJpbQieLDeGB_yykXQsr1Nv8hM_VfkUA1BcdA&oe=68C11D0D","short_name":"George"}}],"cursor":"MToxNzU3MTA2NzYyOg....","has_next_page":true}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}