{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 15+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"}],"paths":{"/v1/youtube/video/comments":{"get":{"tags":["YouTube"],"summary":"Comments","description":"Get comments from a video. Can only get 1k top comments and about 7k new comments.","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more comments. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"order","in":"query","required":false,"description":"Order of comments","schema":{"type":"string","enum":["top","newest"]},"example":"top"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"comments":[{"id":"UgwVfRopfS2F-WB3aF14AaABAg","content":"I love how in the middle he said \"I've been able to work with 2 great coaches... Pete and Coach Tomlin\"... Side shade to Coach Sean Payton, love it :)","publishedTimeText":"9 days ago","publishedTime":"2025-01-23T23:14:02.948Z","replyLevel":0,"author":{"name":"@SimonT80","channelId":"UC8JC3uSUmmXTCTKl-bgr1DA","isVerified":false,"isCreator":false,"avatarUrl":"https://yt3.ggpht.com/ytc/AIdro_lQ_2v9lDqwRrmdvEBfDNyFOvgQICl68X6WFkwZ5KI=s88-c-k-c0x00ffffff-no-rj","channelUrl":"https://youtube.com/@SimonT80"},"engagement":{"likes":110,"replies":5}}],"continuationToken":"Eg0SCzVFV2F4bVd...."}}}}}}}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"Your Scrape Creators API key"}}}}